@model ShopNow.ViewModels.BillCreateEditViewModel
@{
    ViewBag.Title = "Billing Charge Setting";
}
<title>SNOWCH | @ViewBag.Title</title>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-success">@ViewBag.Title</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/Bill/BillingChargeList" target="_self"><span class="fa fa-bars"></span> Billing Charge Setting List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("BillingCharge", "Bill", FormMethod.Post, new { id = "BillForm" }))
            {
                <div class="card mb-3 shadow">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group row">
                                                <div class="col-md-5 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-bold">Shop Name</label>
                                                </div>
                                                <div class="col-md-7">
                                                    <select id="ShopId" name="ShopId" class="form-control">
                                                        @if (ViewBag.ShopId != 0)
                                                        {
                                                            <option value="@ViewBag.ShopId">@ViewBag.ShopName</option>
                                                        }
                                                    </select>
                                                    <input type="hidden" name="ShopName" id="ShopName" value="@ViewBag.ShopName"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="sn_theme-gradient" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="col-md-12 text-theme_dark my-3">Delivery charge for customers</h5>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group row">
                                                <div class="col-md-5">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            Free up Delivery charge up to % of bill value
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="col-md-5">
                                                        <input type="number" class="form-control" name="DeliveryDiscountPercentage" id="DeliveryDiscountPercentage" />
                                                    </div>
                                                    <div class="col-md-12">
                                                        <span id="dcc" class="text-danger font-italic"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="sn_theme-gradient" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="col-md-12 text-theme_dark my-3">Packing Charge</h5>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group row">
                                                <div class="col-md-5 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-bold">Packing Type(Select Any One)</label>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-check-inline mr-3">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="ItemType" value="0" checked>Item wise
                                                        </label>
                                                    </div>
                                                    <div class="form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="radio" class="form-check-input" name="ItemType" value="1">Charge per Order
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="MultipleEntry">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group row">
                                                            <div class="col-md-5 text-md-left">
                                                                <strong class="text-secondary">Charge per Order</strong>
                                                            </div>
                                                            <div class="col-md-7">
                                                                <div class="col-md-5">
                                                                    <input type="number" class="form-control" name="PackingCharge" id="PackingCharge" />
                                                                </div>
                                                                <div class="col-md-7">
                                                                    <span id="pc" class="text-danger font-italic"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="sn_theme-gradient" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h5 class="col-md-12 text-theme_dark my-3">Convenience Charge</h5>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <div class="form-group row">
                                                <div class="col-md-5 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-bold">Levy Convenience Charge for order below Rs.</label>
                                                    <label class="small text-secondary font-italic">( <span class="font-weight-bold font-italic">Note : </span>Current rate is <span class="text-theme_light font-weight-bold">Rs.@ViewBag.PlatformCreditRate</span> per order )</label>
                                                    <input type="hidden" name="PlatformCreditRateId" value="@ViewBag.PlatformCreditRateId" />
                                                    <input type="hidden" name="PlatformCreditRate" value="@ViewBag.PlatformCreditRate" />
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="col-md-5">
                                                        <input type="number" class="form-control" name="ConvenientCharge" id="ConvenientCharge" />
                                                    </div>
                                                    <div class="col-md-7">
                                                        <span id="cc" class="text-danger font-italic"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="form-group row">
                                <div class="col-md-2 mx-auto">
                                    <button type="button" class="btn btn-block btn-success" id="Create"><span class="glyphicon glyphicon-file"></span> Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
              var msg = "@ViewBag.Message";
        if (msg != "") {
            swal("Notice!", msg, "warning")
        }
            $("#DeliveryDiscountPercentage").focusout(function () {
                var dcc = $(this).val();
                if (dcc == "" || dcc == null) {
                    $("#dcc").text("Please Enter a Percentage!");
                } else if (dcc == 0) {
                    $("#DeliveryDiscountPercentage").val("1");
                    $("#dcc").text("");
                } else {
                    $("#dcc").text("");
                }
            });

            $("#PackingCharge").focusout(function () {
                var pc = $(this).val();
                if (pc == "" || pc == null) {
                    $("#pc").text("Please Enter Packing Charge!");
                }
                else {
                    $("#pc").text("");
                }
            });
            
            $("#ConvenientCharge").focusout(function () {
                var cc = $(this).val();
                if (cc == "" || cc == null) {
                    $("#cc").text("Please Enter Convenient Charge!");
                } else if (cc == 0) {
                    $("#ConvenientCharge").val("1");
                    $("#cc").text("");
                } else {
                    $("#cc").text("");
                }
            });

            //$('input[type=radio][name=ItemType]').change(function () {
            //    $("#MultipleEntry").addClass("d-none");
            //    if (this.value == '0') {
            //        $("#MultipleEntry").addClass("d-none");
            //        $("#PackingCharge").val("");
            //    }
            //    else if (this.value == '1') {
            //        $("#MultipleEntry").removeClass("d-none");
            //        $("#PackingCharge").val("");
            //        $("#PackingCharge").focus();
            //    }
            //});

            $('#Create').on('click', function () {
                var PackingCharge = $("#PackingCharge").val();
                var itemtype = $('input[type=radio][name=ItemType]:checked').val();
                var isValidate = false;
                var requiredArr = [
                    'ShopId',
                    'DeliveryDiscountPercentage',
                    'ConvenientCharge'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    if (itemtype == 1) {
                        if (PackingCharge == "" || PackingCharge == null) {
                            $("#pc").text("Please Enter Packing Charge!");
                        } else {
                            $("#pc").text("");
                            $('#BillForm').submit();
                        }
                    } else {
                        $('#BillForm').submit();
                    }
                }
            });

            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Bill/GetBillShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.textSave);
            });
        });
    </script>
}
