@model ShopNow.ViewModels.BillCreateEditViewModel
@{
    ViewBag.Title = "Delivery Charge Setting";
}

<title>ShopNow | Delivery Charge Setting</title>

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">DELIVERY CHARGE SETTING</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/Bill/DeliveryChargeList" target="_self"><span class="fa fa-bars ml-3"></span> Delivery Charge List</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("DeliveryUpdate", "Bill", FormMethod.Post, new { id = "DeliveryForm" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" value="@Model.Id" />
                <input type="hidden" name="DateEncoded" value="@Model.DateEncoded" />
                <input type="hidden" name="DateUpdated" value="@Model.DateUpdated" />
                <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
                <input type="hidden" name="UpdatedBy" value="@Model.UpdatedBy" />
                <input type="hidden" name="Status" value="@Model.Status" />
                <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                <input type="hidden" name="CustomerName" value="@Model.CustomerName" />
                <input type="hidden" name="NameOfBill" value="@Model.NameOfBill" />
                <input type="hidden" name="ItemType" value="@Model.ItemType" />
                <input type="hidden" name="Distance" value="@Model.Distance" />
                <input type="hidden" name="TotalAmount" value="@Model.TotalAmount" />
                <input type="hidden" name="ShopId" value="@Model.ShopId" />
                <input type="hidden" name="ShopName" value="@Model.ShopName" />
                <input type="hidden" name="DeliveryRateSet" id="DeliveryRateSet" value="@Model.DeliveryRateSet" />
                <input type="hidden" name="Type" id="Type" value="@Model.Type" />
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12 mt-3">
                                <div class="row">
                                    <div class="col-md-2 text-center text-theme_dark">
                                        <h5>Delivery Mode</h5>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-check-inline mr-3">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="DRS" value="0" disabled> General
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="DRS" value="1" disabled> Special
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-2 text-center text-theme_dark">
                                        <h6>Delivery Charge Type</h6>
                                    </div>
                                    <div class="col-md-8">
                                        @if (Model.Type == 1)
                                        {
                                            <label> 1<sup>st</sup> Tier</label>}
                                        @if (Model.Type == 2)
                                        {
                                            <label> 2<sup>nd</sup> Tier</label>}
                                        @if (Model.Type == 3)
                                        {
                                            <label> 3<sup>rd</sup> Tier</label>}
                                    </div>
                                </div>
                                <hr class="sn_theme-gradient" />
                            </div>
                        </div>
                        <div id="GeneralEntry">
                            <div class="row">
                                <h5 class="col-md-12 text-theme my-3">General Delivery Charge</h5>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">Rate upto 5 Km. <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeKM" id="DeliveryChargeKM" class="form-control" value="@Model.DeliveryChargeKM" min="25" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">After 5 Km. (Rate per Km.) <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeOneKM" id="DeliveryChargeOneKM" class="form-control" value="@Model.DeliveryChargeOneKM" min="5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-none" id="SpecialEntry">
                            <div class="row">
                                <h5 class="col-md-12 text-theme my-3">Special Delivery Charge</h5>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">Rate upto 5 Km. <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeKM1" id="DeliveryChargeKM1" class="form-control" value="@Model.DeliveryChargeKM1" min="30" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-3 text-md-left">
                                            <strong class="text-secondary">After 5 Km. (Rate per Km.) <span class="text-danger">*</span></strong>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="number" name="DeliveryChargeOneKM1" id="DeliveryChargeOneKM1" class="form-control" value="@Model.DeliveryChargeOneKM1" min="10" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 my-2 mx-auto">
                                <button type="button" class="btn btn-block btn-success" id="Edit"><span class="glyphicon glyphicon-file"></span> Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                var drs = $("#DeliveryRateSet").val();
                $("input[name=DRS][value=" + drs + "]").attr('checked', 'checked');
                if (drs == 0) {
                    $("#GeneralEntry").removeClass("d-none");
                    $("#SpecialEntry").addClass("d-none");
                } else {
                    $("#GeneralEntry").addClass("d-none");
                    $("#SpecialEntry").removeClass("d-none");
                }
            });

            $('#Edit').on('click', function () {
                var generalDeliveryChargekm = $('#DeliveryChargeKM').val();
                var generalDeliveryChargeOnekm = $('#DeliveryChargeOneKM').val();
                var specialDeliveryChargekm = $('#DeliveryChargeKM1').val();
                var specialDeliveryChargeOnekm = $('#DeliveryChargeOneKM1').val();
                var entry = $("#DeliveryRateSet").val();

                if (entry == 0) {
                    if (generalDeliveryChargekm == null || generalDeliveryChargeOnekm == null || generalDeliveryChargekm == "" || generalDeliveryChargeOnekm == "") {
                        swal("Notice!", "Please Enter General Delivery Charge Amount!", "warning");
                    }
                    //else if (generalDeliveryChargekm < 25) {
                    //    swal("Notice!", "General Delivery Charge within 5KM is Minimum Rs.25", "warning");
                    //} else if (generalDeliveryChargeOnekm < 5) {
                    //    swal("Notice!", "General Delivery Charge After 5KM per KM is Minimum Rs.5", "warning");
                    //}
                    else {
                        $('#DeliveryForm').submit();
                    }
                } else if (entry == 1) {
                    if (specialDeliveryChargekm == null || specialDeliveryChargeOnekm == null || specialDeliveryChargekm == "" || specialDeliveryChargeOnekm == "") {
                        swal("Notice!", "Please Enter Special Delivery Charge Amount!", "warning");
                    }
                    //else if (specialDeliveryChargekm < 30) {
                    //    swal("Notice!", "Special Delivery Charge within 5KM is Minimum Rs.30", "warning");
                    //} else if (specialDeliveryChargeOnekm < 10) {
                    //    swal("Notice!", "Special Delivery Charge After 5KM per KM is Minimum Rs.10", "warning");
                    //}
                    else {
                        $('#DeliveryForm').submit();
                    }
                }
            }) ;
            
        });
    </script>
}
