@model ShopNow.ViewModels.MobileAppVersionCreateEditViewModel

@{
	ViewBag.Title = "MobileApp Version Entry";
}

<link href="~/Content/theme-purchases.css" rel="stylesheet" />

<div class="container-fluid my-4">
	<div class="row">

		<div class="col-3">
			<div class="card  left-panel">
				<div class="card-header">
					<h6 class="card-title"><i class="fa fa-fw fa-link"></i> Quick Links</h6>
				</div>
				<div class="card-body">
					<ul>
						<li><a href="~/"><i class="fa fa-fw fa-tachometer"></i> Dashboard</a></li>
						<li><a href="~/MobileAppVersion/index"><i class="fa fa-fw fa-list"></i> MobileApp Version List</a></li>
					</ul>
				</div>
			</div>

		</div>
		<div class="col-9">

			@using (Html.BeginForm("Create", "MobileAppVersion", FormMethod.Post, new { id = "MobileAppVersionForm" }))


			{
				<div class="card ">
					<div class="card-header">
						<h6 class="card-title">Create</h6>
					</div>
					<div class="card-body">
						@Html.AntiForgeryToken()

						<div class="form-horizontal">

							@Html.ValidationSummary(true, "", new { @class = "text-danger" })

							<div class="form-group">
								@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
								</div>
							</div>

							<div class="form-group">
								@Html.LabelFor(model => model.Version, htmlAttributes: new { @class = "control-label col-md-2" })
								<div class="col-md-10">
									@Html.EditorFor(model => model.Version, new { htmlAttributes = new { @class = "form-control" } })
									@Html.ValidationMessageFor(model => model.Version, "", new { @class = "text-danger" })
								</div>
							</div>

							<div class="form-group">
								<div class="col-md-offset-2 col-md-10">
									<input type="submit" value="Create" class="btn btn-default" />
								</div>
							</div>
						</div>
					</div>
				</div>


			}

		</div>
		@*<div class="col-2">
			<div class="card  right-panel">
				<div class="card-header" id="borders">
					<h3 class="card-title"><i class="fa fa-fw fa-thumbs-up"></i> Actions</h3>
				</div>
				<div class="card-body">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</div>


		</div>*@



	</div>

</div>
	
