@model ShopNow.ViewModels.DeliveryBoyCreateEditViewModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/MarketingAgent/_Layout.cshtml";
}
<title>Marketing Agent | DeliveryBoy Update</title>

<div class="container-fluid my-0">
    <div class="row mb-2">
        <div class="col-md-3">
            <h5 class="" style="letter-spacing:1px">DELIVERYBOY UPDATE</h5>
        </div>
        <div class="col-md-9 text-right">
            <a class="btn btn-sm btn-primary text-break" target="_self" href="~/MarketingAgent/DeliveryBoyList" role="button">Delivery Boy List</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("DeliveryBoyEdit", "MarketingAgent", FormMethod.Post, new { id = "DeliveryBoyUpdateForm", role = "form", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Code" id="Code" value="@Model.Code" />
                <input type="hidden" name="ImagePath" value="@Model.ImagePath" />
                <input type="hidden" name="CVPath" value="@Model.CVPath" />
                <input type="hidden" name="DrivingLicenseImagePath" id="DrivingLicenseImagePath" value="@Model.DrivingLicenseImagePath" />
                <input type="hidden" name="BankPassbookPath" id="BankPassbookPath" value="@Model.BankPassbookPath" />
                <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
                <input type="hidden" name="UpdatedBy" value="@Model.UpdatedBy" />
                <input type="hidden" name="DateEncoded" value="@Model.DateEncoded" />
                <input type="hidden" name="DateUpdated" value="@Model.DateUpdated" />
                <input type="hidden" name="CustomerCode" value="@Model.CustomerCode" />
                <input type="hidden" name="CustomerName" value="@Model.CustomerName" />
                <input type="hidden" name="Status" value="@Model.Status" />
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <label class="col-form-label"><strong class="text-secondary">Delivery Boy Name</strong></label>
                                    <input id="Name" type="text" class="form-control name" name="Name" value="@Model.Name" />
                                </div>
                                <div class="col-md-3">
                                    <label class="col-form-label"><strong class="text-secondary">Mobile Number</strong></label>
                                    <input type="number" class="form-control phone" name="PhoneNumber" id="PhoneNumber" value="@Model.PhoneNumber" />
                                </div>
                                <div class="col-md-3">
                                    <label class="col-form-label"><strong class="text-secondary">Email</strong></label>
                                    <input type="email" class="form-control email" name="Email" id="Email" value="@Model.Email" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <input class="col-11 my-2" id="pac-input" type="text" placeholder="Select your Place" />
                                        <div id="location-error"></div>
                                        <div class="" id="map" style="width: 92%; height: 230px;"></div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="col-form-label"><strong class="text-secondary">Delivery Agent Preference Area</strong></label>
                                            <input id="Address" type="text" class="form-control mb-2" name="Address" value="@Model.Address" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <small class="control-label" for="StreetName"><i class="text-secondary">Locality</i></small>
                                            <input id="StreetName" type="text" class="form-control mb-2" name="StreetName" value="@Model.StreetName" />
                                        </div>
                                        <div class="col-md-4">
                                            <small class="control-label" for="DistrictName"><i class="text-secondary">District</i></small>
                                            <input id="DistrictName" type="text" class="form-control" name="DistrictName" value="@Model.DistrictName" />
                                        </div>
                                        <div class="col-md-4">
                                            <small class="control-label" for="StateName"><i class="text-secondary">State / Province</i></small>
                                            <input id="StateName" type="text" class="form-control mb-2" name="StateName" value="@Model.StateName" />
                                        </div>
                                        <div class="col-md-4">
                                            <small class="control-label" for="CountryName"><i class="text-secondary">Country</i></small>
                                            <input id="CountryName" type="text" class="form-control mb-2" name="CountryName" value="@Model.CountryName" />
                                        </div>
                                        <div class="col-md-4">
                                            <small class="control-label" for="PinCode"><i class="text-secondary">PIN Code</i></small>
                                            <input id="PinCode" type="text" class="form-control" name="PinCode" value="@Model.PinCode" />
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4">
                                            <small class="control-label" for="Latitude"><i class="text-secondary">Latitude</i></small>
                                            <input id="Latitude" type="text" class="form-control mb-2" placeholder="Latitude" name="Latitude" readonly value="@Model.Latitude" />
                                        </div>
                                        <div class="col-md-4">
                                            <small class="control-label" for="Longitude"><i class="text-secondary">Longitude</i></small>
                                            <input id="Longitude" type="text" class="form-control" placeholder="Longitude" name="Longitude" readonly value="@Model.Longitude" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-deck">
                            <div class="card border-info">
                                <div class="card-body text-center">
                                    <label class="col-md-12 text-center text-secondary font-weight-bold">Image</label>
                                    <label class="col-md-12 small font-italic">* Upload recent photo</label>
                                    <div class="row">
                                        <div class="img-upload-container mx-auto text-center">
                                            <a href="~/Shop/ImageProtected">
                                                <img class="img-container w-100 h-100" id="img-upload" src="@Model.ImagePath" onerror="this.src='/Images/No Photo.png'" />
                                                <input type="file" id="DeliveryBoyImage" name="DeliveryBoyImage" class="d-none" />
                                                <label for="DeliveryBoyImage" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card border-info">
                                <div class="card-body">
                                    <label class="col-md-12 text-center"><strong class="text-secondary">Resume</strong></label>
                                    <div class="row">
                                        <div class="col-md-12 my-3 text-center">
                                            <a href="@Model.CVPath" target="_blank"> Click here for Pdf view</a>
                                            <input type="file" id="CVPdf" class="my-3" name="CVPdf" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-info bg-muted">
                                <div class="card-body">
                                    <label class="col-md-12 text-center"><strong class="text-secondary">Driving License</strong></label>
                                    <small class="control-label"><i class="text-secondary">License Number</i></small>
                                    <input id="LicenseNumber" type="text" class="form-control" name="LicenseNumber" value="@Model.LicenseNumber" />
                                    <small class="control-label"><i class="text-secondary">License Image</i></small>
                                    <div class="row text-center">
                                        <div class="col-md-12">
                                            <input type="radio" class="mr-1" name="DrivingLicense" value="Image" id="LicenseImage" checked> <label for="LicenseImage" class="mr-3"> Image</label>
                                            <input type="radio" class="mr-1" name="DrivingLicense" value="PDF" id="LicensePDF"> <label for="LicensePDF"> PDF</label>
                                        </div>
                                    </div>
                                    <div class="row DrivingPdf d-none">
                                        <div class="col-md-12 my-3 text-center">
                                            <a href="@Model.DrivingLicenseImagePath" target="_blank"> Click here for Pdf view</a>
                                            <input type="file" id="DrivingLicensePdf" class="my-3" name="DrivingLicensePdf" />
                                        </div>
                                    </div>
                                    <div class="row DrivingImg">
                                        <div class="img-upload-container mx-auto">
                                            <a href="~/Shop/ImageProtected">
                                                <img class="img-container w-100 h-100" id="img-license" src="@Model.DrivingLicenseImagePath" onerror="this.src='/Images/No Photo.png'" />
                                                <input type="file" id="DrivingLicenseImage" name="DrivingLicenseImage" class="d-none" />
                                                <label for="DrivingLicenseImage" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="button" class="btn btn-sm btn-warning mb-2" data-toggle="modal" data-target="#LicenseModal"><i class="fa fa-search-plus"></i> Expand</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 row">
                        <div class="col-md-8">
                            <h5 class="my-2">Bank Details</h5>

                            <div class="form-group row">
                                <div class="col-md-6">
                                    <small class="control-label" for="BankName"><i class="text-secondary">Bank Name</i></small>
                                    <input id="BankName" type="text" class="form-control" name="BankName" value="@Model.BankName" />
                                </div>
                                <div class="col-md-6">
                                    <small class="control-label" for="AccountName"><i class="text-secondary">Account Name</i></small>
                                    <input id="AccountName" type="text" class="form-control" name="AccountName" value="@Model.AccountName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <small class="control-label" for="AccountNumber"><i class="text-secondary">Account Number</i></small>
                                    <input id="AccountNumber" type="text" class="form-control" name="AccountNumber" value="@Model.AccountNumber" />
                                </div>
                                <div class="col-md-6">
                                    <small class="control-label" for="IFSCCode"><i class="text-secondary">IFSC Code</i></small>
                                    <input id="IFSCCode" type="text" class="form-control" name="IFSCCode" value="@Model.IFSCCode" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-deck">
                                <div class="card border-info bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">Bank Account</strong></label>
                                        <div class="text-center">
                                            <div class="col-md-12">
                                                <input type="radio" class="mr-1" name="AccountDocument" value="Image" id="AccountImage" checked> <label for="AccountImage" class="mr-3"> Image</label>
                                                <input type="radio" class="mr-1" name="AccountDocument" value="PDF" id="AccountPDF"> <label for="AccountPDF"> PDF</label>
                                            </div>
                                        </div>
                                        <div class="AccountDocumentPdf d-none">
                                            <div class="col-md-12 my-3 text-center">
                                                <a href="@Model.BankPassbookPath" target="_blank"> Click here for Pdf view</a>
                                                <input type="file" id="BankPassbookPdf" class="my-3" name="BankPassbookPdf" />
                                            </div>
                                        </div>
                                        <div class="row AccountDocumentImg">
                                            <div class="img-upload-container mx-auto">
                                                <a href="~/Shop/ImageProtected">
                                                    <img class="img-container w-100 h-100" id="img-account" src="@Model.BankPassbookPath" onerror="this.src='/Images/No Photo.png'" />
                                                    <input type="file" id="BankPassbookImage" name="BankPassbookImage" class="d-none" />
                                                    <label for="BankPassbookImage" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#AccountModal"><i class="fa fa-search-plus"></i> Expand</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-md-3 mx-auto">
                            <button type="button" class="btn btn-block btn-success" id="Edit"><span class="glyphicon glyphicon-file"></span>Update</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!--License Model-->

<div class="modal fade" id="LicenseModal" tabindex="-1" role="dialog" aria-labelledby="LicenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Driving License</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="print-License">
                    <div class="col-md-6">
                        <a href="@Model.DrivingLicenseImagePath" target="_blank" class="ml-3 license-pdf d-none"> Click here for Pdf view</a>
                        <a href="~/Shop/ImageProtected">
                            <img class="img-container w-100 h-100 mb-2 license-img" src="@Model.DrivingLicenseImagePath" onerror="this.src='/Images/No Photo.png'" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <label class="text-left text-secondary font-weight-bold mt-1"><i>License Number</i></label>
                        <input type="text" class="form-control" value="@Model.LicenseNumber" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" id="btnLicensePrint" onclick="printDiv('print-License')">Print</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Account Model-->
<div class="modal fade" id="AccountModal" tabindex="-1" role="dialog" aria-labelledby="AccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AccountModalLabel">Bank Account Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="print-Account">
                    <div class="col-md-6">
                        <a href="@Model.BankPassbookPath" target="_blank" class="mb-2 account-pdf d-none"> Click here for Pdf view</a>
                        <a href="~/Shop/ImageProtected">
                            <img class="img-container w-100 h-100 mb-2 account-img" src="@Model.BankPassbookPath" onerror="this.src='/Images/No Photo.png'" />
                        </a>
                    </div>
                    <div class="col-md-6">
                        <label class="col-md-4 text-left text-secondary font-weight-bold mt-1"><i>Bank Name</i></label>
                        <input type="text" class="form-control col-md-8" value="@Model.BankName" readonly />

                        <label class="col-md-4 text-left text-secondary font-weight-bold mt-1"><i>Account Name</i></label>
                        <input type="text" class="form-control col-md-8" value="@Model.AccountName" readonly />

                        <label class="col-md-4 text-left text-secondary font-weight-bold mt-1"><i>Account Number</i></label>
                        <input type="text" class="form-control col-md-8" value="@Model.AccountNumber" readonly />

                        <label class="col-md-4 text-left text-secondary font-weight-bold mt-1"><i>IFSC Code</i></label>
                        <input type="text" class="form-control col-md-8" value="@Model.IFSCCode" readonly />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" id="btnAccountPrint" onclick="printDiv('print-Account')">Print</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRsR3Wpkj_Vofy5FSU0otOx-6k-YFiNBk&libraries=places&callback=initMap"
            async defer></script>
    <script>
        $(document).ready(function () {

            $('#Edit').on('click', function () {
                var phoneNumber = $("#PhoneNumber").val();
                var $regexname = /^([a-zA-Z]{3,30})$/;
                var $regexphone = /^([0-9]{10,16})$/;
                var $regexmail = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                var name = $("#Name").val();
                var phone = $("#PhoneNumber").val();
                var email = $("#Email").val();

                var isValidated = false;
                var requiredArr = [
                    'Name',
                    'PhoneNumber',
                    'Email'
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidated) {
                    if (!name.match($regexname)) {
                        swal("Notice!", "Please Enter a Valid Name!", "warning");
                    } else {
                        if (!phone.match($regexphone)) {
                            swal("Notice!", "Please Enter a Valid PhoneNumber!", "warning");
                        } else {
                            if (!email.match($regexmail)) {
                                swal("Notice!", "Please Enter a Valid Email!", "warning");
                            } else {
                                $.getJSON("/DeliveryBoy/ExistMobileNumber?PhoneNumber=" + phoneNumber, function (data) {
                                    if (data.IsExist == true) {
                                        swal({
                                            title: data.message,
                                            text: "",
                                            type: "warning"
                                        }, function () {
                                            //window.location.reload();
                                        });
                                    } else {
                                        $('#DeliveryBoyUpdateForm').submit();
                                    }
                                });
                            }
                        }
                    }
                }
            });

            $('input:radio[name="DrivingLicense"]').change(
                function () {
                    if (this.checked && this.value == 'Image') {
                        $('.DrivingImg').removeClass('d-none');
                        $('.DrivingPdf').addClass('d-none');
                        $("#DrivingLicensePdf").val("");
                        $('.license-img').removeClass('d-none');
                        $('.license-pdf').addClass('d-none');
                    } else {
                        $('.DrivingImg').addClass('d-none');
                        $('.DrivingPdf').removeClass('d-none');
                        $("#DrivingLicenseImage").val("");
                        $('.license-img').addClass('d-none');
                        $('.license-pdf').removeClass('d-none');
                    }
                });

            $('input:radio[name="AccountDocument"]').change(
                function () {
                    if (this.checked && this.value == 'Image') {
                        $('.AccountDocumentImg').removeClass('d-none');
                        $('.AccountDocumentPdf').addClass('d-none');
                        $("#BankPassbookPdf").val("");
                        $('.account-img').removeClass('d-none');
                        $('.account-pdf').addClass('d-none');
                    } else {
                        $('.AccountDocumentImg').addClass('d-none');
                        $('.AccountDocumentPdf').removeClass('d-none');
                        $("#BankPassbookImage").val("");
                        $('.account-img').addClass('d-none');
                        $('.account-pdf').removeClass('d-none');
                    }
                });

            var strLicense = $("#DrivingLicenseImagePath").val();
            var strAccount = $("#BankPassbookPath").val();
            var regExp = /.pdf/g;
            var resLicense = strLicense.match(regExp);
            var resAccount = strAccount.match(regExp);
            if (resLicense == ".pdf") {
                $("#LicensePDF").prop("checked", true);
                $('.DrivingImg').addClass('d-none');
                $('.DrivingPdf').removeClass('d-none');
                $("#DrivingLicenseImage").val("");
                $("#img-license").attr('src', '');
                $('.license-pdf').removeClass('d-none');
                $('.license-img').addClass('d-none');
            } else {
                $("#LicenseImage").prop("checked", true);
                $('.DrivingImg').removeClass('d-none');
                $('.DrivingPdf').addClass('d-none');
                $("#DrivingLicensePdf").val("");
                $('.license-pdf').addClass('d-none');
                $('.license-img').removeClass('d-none');
            }
            if (resAccount == ".pdf") {
                $("#AccountPDF").prop("checked", true);
                $('.AccountDocumentImg').addClass('d-none');
                $('.AccountDocumentPdf').removeClass('d-none');
                $("#BankPassbookImage").val("");
                $("#img-account").attr('src', '');
                $('.account-pdf').removeClass('d-none');
                $('.account-img').addClass('d-none');
            } else {
                $("#AccountImage").prop("checked", true);
                $('.AccountDocumentImg').removeClass('d-none');
                $('.AccountDocumentPdf').addClass('d-none');
                $("#BankPassbookPdf").val("");
                $('.account-pdf').addClass('d-none');
                $('.account-img').removeClass('d-none');
            }

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLlicense(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-license').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLaccount(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-account').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#DeliveryBoyImage").change(function () {
                readURL(this);
            });

            $("#DrivingLicenseImage").change(function () {
                readURLlicense(this);
            });

            $("#BankPassbookImage").change(function () {
                readURLaccount(this);
            });

        });

        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            w = window.open();
            w.document.write(printContents);
            w.print();
            w.close();
        }

        var map, infoWindow, markers = [];
        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var card = document.getElementById('pac-card');
                    var input = document.getElementById('pac-input');
                    var autocomplete = new google.maps.places.Autocomplete(input);
                    map = new google.maps.Map(document.getElementById('map'), {
                        center: { lat: position.coords.latitude, lng: position.coords.longitude },
                        zoom: 6
                    });

                    infoWindow = new google.maps.InfoWindow;

                    if (navigator.geolocation) {
                        navigator.geolocation.getCurrentPosition(function (position) {
                            var pos = {
                                lat: position.coords.latitude,
                                lng: position.coords.longitude
                            };


                            var marker = new google.maps.Marker({
                                position: pos,
                                map: map,
                                draggable: true,
                                title: "your place"
                            });
                            markers.push(marker);

                            google.maps.event.addListener(marker, 'dragend', function (evt) {
                                geocodePosition(marker.position);
                            });

                            google.maps.event.addListener(marker, 'drag', function () {
                                geocodePosition(marker.position);
                            });


                            function geocodePosition(pos) {

                                var google_maps_geocoder = new google.maps.Geocoder();
                                google_maps_geocoder.geocode(
                                    { 'latLng': pos },
                                    function (results, status) {
                                        console.log(results);
                                        $('#Address').val(results[0].formatted_address);
                                        var address = results[0].address_components;
                                        $.each(address, function () {

                                            if (this.types[0] == "locality") {
                                                $('#StreetName').val(this.long_name);
                                            }
                                            if (this.types[0] == "administrative_area_level_2") {
                                                $('#DistrictName').val(this.long_name);
                                            }
                                            if (this.types[0] == "administrative_area_level_1") {
                                                $('#StateName').val(this.long_name);
                                            }
                                            if (this.types[0] == "country") {
                                                $('#CountryName').val(this.long_name);
                                            }

                                            if (this.types[0] == "postal_code") {
                                                $('#PinCode').val(this.long_name);
                                            }

                                        });

                                        $('#Latitude').val(results[0].geometry.location.lat);
                                        $('#Longitude').val(results[0].geometry.location.lng);

                                    }
                                );
                            }
                            autocomplete.addListener('place_changed', function () {
                                document.getElementById("location-error").style.display = 'none';
                                markers.forEach(function (marker) {
                                    marker.setMap(null);
                                });

                                var place = autocomplete.getPlace();
                                if (!place.geometry) {
                                    document.getElementById("location-error").style.display = 'inline-block';
                                    document.getElementById("location-error").innerHTML = "Cannot Locate '" + input.value + "' on map";
                                    return;
                                }
                                var marker = new google.maps.Marker({
                                    position: pos,
                                    map: map,
                                    title: "your place"
                                });

                                google.maps.event.addListener(marker, 'click', function () {
                                    infowindow.open(map, marker);
                                });
                                markers.push(marker);

                                map.fitBounds(place.geometry.viewport);
                                marker.setPosition(place.geometry.location);
                                marker.setVisible(true);
                                console.log(place);
                                $('#Address').val(place.formatted_address);
                                var address = place.address_components;
                                $.each(address, function () {

                                    if (this.types[0] == "locality") {
                                        $('#StreetName').val(this.long_name);
                                    }
                                    if (this.types[0] == "administrative_area_level_2") {
                                        $('#DistrictName').val(this.long_name);
                                    }
                                    if (this.types[0] == "administrative_area_level_1") {
                                        $('#StateName').val(this.long_name);
                                    }
                                    if (this.types[0] == "country") {
                                        $('#CountryName').val(this.long_name);
                                    }
                                    if (this.types[0] == "postal_code") {
                                        $('#PinCode').val(this.long_name);
                                    }

                                });

                                $('#Latitude').val(place.geometry.location.lat);
                                $('#Longitude').val(place.geometry.location.lng);

                            });
                        }, function () {
                            handleLocationError(true, infoWindow, map.getCenter());
                        });
                    } else {

                        handleLocationError(false, infoWindow, map.getCenter());
                    }

                });
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: The Geolocation service failed.' :
                'Error: Your browser doesn\'t support geolocation.');
            infoWindow.open(map);
        }

    </script>
}