@model ShopNow.ViewModels.OrderMissedListViewModel
@{
    ViewBag.Title = "Order Missed List";
}
<title>ShopNow | @ViewBag.Title</title>

<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-4">
            <h5 class="text-success">@ViewBag.Title</h5>
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Sl.No.</th>
                                        <th>Order Number</th>
                                        <th>Shop Name</th>
                                        <th>Customer PhoneNo.</th>
                                        <th>Payment Mode</th>
                                        <th>Amount</th>
                                        <th>DateTime</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        var count = Model.List.IndexOf(item);
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.OrderNumber</td>
                                            <td>@item.ShopName</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@item.PaymentMode</td>
                                            <td>@item.TotalPrice</td>
                                            <td class="text-nowrap">@item.DateEncoded</td>
                                            <td>
                                                @if (item.PaymentMode == "Cash On Hand")
                                                {
                                                    <a href="~/Support/COHPaymentUpdate?orderno=@item.OrderNumber" class="btn btn-sm btn-info mr-5">Payment Update</a>
                                                }
                                                else if (item.PaymentMode == "Online Payment")
                                                {
                                                    <a href="~/Support/OnlinePaymentUpdate?orderno=@item.OrderNumber" class="btn btn-sm btn-info">PaymentUpdate</a>
                                                }
                                                <a href="javascript:void(0)" data-id="@item.OrderNumber" class="btn btn-sm btn-danger btnReject"> Reject</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        @if (Model.List.Count == 0)
                                        {
                                            <td colspan="4">No data found.</td>

                                        }
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".btnReject").click(function () {
                var orderno = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to reject?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Reject it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Support/RejectUpdate", { orderno: orderno }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    });
            });
        });
    </script>
}

