@model ShopNow.ViewModels.DiscountCategoryListViewModel
@{

    ViewBag.Title = "DiscountCategory";
}
<title>ShopNow | Discount Category List</title>

@using (Html.BeginForm("List", "DiscountCategory", FormMethod.Post, new { id = "DiscountCategoryForm" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h5 class="text-success" style="letter-spacing:1px">DISCOUNT CATEGORY LIST</h5>
            </div>
            <div class="col-md-3 col-sm-4 mb-2 data-search">
            </div>
            <div class="col-md-6 text-right">
                <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New Discount Category</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-borderless table-hover" id="DiscountCategory-list">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Discount Category</th>
                                        <th>Percentage</th>
                                        <th>Shop Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@item.Name</td>
                                            <td>@item.Percentage</td>
                                            <td>@item.ShopName</td>
                                            <td>
                                                <a href="editModal" data-id="@item.Id" data-name="@item.Name" data-percentage="@item.Percentage" data-shopid="@item.ShopId" data-shopname="@item.ShopName" class="text-info mr-5 edit-prompt" data-toggle="modal" data-target="#editModal"><i class="fa fa-edit fa-lg"></i></a>
                                                <a href="javascript:void(0)" data-id="@item.Id" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="createModalLabel">New Discount Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label"><strong class="text-secondary">Shop Name</strong></label>
                        <select name="ShopId" class="form-control" id="ShopId">
                        </select>
                        <input type="hidden" id="ShopName" name="ShopName" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Category Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Percentage</label>
                        <input type="number" name="Percentage" id="Percentage" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="editModalLabel">Update Discount Category</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-12">
                        <label class="col-form-label"><strong class="text-secondary">Shop Name</strong></label>
                        <select name="ShId" class="form-control" id="ShId"></select>
                        <input type="hidden" id='SName' name='SName' value='" + shopname + "' />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Category Name</label>
                        <div id="DiscountCategoryName"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Percentage</label>
                        <div id="DiscountPercentage"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Edit" name="Edit" value="Update" class="btn btn-success float-right" />
                <input type="hidden" name="DiscountCategoryId" id="DiscountCategoryId" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var t = $('#DiscountCategory-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": -1,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#Create').on('click', function () {
                var name = $('#Name').val();
                var percentage = $('#Percentage').val();
                var shopid = $('#ShopId').val();
                var shopname = $('#ShopName').val();
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'Percentage'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    $.getJSON("/DiscountCategory/Save?Name=" + name + "&Percentage=" + percentage + "&ShopId=" + shopid + "&ShopName=" + shopname, function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#Percentage').val("");
                            }
                        }
                    });
                }
            });

            $('#ShopId').select2({
                placeholder: "Search Shop",
                width: '100%',
                ajax: {
                    url: "/DiscountCategory/GetListSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $(".edit-prompt").click(function () {
                var id = $(this).attr('data-id');
                var name = $(this).attr('data-name');
                var percentage = $(this).attr('data-percentage');
                var shopid = $(this).attr('data-shopid');
                var shopname = $(this).attr('data-shopname');
                $("#DiscountCategoryId").val(id);
                $("#DiscountCategoryName").append("<input type='text' name='DCName' id='DCName' class='form-control' value='" + name + "' />");
                $("#DiscountPercentage").append("<input type='number' name='DPercentage' id='DPercentage' class='form-control' value='" + percentage + "' />");
                $("#ShName").append("<select name='SId' class='form-control SId' id='SId'><option value='" + shopid + "'>" + shopname + "</option></select><input type='hidden' id='SName' name='SName' value='" + shopname + "' />");
            });

            $("#Edit").click(function () {
                var id = $("#DiscountCategoryId").val();
                var name = $("#DCName").val();
                var percentage = $("#DPercentage").val();
                var shopid = $("#SId").val();
                var shopname = $("#SName").val();
                if (name == "" || name == null) {
                    swal("Discount Category Name is Empty.", "Please Enter Discount Category Name", "warning");
                }
                else {
                    if (percentage == "" || percentage == null) {
                        swal("Discount Percentage is Empty.", "Please Enter Discount Percentage", "warning");
                    }
                    else if (shopname == "" || shopname == null) {
                        swal("Shop Name is Empty.", "Please Enter Shop Name", "warning");
                    }
                    else {
                        $.getJSON("/DiscountCategory/Edit", { Id: id, name: name, percentage: percentage, shopid: shopid, shopname: shopname }, function (data) {
                            if (data.message != null || data.message != "") {
                                swal({
                                    title: data.message,
                                    text: "",
                                    type: "success"
                                }, function () {
                                    window.location.reload();
                                });
                            }
                        });
                    }
                }
            });

            $("#editModal").on("hidden.bs.modal", function () {
                window.location.reload();
            });

            $('.SId').select2({
                placeholder: "Search Shop",
                width: '100%',
                ajax: {
                    url: "/DiscountCategory/GetListSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="SName"]').val(e.params.data.text);
            });

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/DiscountCategory/Delete", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

        });
    </script>
}




