@model ShopNow.ViewModels.DiscountCategoryListViewModel
@{

    ViewBag.Title = "DiscountCategory";
}
<title>ShopNow | Discount Category List</title>

@using (Html.BeginForm("List", "DiscountCategory", FormMethod.Post, new { id = "DiscountCategoryForm" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <h5 class="" style="letter-spacing:1px">DISCOUNT CATEGORY LIST</h5>
            </div>
            <div class="col-md-2 col-sm-4 mb-2 data-search">
            </div>
            <div class="col-md-7 text-right">
                <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New Discount Category</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-borderless table-hover" id="DiscountCategory-list">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Discount Category</th>
                                        <th>Percentage</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        <tr>
                                            <td></td>
                                            <td>@item.Name</td>
                                            <td>@item.Percentage</td>
                                            <td>
                                                <a href="javascript:void(0)" data-id="@item.Code" data-id1="@item.Name" data-id2="@item.Percentage" class="btn-sm btn-warning edit-prompt" data-toggle="modal" data-target="#editModal" style="padding: 3px 26px">Edit</a>
                                                <a href="javascript:void(0)" data-id="@item.Code" data-id1="@item.Name" class="btn-sm btn-danger delete-prompt" data-toggle="modal" data-target="#deleteModal" style="padding: 3px 18px">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="createModalLabel">New Discount Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Category Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Percentage</label>
                        <input type="number" name="Percentage" id="Percentage" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="editModalLabel">Update Discount Category</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Category Name</label>
                        <div id="DiscountCategoryName"></div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Discount Percentage</label>
                        <div id="DiscountPercentage"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Edit" name="Edit" value="Update" class="btn btn-success float-right" />
                <input type="hidden" name="DiscountCategoryCode" id="DiscountCategoryCode" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var t = $('#DiscountCategory-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": -1,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#Create').on('click', function () {
                var name = $('#Name').val();
                var percentage = $('#Percentage').val();
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'Percentage'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    $.getJSON("/DiscountCategory/Save?Name=" + name + "&Percentage=" + percentage , function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#Percentage').val("");
                            }
                        }
                    });
                }
            });

            $(".edit-prompt").click(function () {
                var code = $(this).attr('data-id');
                var name = $(this).attr('data-id1');
                var percentage = $(this).attr('data-id2');
                $("#DiscountCategoryCode").val(code);
                $("#DiscountCategoryName").append("<input type=text name=DCName id=DCName class=form-control value='" + name + "' />");
                $("#DiscountPercentage").append("<input type=number name=DPercentage id=DPercentage class=form-control value='" + percentage + "' />");
            });

            $("#Edit").click(function () {
                var code = $("#DiscountCategoryCode").val();
                var name = $("#DCName").val();
                var percentage = $("#DPercentage").val();
                if (name == "" || name == null) {
                    swal("Discount Category Name is Empty.", "Please Enter Discount Category Name", "warning");
                }
                else {
                    if (percentage == "" || percentage == null) {
                        swal("Discount Percentage is Empty.", "Please Enter Discount Percentage", "warning");
                    } else {
                        $.getJSON("/DiscountCategory/Edit", { code: code, name: name, percentage: percentage }, function (data) {
                            if (data.message != null || data.message != "") {
                                swal({
                                    title: data.message,
                                    text: "",
                                    type: "success"
                                }, function () {
                                    window.location.reload();
                                });
                            }
                        });
                    }
                }
            });

            $("#editModal").on("hidden.bs.modal", function () {
                window.location.reload();
            });

            $(".delete-prompt").click(function () {
                var code = $(this).attr('data-id');
                $("#Code").val(code);
            });

            $(".delete-confirm").click(function () {
                var code = $("#Code").val();
                $.getJSON("/DiscountCategory/Delete", { code: code }, function (data) {
                    window.location.reload();
                });
            });

        });

    </script>
}




