@*@model ShopNow.ViewModels.PlatFormCreditRateListViewModel*@
@model IEnumerable<ShopNow.ViewModels.PlatFormCreditRateListViewModel.PlatFormCreditRateList>
@using GridMvc.Html
@{
    ViewBag.Title = "PlatFormCreditRate";
}
<title>ShopNow | Plat Form Credit Rate List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h5 class="" style="letter-spacing:1px">PLATFORM CREDIT RATE LIST</h5>
        </div>
        <div class="col-md-2 col-sm-4 mb-2 data-search">
        </div>
        <div class="col-md-7 text-right" id="Platform">
            <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New PlatForm Credit Rate</a>
            <input type="hidden" name="Count" id="Count" value="@ViewBag.Count" />
        </div>
    </div>
    @Html.Grid(Model).Columns(columns =>
{
 columns.Add(b => b.RatePerOrder).Titled("Rate Per Order").Filterable(true).SetWidth(10);
 columns.Add(b => b.DailyViewer).Titled("Daily Viewer").Filterable(true).SetWidth(10);
        columns.Add().Encoded(false).Sanitized(false).Titled("Action").Filterable(false).SetWidth(20).RenderValueAs(b => @<div><a href="javascript:void(0)" data-id="@b.Id" data-id1="@b.RatePerOrder" data-id2="@b.DailyViewer" class="btn-sm btn-warning edit-prompt" data-toggle="modal" data-target="#editModal" style="padding: 3px 26px">Edit</a> <a href="javascript:void(0)" data-id="@b.Id" data-id1="@b.RatePerOrder" class="btn-sm btn-danger delete-prompt" data-toggle="modal" data-target="#deleteModal" style="padding: 3px 18px">Delete</a></div>);
            }).WithPaging(20).Sortable(true)
</div>

<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="createModalLabel">New Plat Form Credit Rate</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="col-form-label font-weight-bold text-secondary">Rate per Order</label>
                        <input type="number" name="RatePerOrder" id="RatePerOrder" class="form-control" />
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label font-weight-bold text-secondary">Daily Rent per 10,000 Viewers</label>
                        <input type="number" name="DailyViewer" id="DailyViewer" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Save" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="editModalLabel">Update Plat Form Credit Rate</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-8">
                        <label class="col-form-label font-weight-bold text-secondary">Rate per Order</label>
                        <div id="CreditRate"></div>
                    </div>
                    <div class="col-md-8">
                        <label class="col-form-label font-weight-bold text-secondary">Daily Rent per 10,000 Viewers</label>
                        <div id="DailyView"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Edit" name="Edit" value="Update" class="btn btn-success float-right Edit" />
                <input type="hidden" name="PlatFormCreaditRateCode" id="PlatFormCreaditRateCode" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var count = $("#Count").val();
            if (count >= 1) {
                $("#Platform").addClass("d-none");
            } else {
                $("#Platform").removeClass("d-none");
            }
            var t = $('#PlatFormCreditRate-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": -1,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#Create').on('click', function () {
                var ratePerOrder = $('#RatePerOrder').val();
                var dailyViewer = $('#DailyViewer').val();
                var isValidate = false;
                var requiredArr = [
                    'RatePerOrder',
                    'DailyViewer'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    if (ratePerOrder < 4) {
                        swal("Notice!", "Rate per Order is Minimum Rs.4", "warning");
                    } else if (dailyViewer < 20) {
                        swal("Notice!", "Daily Rent per 10,000 Viewers are Minimum Rs.20", "warning");
                    }
                    else if (ratePerOrder != "" || ratePerOrder != null || dailyViewer != "" || dailyViewer != null) {
                        $.getJSON("/PlatFormCreditRate/Save?RatePerOrder=" + ratePerOrder + "&DailyViewer=" + dailyViewer, function (data) {
                            if (data.IsAdded == true) {
                                swal({
                                    title: data.message,
                                    text: "",
                                    type: "success"
                                }, function () {
                                    window.location.reload();
                                });
                            } else {
                                if (data.message1 != null || data.message1 != "") {
                                    swal(data.message1, "", "warning");
                                    $('#RatePerOrder').val("");
                                    $('#DailyViewer').val("");
                                }
                            }
                        });
                    }
                }
            });

            $(".edit-prompt").click(function () {
                var code = $(this).attr('data-id');
                var rateperorder = $(this).attr('data-id1');
                var dailyviewer = $(this).attr('data-id2');
                $("#PlatFormCreaditRateCode").val(code);
                $("#CreditRate").append("<input type=text name=PRatePerOrder id=PRatePerOrder class=form-control value='" + rateperorder + "' />");
                $("#DailyView").append("<input type=text name=PDailyViewer id=PDailyViewer class=form-control value='" + dailyviewer + "' />");
            });

            $(".Edit").click(function () {
                var Code = $("#PlatFormCreaditRateCode").val();
                var ratePerOrder = $("#PRatePerOrder").val();
                var dailyview = $("#PDailyViewer").val();
                if (ratePerOrder == "" || ratePerOrder == null) {
                    swal("Rate is Empty.", "Please Enter Rate per Order", "warning");
                } else if (dailyview == "" || dailyview == null) {
                    swal("Rate is Empty.", "Please Enter Daily Rent Amount", "warning");
                } else if (ratePerOrder < 4) {
                    swal("Notice!", "Rate per Order is Minimum Rs.4", "warning");
                } else if (dailyview < 20) {
                    swal("Notice!", "Daily Rent per 10,000 Viewers are Minimum Rs.20", "warning");
                }
                else if (ratePerOrder != "" || ratePerOrder != null || dailyview != "" || dailyview != null) {
                    $.getJSON("/PlatFormCreditRate/Edit", { code: Code, ratePerOrder: ratePerOrder, dailyViewer: dailyview }, function (data) {
                        if (data.message != null || data.message != "") {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            $("#editModal").on("hidden.bs.modal", function () {
                window.location.reload();
            });

            $(".delete-prompt").click(function () {
                var code = $(this).attr('data-id');
                $("#Code").val(code);
            });

            $(".delete-confirm").click(function () {
                var code = $("#Code").val();
                $.getJSON("/PlatFormCreditRate/Delete", { code: code }, function (data) {
                    window.location.reload();
                });
            });

        });

    </script>
}




