@model ShopNow.ViewModels.DeliveryBoyEditViewModel
@{
    ViewBag.Title = "DeliveryBoy Detail";
}
<title>ShopNow | @ViewBag.Title</title>
<div class="container-fluid my-0">
    <div class="mb-1 d-flex justify-content-between">
        <h5 class="text-success mt-1" style="letter-spacing:1px">DELIVERYBOY DETAIL</h5>
        <a href="~/DeliveryBoy/List" target="_self"><span class="fa fa-bars"></span>&nbsp;DeliveryBoy List</a>
    </div>
    <div class="card shadow mx-auto">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group row">
                        <div class="col-md-12 text-center mb-2">
                            <img src="@Model.ImagePath" class="img-thumbnail mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                            <input type="hidden" name="DrivingLicenseImagePath" id="DrivingLicenseImagePath" value="@Model.DrivingLicenseImagePath" />
                            <input type="hidden" name="BankPassbookPath" id="BankPassbookPath" value="@Model.BankPassbookPath" />
                            <input type="hidden" name="CVPath" id="CVPath" value="@Model.CVPath" />
                            <br />
                        </div>
                        <div class="col-md-12 text-center">
                            <h5 class="font-weight-bold">@Model.Name</h5>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-4 text-right">
                                    <span><i class="fa fa-phone text-success mr-2"></i></span>
                                </div>
                                <div class="col-md-8 text-left">@Model.PhoneNumber</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 text-right">
                                    <span><i class="fa fa-envelope text-success mr-2"></i></span>
                                </div>
                                <div class="col-md-8 text-left">
                                    @Model.Email
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-4 text-right">
                                    <span><i class="fa fa-map-marker text-success mr-2"></i></span>
                                </div>
                                <div class="col-md-8 text-left">
                                    @Model.StreetName , @Model.DistrictName
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-form-label"><strong class="text-secondary">Driving License Number</strong></label>
                            </div>
                            <div class="col-md-6">
                                <span class="font-weight-bold text-dark">@Model.LicenseNumber</span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-form-label"><strong class="text-secondary">Address</strong></label>
                            </div>
                            <div class="col-md-6">
                                <span class="font-weight-bold text-dark">@Model.Address</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="img-upload-container text-center mx-auto">
                            <img src="@Model.DrivingLicenseImagePath" class="img-thumbnail mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                          </div>
                    </div>
                    <div class="col-md-12">
                        <hr class="border-success" />
                    </div>
                    <h5 class="col-md-12"><strong>Bank Account Detail</strong></h5>
                    <div class="col-md-6">
                        <label class="font-weight-normal"> @Model.BankName</label><br />
                        <label class="font-weight-normal"> @Model.AccountName</label><br />
                        <label class="font-weight-normal"> @Model.AccountNumber</label><br />
                        <label class="font-weight-normal"> @Model.IFSCCode</label>
                    </div>
                    <div class="col-md-6 mb-3 mx-auto">
                        <div class="img-upload-container text-center">
                            <img src="@Model.BankPassbookPath" class="img-thumbnail mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                            <br />
                            <a class="d-none" href="@Model.BankPassbookPath" target="_blank">View PassBook PDF</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

