@model ShopNow.ViewModels.SubCategoryEditViewModel
@{
    ViewBag.Title = "Edit";
}
<title>SNOWCH | Sub Category I Update</title>
@using (Html.BeginForm("Edit", "SubCategory", FormMethod.Post, new { id = "SubCategoryForm", role = "form" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h5 class="text-success" style="letter-spacing:1px">SUB CATEGORY I UPDATE</h5>
            </div>
            <div class="col-md-6 text-right">
                <a href="~/SubCategory/List" target="_blank"><span class="fa fa-bars"></span>&nbsp;Sub Category I List</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card shadow mt-3">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group row">
                            <div class="col-md-3">
                                <label class="col-form-label"><strong class="text-secondary">Sub Category I</strong></label>
                                <input type="text" class="form-control" name="Name" id="Name" value="@Model.Name" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label"><strong class="text-secondary">Category</strong></label>
                                <select id="CategoryId" name="CategoryId" class="form-control">
                                    <option value="@Model.CategoryId">@Model.CategoryName</option>
                                </select>
                                <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                            </div>
                            <div class="col-md-3">
                                <label class="col-form-label"><strong class="text-secondary">Adscore</strong></label>
                                <input type="text" class="form-control" min="1" name="Adscore" id="Adscore" value="@Model.Adscore" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 mx-auto">
                                <button type="button" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script>
        $(document).ready(function () {

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/SubCategory/GetCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $(".Save").click(function () {
                var isValidated = false;
                var requiredArr = [
                    'Name',
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);

                if (isValidated) {
                    $('#SubCategoryForm').submit();
                    $('.Save').prop('disabled', true);
                };
            });
        });
    </script>
}