@model ShopNow.ViewModels.CustomerDetailsViewModel
@{
    ViewBag.Title = "Customer Details";
}
<title>ShopNow | Customer Details</title>
<style>
    #order-div::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    #order-div::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    #order-div::-webkit-scrollbar-thumb {
        background: #28a745;
    }

        /* Handle on hover */
        #order-div::-webkit-scrollbar-thumb:hover {
            background: #28a745;
        }
</style>
<div class="container-fluid my-0">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-1 text-theme" style="letter-spacing:1px">CUSTOMER DETAILS</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Customer/List" target="_blank"><span class="fa fa-bars"></span>&nbsp;Customer List</a>
        </div>
    </div>
    <div class="row mt-3 mb-4">
        <div class="col-md-3">
            <div class="card h-100">
                <div class="card-body">
                    <label class="font-weight-bold text-muted"><u>Profile Details:</u></label>
                    <img src="@Model.ImagePath" class="rounded-circle my-3 d-block mx-auto img-thumbnail shadow CustomerImage" data-customername="@Model.Name" data-toggle="modal" data-target="#ModalCustomerImg" alt="customerimage" style="width:200px;height:200px;" onerror="this.src='/Images/noimage.png'">
                    <div class="text-center">
                        <h5 class="text-success text-uppercase">@Model.Name</h5>
                        <h5>@Model.PhoneNumber</h5>
                        <p>@(Model.Address != "NULL" ? @Model.Address : "N/A")</p>
                    </div>
                    <div class="border-bottom border-success mb-3"></div>
                    <div class="d-flex">
                        <label class="mr-3">Wallet Amount:</label>
                        <b>₹@Model.WalletAmount</b>
                        <a href="#modal-update-walletamount" data-target="#modal-update-walletamount" data-toggle="modal" class="ml-3"><i class="fa fa-edit"></i></a>
                    </div>
                    <div class="d-flex">
                        <label class="mr-3">Penalty Charge:</label>
                        <b>₹@Model.PenaltyAmount</b>
                    </div>
                    <div class="d-flex">
                        <label class="mr-3">Waiting Charge:</label>
                        <b>₹@Model.DeliveryWaitingCharge</b>
                    </div>
                    <div class="d-flex">
                        <label class="mr-3">Last Purchase:</label>
                        <b>@(Model.LastPurchaseDate != null ? Model.LastPurchaseDate.Value.ToString("dd-MMM-yyyy") : "N/A")</b>
                    </div>
                    <div class="d-flex">
                        <label class="mr-3">App Version:</label>
                        <b>@Model.AppVersion (@Model.Platform)</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card h-100">
                <div class=" card-body">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item">
                            <a class="nav-link active text-success" href="#orders" data-toggle="tab">Order Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="#wallet" data-toggle="tab">Wallet History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" href="#address" data-toggle="tab">Addresses</a>
                        </li>
                    </ul>

                    @*<label class="font-weight-bold text-muted"><u>Order Details:</u></label>*@
                    <div class="tab-content">
                        <div class="tab-pane active" id="orders">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label class="mr-3">Total Orders:</label>
                                    <b class="text-primary h3">@Model.TotalOrderCount</b>
                                </div>
                                <div>
                                    <label class="mr-3">Delivered Orders:</label>
                                    <b class="text-success h3">@Model.DeliveredOrderCount</b>
                                </div>
                                <div>
                                    <label class="mr-3">Cancel Orders:</label>
                                    <b class="text-danger h3">@Model.CancelOrderCount</b>
                                </div>
                            </div>
                            <div style="height:500px;overflow:auto;" id="order-div">
                                <table class="table table-striped table-borderless">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Status</th>
                                            <th>Date</th>
                                            <th>Number</th>
                                            <th>Shop</th>
                                            <th>Product Count</th>
                                            <th>Quantity Count</th>
                                            <th>Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.OrderListItems.Count() == 0)
                                        {
                                            <tr>
                                                <td class="bg-light text-center" colspan="8">No Records Found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            foreach (var item in Model.OrderListItems)
                                            {
                                                var count = Model.OrderListItems.IndexOf(item);
                                                count++;
                                                <tr>
                                                    <td>@count</td>
                                                    <td><b class="@item.StatusTextColor">@item.StatusText</b></td>
                                                    <td>@item.DateEncoded.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                                    <td><a href="~/Cart/Details?id=@ShopNow.Helpers.AdminHelpers.ECodeLong(item.Id)"><span class="font-weight-bold">@item.OrderNumber</span></a></td>
                                                    <td>@item.ShopName</td>
                                                    <td>@item.ProductCount</td>
                                                    <td>@item.QuantityCount</td>
                                                    <td>₹@item.Amount.ToString("#,##.00")</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    @if (Model.OrderListItems.Count > 0)
                                    {
                                        <tfoot>
                                            <tr>
                                                <th colspan="5">Total</th>
                                                <th>@Model.OrderListItems.Sum(i => i.ProductCount)</th>
                                                <th>@Model.OrderListItems.Sum(i => i.QuantityCount)</th>
                                                <th>₹@Model.OrderListItems.Sum(i => i.Amount).ToString("#,##.00")</th>
                                            </tr>
                                        </tfoot>
                                    }
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="wallet">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th>Expiry Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.WalletListItems)
                                    {
                                        var count = Model.WalletListItems.IndexOf(item);
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Date.Value.ToString("dd-MMM-yyyy hh:mm tt")</td>
                                            <td>@item.Description</td>
                                            <td>
                                                @if (item.ExpiryDate != null)
                                                {
                                                    <span>@item.ExpiryDate.Value.ToString("dd-MMM-yyyy")</span>
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            </td>
                                            <td class="@item.TypeColor font-weight-bold">₹@item.Amount.ToString("#,##.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade" id="address">
                            <table class="table table-striped table-borderless">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Type</th>
                                        <th>Address</th>
                                        <th>Flat</th>
                                        <th>Landmark</th>
                                        <th>Route Audio Path</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.AddressListItems)
                                    {
                                        var count = Model.AddressListItems.IndexOf(item);
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Type</td>
                                            <td>@item.Address</td>
                                            <td>@item.Flat</td>
                                            <td>@item.Landmark</td>
                                            <td class="text-nowrap">
                                                @if (!string.IsNullOrEmpty(item.RouteAddioPath))
                                                {
                                                    <audio controls="controls" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Audio/@item.RouteAddioPath" style="width: 250px;"></audio>
                                                }
                                                else
                                                {
                                                    <a class="btn-addaudiopath btn btn-outline-success" href="#modal-add-routeaudiopath" data-target="#modal-add-routeaudiopath" data-toggle="modal" data-id="@item.Id" data-address="@item.Address">Upload Route Audio</a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update-walletamount" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <h5 class="text-primary text-center">Add Wallet Amount</h5>
                <div class="form-group">
                    <label class="font-weight-bold text-secondary">Amount</label>
                    <input type="number" name="WalletAmount" id="WalletAmount" class="form-control" required />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold text-secondary">Expiry Date</label>
                    <input type="date" name="ExpiryDate" id="ExpiryDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="font-weight-bold text-secondary">Description</label>
                    <textarea class="form-control" name="Description" id="Description" required></textarea>
                </div>
                <div class="text-right">
                    <button class="btn btn-sm btn-success mr-3" id="btn-AddWallet">Submit</button>
                    <button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ModalCustomerImg" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title showCustomerName text-success text-uppercase"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img class="modal-content img-fluid w-100" style="height:400px;" id="CustomerImg" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-routeaudiopath" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form action="/Customer/SaveAddressAudioPath" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="Id" id="address-id" />
                    <input type="hidden" name="CustomerId" value="@Model.Id" />
                    <h5 class="text-success">Save Address Audio Path</h5>
                    <hr />
                    <h5>@Model.PhoneNumber</h5>
                    <p id="address-text"></p>
                    <div class="form-group">
                        <label class="font-weight-bold text-secondary">Upload Audio</label>
                        <input type="file" name="AudioUpload" class="form-control" required />
                    </div>

                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-success mr-3">Save</button>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var modal = document.getElementById('ModalCustomerImg');
            var img = document.getElementsByClassName('CustomerImage');
            var modalImg = document.getElementById("CustomerImg");
            $(img).click(function () {
                var customername = $(this).data('customername');
                modal.style.display = "block";
                modalImg.src = this.src.replace("/Small/", "/Large/");
                $(".showCustomerName").text(customername);
                if (this.src == "") {
                    $('#ModalCustomerImg').hide();
                }
                else {
                    $('#ModalCustomerImg').modal('show');
                }
            });

            $("#btn-AddWallet").click(function () {
                var id = $('#Id').val();
                var walletamount = $('#WalletAmount').val();
                var description = $('#Description').val();
                var expiryDate = $('#ExpiryDate').val();
                $.getJSON("/Customer/AddWalletAmount?Id=" + id + "&walletamount=" + walletamount + "&description=" + description + "&expiryDate=" + expiryDate, function (data) {
                    if (data.message != null) {
                        swal({
                            title: data.message,
                            text: "",
                            type: "success"
                        }, function () {
                            window.location.reload();
                        });
                    }
                });
            });


            $(".btn-addaudiopath").click(function () {
                $('#address-id').val($(this).data('id'));
                $('#address-text').text($(this).data('address'));
                $('#modal-add-routeaudiopath').modal('show');

            });
        });
    </script>
}


