@model ShopNow.ViewModels.BannerEditViewModel
@{
    ViewBag.Title = "Banner Update";
}
<title>SNOWCH | @ViewBag.Title</title>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Banner/List" target="_self"><span class="fa fa-list-ul"></span> Banner List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("Edit", "Banner", FormMethod.Post, new { id = "BannerForm", enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                <input type="hidden" name="Status" id="Status" value="@Model.Status" />
                <input type="hidden" name="Bannerpath" id="Bannerpath" value="@Model.Bannerpath" />
                @*<input type="hidden" name="Fromdate" id="Fromdate" value="@Model.FromDate" />
                    <input type="hidden" name="Todate" id="Todate" value="@Model.ToDate" />*@
                <div class="card shadow mt-2">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="form-group row">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Shop Name*</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select id="ShopId" name="ShopId" class="form-control">
                                            <option value="@Model.ShopId">@Model.ShopName</option>
                                        </select>
                                        <input type="hidden" name="ShopName" id="ShopName" value="@Model.ShopName" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Campaign Type</label>
                                    </div>
                                    <div class="col-md-9 mt-2">
                                        <div class="row mx-auto">
                                            <span class="col-md-3">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="CreditType" value="3">Shop Campaign
                                                </label>
                                            </span>
                                            <span class="col-md-3">
                                                <label class="form-check-label">
                                                    <input type="radio" class="form-check-input" name="CreditType" value="4">Product Campaign
                                                </label>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row d-none ProductBanner">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Product Name*</label>
                                    </div>
                                    <div class="col-md-6">
                                        <select id="ProductId" name="ProductId" class="form-control" style="width: 100%">
                                            <option value="@Model.ProductId">@Model.ProductName</option>
                                        </select>
                                        <input type="hidden" name="ProductName" id="ProductName" value="@Model.ProductName" />
                                    </div>
                                    <div class="col-md-3">
                                        <input class="form-control" type="number" placeholder="Quantity Limit" name="OfferQuantityLimit" value="@Model.OfferQuantityLimit" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Campaign Name</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="BannerName" id="BannerName" value="@Model.BannerName" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Select Section*</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-control" name="Position" id="Position">
                                            <option value="0">Select Display Area</option>
                                            <option value="1">Top</option>
                                            <option value="2">Bottom</option>
                                            <option value="3">My Shop Category(Health,Groceries, etc.)</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Select Date*</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="input-daterange input-group">
                                            <input id="Fromdate" type="date" class="form-control" name="FromDate" value="@Model.FromDate.ToString("yyyy-MM-dd")">
                                            <span class="input-group-addon mx-3">to</span>
                                            <input id="Todate" type="date" class="form-control" name="ToDate" value="@Model.ToDate.ToString("yyyy-MM-dd")">
                                        </div>
                                    </div>
                                    <div class="col-md-1 text-md-left">
                                        <label class="col-form-label text-secondary font-weight-bold">Days</label>
                                    </div>
                                    <div class="col-md-2 text-md-left">
                                        <input type="text" name="Days" id="Days" class="form-control" value="@Model.Days" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <label class="col-md-12 text-center font-weight-bold text-secondary">Banner Image</label>
                                    <div class="img-upload-container mx-auto">
                                        <img id="img-upload" class="img-container w-100 h-100" width="100" height="100" @if (Model.Bannerpath != null) { <text> src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.Bannerpath" </text> } />
                                        <input type="file" id="BannerImage" name="BannerImage" class="d-none" />
                                        <label for="BannerImage" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                    </div>
                                    <div class="mx-auto"><small class="text-danger">*Image Dimension should be 456 x 142</small></div>
                                </div>
                                <div class="row">
                                    @if (Model.Status == 1)
                                    {
                                        <div class="alert alert-success BannerApprovedlbl font-weight-bold d-none p-2 mx-auto">Approved</div>
                                        <div class="alert alert-danger BannerRejectedlbl font-weight-bold d-none p-2 mx-auto">Rejected</div>
                                        if (Model.Status == 3 && Model.Bannerpath == "Rejected")
                                        {
                                            <div class="alert alert-danger font-weight-bold Banner p-2">Banner Rejected</div>
                                        }
                                        else
                                        {
                                            <div class="alert alert-danger font-weight-bold Banner p-2 mx-auto">Verification Pending</div>
                                        }
                                    }
                                    @if (Model.Status == 1)
                                    {
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn btn-sm btn-warning mb-2" data-toggle="modal" data-target="#ModalBannerVerify">
                                                + Expand
                                            </button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-2 mx-auto">
                                <input type="submit" class="btn btn-block btn-success" value="Update" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!--Banner Verify Model-->
<div class="modal fade" id="ModalBannerVerify" tabindex="-1" role="dialog" aria-labelledby="ModalBannerVerifyLabel" aria-hidden="true">
    <div class="modal-dialog modal-gl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalBannerLabel"> Banner Verify</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="print-Banner">
                    <img class="img-container w-100 h-100 mb-2 banner-img" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.Bannerpath" onerror="this.src='/Images/No Photo.png'" />

                </div>
            </div>
            <div class="modal-footer">
                <span class="BannerApprovedlbl text-success d-none font-weight-bold">Banner Approved</span>
                <span class="BannerRejectedlbl text-danger d-none font-weight-bold">Banner Rejected</span>
                <button type="button" class="btn btn-success Banner" id="btnBannerApprove">Approve</button>
                <button type="button" class="btn btn-danger Banner ml-2" id="btnBannerReject">Request Reupload</button>
                <button type="button" class="btn btn-secondary ml-2" id="btnBannerPrint" onclick="printDiv('print-Banner')">Print</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            w = window.open();
            w.document.write(printContents);
            w.print();
            w.close();
        }

        $(document).ready(function () {
            var productcode = $("#ProductId").val();
            if (productcode != null) {
                $(".ProductBanner").removeClass("d-none");
            } else {
                $(".ProductBanner").addClass("d-none");
            }
            $("#btnBannerApprove").click(function () {
                var code = $("#Code").val();
                $('#Status').val(0);
                $(".BannerApprovedlbl").removeClass("d-none");
                $(".BannerRejectedlbl").addClass("d-none");
                $('.Banner').addClass("d-none");
                swal("Successfully Approved!", "Banner Approved!", "success");
                $.getJSON("/Banner/VerifyImage?Code=" + code, function (data) {
                    if (data.data == true) {
                        //code here
                    }
                });
            });
            $('#btnBannerReject').click(function () {
                $('#Status').val(3);
                $("#BannerPath").val("Rejected");
                $(".BannerApprovedlbl").addClass("d-none");
                $(".BannerRejectedlbl").removeClass("d-none");
                $('.Banner').addClass("d-none");
                $("#btnBannerReject").hide();
                $("#btnBannerApprove").hide();
                swal("Rejected!", "Banner Rejected!", "warning");
            });

            $('input[type=radio][name=CreditType]').change(function () {
                if (this.value == '3') {
                    $(".ProductBanner").addClass("d-none");
                }
                else if (this.value == '4') {
                    $(".ProductBanner").removeClass("d-none");
                }
            });

            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Banner/GetShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);

                $('#ProductId').select2({
                    placeholder: "Search Product",
                    ajax: {
                        url: "/Banner/GetShopProductSelect2?shopid=" + e.params.data.id,
                        width: '100%',
                        delay: 250,
                        dataType: 'json'
                    }
                }).on('select2:select', function (e) {
                    $('input[name="ProductName"]').val(e.params.data.text);
                });
            });

            var shopId = $("#ShopId").val();
            $('#ProductId').select2({
                placeholder: "Search Product",
                ajax: {
                    url: "/Banner/GetShopProductSelect2?shopid=" + shopId,
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ProductName"]').val(e.params.data.text);
            });

            $(document).ready(function ($) {
                $("#Position").find('option[value="@Model.Position"]').attr('selected', 'selected');
                $("input:radio[value='@Model.CreditType'][name='CreditType']").prop('checked', true);
                var ctype = '@Model.CreditType';
                if (ctype == 3) {
                    $(".ProductBanner").addClass("d-none");
                } else if (ctype == 4) {
                    $(".ProductBanner").removeClass("d-none");
                }
            });

            var _URL = window.URL || window.webkitURL;
            $("#BannerImage").on('change', function (e) {
                var file, img;
                if ((file = this.files[0])) {
                    img = new Image();
                    img.onload = function () {
                        var width = this.width;
                        var height = this.height;
                        if (width != 456 && height != 142) {
                            swal("Warning!", "Image Dimension should be 456x142", "warning");
                            $('#img-upload').removeAttr('src');
                            $("#BannerImage").val('');
                        } else {
                            if (file) {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $('#img-upload').attr('src', e.target.result);
                                }
                                reader.readAsDataURL(file);
                            }
                        }
                    };
                    img.onerror = function () {
                        swal("Warning!", "Choose Image File", "warning");
                    };
                    img.src = _URL.createObjectURL(file);
                }
            });

            //$(function () {
            //    var dtToday = new Date();
            //    var month = dtToday.getMonth() + 1;
            //    var day = dtToday.getDate() + 1;
            //    var year = dtToday.getFullYear();
            //    if (month < 10)
            //        month = '0' + month.toString();
            //    if (day < 10)
            //        day = '0' + day.toString();
            //    var maxDate = year + '-' + month + '-' + day;
            //    $('#Fromdate').attr('min', maxDate);
            //});
            // alert('hi');
            $('#Fromdate').change(function () {
                // var fromdate = new Date($(this).val());

                //min date
                //var month = fromdate.getMonth() + 1;
                //var day = fromdate.getDate();
                //var year = fromdate.getFullYear();
                //if (month < 10)
                //    month = '0' + month.toString();
                //if (day < 10)
                //    day = '0' + day.toString();
                //var minDate = (year) + '-' + (month) + '-' + (day);
                //$('#Todate').attr('min', minDate);
                //$('#Fromdate').val(minDate);
                //$('#Todate').val(minDate);

                // max date
                //fromdate.setDate(fromdate.getDate() + 2);
                //var month1 = fromdate.getMonth() + 1;
                //var day1 = fromdate.getDate();
                //var year1 = fromdate.getFullYear();
                //if (month1 < 10)
                //    month1 = '0' + month1.toString();
                //if (day1 < 10)
                //    day1 = '0' + day1.toString();
                //var maxDate = year1 + '-' + month1 + '-' + day1;
                //$('#Todate').attr('max', maxDate);

                // Days Calculation

                var from = new Date($("#Fromdate").val());
                var to = new Date($("#Todate").val());
                var diff = new Date(to - from);
                var days = (diff / 1000 / 60 / 60 / 24) + 1;
                $('#Days').val(days);
            });

            $('#Todate').change(function () {
                var from = new Date($("#Fromdate").val());
                var to = new Date($("#Todate").val());
                var diff = new Date(to - from);
                var days = (diff / 1000 / 60 / 60 / 24) + 1;
                $('#Days').val(days);
            });
        });
    </script>
}