@model ShopNow.ViewModels.AppDetailIndexViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "App Details";
}

<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>


<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
    </div>
    <div class="card shadow mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 border-right">
                    <form action="/AppDetail/Create" method="post">
                        <div class="form-group">
                            <label class="col-form-label">Name</label>
                            <input type="text" class="form-control" name="Name" required/>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Version</label>
                            <input type="text" class="form-control" name="Version" required/>
                        </div>
                        <div class="mx-auto col-8"> <input type="submit" value="Save" class="btn btn-success btn-block" /></div>
                    </form>
                </div>
                <div class="col-md-8">
                    @Html.Grid(Model.ListItems).Columns(columns =>
               {
               columns.Add(s => s.Name).Titled("Name").Filterable(true).SetWidth(30);
               columns.Add(s => s.Version).Titled("Version").Filterable(true).SetWidth(5);
               columns.Add(s => s.DateUpdated).Titled("Date Updated").Filterable(true).SetWidth(30);
               columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(5)
             .RenderValueAs(o => @<div>
                    <a href="#modal-edit" data-toggle="modal" data-target="#modal-edit" data-id="@o.Id" data-name="@o.Name" data-version="@o.Version" class="text-info mr-5 edit-prompt"><i class="fa fa-edit fa-lg"></i></a>
                    <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                </div>);
           }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="editModalLabel">Update App Details</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/AppDetail/Edit" method="post">
                    <input type="hidden" name="Id" id="Id" />
                    <div class="form-group">
                        <label class="col-form-label">Name</label>
                        <input id="edit-name" type="text" class="form-control" name="Name" required />
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Version</label>
                        <input id="edit-version" type="text" class="form-control" name="Version" required />
                    </div>
                    <input type="submit" id="Edit" value="Update" class="btn btn-success float-right Edit" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
           

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/AppDetail/Delete", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

            $("table").on('click', '.edit-prompt', function () {
                $('[name="Id"]').val($(this).attr('data-id'));
                $("#edit-name").val($(this).attr('data-name'));
                $("#edit-version").val($(this).attr('data-version'));
            });


        });
    </script>
}
