@model ShopNow.ViewModels.AgencyAssignListViewModel
@{
    ViewBag.Title = "Agency Assign List";
}
<title>ShopNow | @ViewBag.Title</title>
@*<style>
    #select-multiple .select2-results__option {
        padding-right: 20px;
        vertical-align: middle;
    }

        #select-multiple .select2-results__option:before {
            content: "";
            display: inline-block;
            position: relative;
            height: 20px;
            width: 20px;
            border: 2px solid #e9e9e9;
            border-radius: 4px;
            background-color: #fff;
            margin-right: 20px;
            vertical-align: middle;
        }

        #select-multiple .select2-results__option[aria-selected=true]:before {
            font-family: fontAwesome;
            content: "\f00c";
            color: #fff;
            background-color: #f77750;
            border: 0;
            display: inline-block;
            padding-left: 3px;
        }

    #select-multiple .select2-container--default .select2-results__option[aria-selected=true] {
        background-color: #fff;
    }

    #select-multiple .select2-container--default .select2-results__option--highlighted[aria-selected] {
        background-color: #eaeaeb;
        color: #272727;
    }

    #select-multiple .select2-container--default .select2-selection--multiple {
        margin-bottom: 10px;
    }

    #select-multiple .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
        border-radius: 4px;
    }

    #select-multiple .select2-container--default.select2-container--focus .select2-selection--multiple {
        border-color: #f77750;
        border-width: 2px;
    }

    #select-multiple .select2-container--default .select2-selection--multiple {
        border-width: 2px;
    }

    #select-multiple .select2-container--open .select2-dropdown--below {
        border-radius: 6px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }

    #select-multiple .select2-selection .select2-selection--multiple:after {
        content: '';
    }
</style>*@
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="d-flex justify-content-between my-3">
                <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
                <a href="#modal-add-agency" data-target="#modal-add-agency" data-toggle="modal">Add New Agency</a>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <form method="get" action="/Agency/AssignList">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <select id="AgencyId-filter" class="form-control" name="FilterAgencyId">
                                    @if (Model.FilterAgencyId != 0)
                                    {
                                        <option value="@Model.FilterAgencyId">@Model.FilterAgencyName</option>
                                    }
                                </select>
                                <input type="hidden" name="FilterAgencyName" />
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-info mr-3" value="Filter" />
                                <a href="/Agency/AssignList" class="btn btn-warning">Clear</a>
                            </div>
                        </div>
                    </form>
                    <table class="table table-borderless" id="tbl-shop-schedules">
                        <thead class="bg-light">
                            <tr>
                                <th>Agency Name</th>
                                <th>Shop Name(s)</th>
                                <th>Delivery Boy Name(s)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lists)
                            {
                                <tr>
                                    <td>@item.AgencyName</td>
                                    <td>
                                        @foreach (var shop in item.ShopListItems)
                                        {
                                            <div class="d-flex">
                                                <label class="mr-4">@shop.ShopName</label>
                                                <a href="javascript:void(0)" data-shopid="@shop.ShopId" class="text-danger btnShopDelete"><i class="fa fa-close fa-lg"></i></a>
                                            </div>

                                        }
                                    </td>
                                    <td>
                                        @foreach (var deliveryBoy in item.DeliveryBoyListItems)
                                        {
                                            <div class="d-flex">
                                                <label class="mr-4">@deliveryBoy.DeliveryBoyName</label>
                                                <a href="javascript:void(0)" data-deliveryboyid="@deliveryBoy.DeliveryBoyId" class="text-danger btnDeliveryBoyDelete"><i class="fa fa-close fa-lg"></i></a>
                                            </div>

                                        }
                                    </td>
                                    <td>
                                        <a href="#modal-update-agency" data-target="#modal-update-agency" data-toggle="modal" data-agencyid="@item.AgencyId" data-agencyname="@item.AgencyName" class="text-info mr-4 update-agency"><i class="fa fa-plus fa-lg"></i></a>
                                        <a href="javascript:void(0)" data-agencyid="@item.AgencyId" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-agency" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">New Assign</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label font-weight-bold text-muted">Select Agency</label>
                    <select id="AgencyId" class="form-control" name="AgencyId"></select>
                    <input type="hidden" name="AgencyName" id="AgencyName" />
                </div>
                <hr />
                @*<div class="row">
                    <div class="col-md-12" id="select-multiple">
                        <select class="js-select2" multiple="multiple">
                        </select>
                    </div>
                </div>*@
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label text-secondary font-weight-bold">Shop Name<span class="text-danger">*</span></label>
                        <select id="ShopIds" name="ShopIds" class="form-control" multiple></select>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label text-secondary font-weight-bold">DeliveryBoy Name<span class="text-danger">*</span></label>
                        <select id="DeliveryBoyIds" name="DeliveryBoyIds" class="form-control" multiple></select>
                    </div>
                </div>
                <div class="mx-auto col-6 mt-5"> <input id="btn-add-agency" type="button" value="Add Agency" class="btn btn-success btn-block" /></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update-agency" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">Update Assign</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" name="editAgencyId" id="editAgencyId" />
                <input type="hidden" name="editAgencyName" id="editAgencyName" />
                <div class="row">
                    <div class="col-md-6">
                        <label class="col-form-label text-secondary font-weight-bold">Shop Name<span class="text-danger">*</span></label>
                        <select id="editShopIds" name="editShopIds" class="form-control" multiple></select>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label text-secondary font-weight-bold">DeliveryBoy Name<span class="text-danger">*</span></label>
                        <select id="editDeliveryBoyIds" name="editDeliveryBoyIds" class="form-control" multiple></select>
                    </div>
                </div>
                <div class="mx-auto col-6 mt-5"> <input type="button" class="btn btn-success btn-block" id="btn-update-agency" value="Update Agency" /></div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {

            $('#AgencyId-filter').select2({
                placeholder: "Search Agency",
                width: '100%',
                ajax: {
                    url: "/Agency/GetAgencySelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="FilterAgencyName"]').val(e.params.data.text);
            });

            $('#AgencyId').select2({
                placeholder: "Select Agency",
                width: '100%',
                ajax: {
                    url: "/Agency/GetAgencySelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="AgencyName"]').val(e.params.data.text);
            });

            $(".js-select2").select2({
                closeOnSelect: false,
                allowHtml: true,
                allowClear: true,
                tags: true,
                placeholder: "Select Shop",
                width: '100%',
                ajax: {
                    url: "/Agency/GetShopSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            });

            $('#ShopIds').select2({
                placeholder: "Select Shop",
                width: '100%',
                ajax: {
                    url: "/Agency/GetShopSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            });

            $('#DeliveryBoyIds').select2({
                placeholder: "Select DeliveryBoy",
                width: '100%',
                ajax: {
                    url: "/Agency/GetDeliveryBoySelect2",
                    delay: 250,
                    dataType: 'json'
                }
            });

            $('#editShopIds').select2({
                placeholder: "Select Shop",
                width: '100%',
                ajax: {
                    url: "/Agency/GetShopSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            });

            $('#editDeliveryBoyIds').select2({
                placeholder: "Select DeliveryBoy",
                width: '100%',
                ajax: {
                    url: "/Agency/GetDeliveryBoySelect2",
                    delay: 250,
                    dataType: 'json'
                }
            });

            $('#btn-add-agency').on('click', function () {
                if ($('#AgencyId').val()) {
                    if ($('#ShopIds').val()) {
                        if ($('#DeliveryBoyIds').val()) {
                            var model = {
                                AgencyId: $('#AgencyId').val(),
                                AgencyName: $('#AgencyName').val(),
                                ShopIds: $('#ShopIds').val(),
                                DeliveryBoyIds: $('#DeliveryBoyIds').val()
                            }
                            $.post('/Agency/Add', model, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        } else
                            swal('Warning', 'DeliveryBoy is required!', 'warning');
                    } else
                        swal('Warning', 'Shop is required!', 'warning');
                } else
                    swal('Warning', 'Agency is required!', 'warning');
            });

            $('.update-agency').on('click', function () {
                $("#editAgencyId").val($(this).attr('data-agencyid'));
                $("#editAgencyName").val($(this).attr('data-agencyname'));
            });

            $('#btn-update-agency').on('click', function () {
                var model = {
                    AgencyId: $("#editAgencyId").val(),
                    AgencyName: $("#editAgencyName").val(),
                    ShopIds: $('#editShopIds').val(),
                    DeliveryBoyIds: $('#editDeliveryBoyIds').val()
                }
                $.post('/Agency/Update', model, function (data) {
                    if (data == true) {
                        window.location.reload();
                    }
                });
            });

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-agencyid');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Agency/Delete", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

            $(".btnShopDelete").click(function () {
                var Id = $(this).attr('data-shopid');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Agency/DeleteShop", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

            $(".btnDeliveryBoyDelete").click(function () {
                var Id = $(this).attr('data-deliveryboyid');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Agency/DeleteDeliveryBoy", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}