@model ShopNow.ViewModels.ShopScheduleIndexViewModel
@{
    ViewBag.Title = "Shop Schedule";
}

<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/switch.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="d-flex justify-content-between my-3">
                <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
                <a href="#modal-add-schedule" data-target="#modal-add-schedule" data-toggle="modal">Add New Schedule</a>
            </div>
            <div class="card shadow">
                <div class="card-body">
                    <form method="get" action="/ShopSchedule/Index">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <select id="select-shop-filter" class="form-control" name="FilterShopId">
                                    @if (Model.FilterShopId != 0)
                                    {
                                        <option value="@Model.FilterShopId">@Model.FilterShopName</option>
                                    }
                                </select>
                                <input type="hidden" name="FilterShopName" />
                            </div>
                            <div class="col-md-4">
                                <input type="submit" class="btn btn-info mr-3" value="Filter" />
                                <a href="/ShopSchedule/Index" class="btn btn-warning">Clear</a>
                            </div>
                        </div>
                    </form>
                    <table class="table table-borderless" id="tbl-shop-schedules">
                        <thead class="bg-light">
                            <tr>
                                <th>Shop Name</th>
                                <th>Schedule Time(s)</th>
                                <th>On/Off</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ListItems)
                            {
                                <tr>
                                    <td>@item.ShopName</td>
                                    <td>
                                        @foreach (var time in item.TimeListItems)
                                        {
                                        <div class="d-flex">
                                            <span class="text-nowrap">@DateTime.Today.Add(time.OnTime.Value).ToString("hh:mm tt") - @DateTime.Today.Add(time.OffTime.Value).ToString("hh:mm tt")</span>
                                            <a href="#modal-update-timimgs" data-target="#modal-update-timimgs" data-toggle="modal" data-id="@time.Id" data-ontime="@time.OnTime" data-offtime="@time.OffTime" class="text-info mx-4 btn-edit-timing"><i class="fa fa-edit fa-lg"></i></a>
                                            <a href="/ShopSchedule/DeleteTiming?id=@ShopNow.Helpers.AdminHelpers.ECodeInt(time.Id)" class="text-danger"><i class="fa fa-close fa-lg"></i></a>
                                        </div>
                                            
                                        }
                                    </td>
                                    <td>
                                        <label class="switch"><input type="checkbox" class='check-schedule' data-value="@item.HasSchedule" data-shopid="@item.ShopId"><span class='slider round'></span></label>
                                    </td>
                                    <td>
                                        <a href="#modal-add-timimgs" data-target="#modal-add-timimgs" data-toggle="modal" data-shopid="@item.ShopId" class="text-info mr-4 btn-add-timing"><i class="fa fa-plus fa-lg"></i></a>
                                        <a href="javascript:void(0)" data-shopid="@ShopNow.Helpers.AdminHelpers.ECodeInt(item.ShopId)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-schedule" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">Add New Schedule</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-form-label font-weight-bold text-muted">Select Shop</label>
                    <select id="select-shop" class="form-control" name="ShopId"></select>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold text-muted">On Time</label>
                            <input type="time" name="OnTime" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="col-form-label font-weight-bold text-muted">Off Time</label>
                            <input type="time" name="OffTime" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="col-form-label">&nbsp;</label>
                            <input type="button" class="btn btn-primary btn-block h-50" value="Add" id="btn-addTime" />
                        </div>
                    </div>
                </div>
                <div class="row d-none" id="div-times">
                    <div class="col-md-12">
                        <h6>Timing List</h6>
                        <table class="table table-bordered table-sm table-striped" id="tbl-times">
                            <thead class="bg-light font-weight-bold">
                                <tr>
                                    <td>On Time</td>
                                    <td>Off Time</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="mx-auto col-8 mt-3"> <input id="btn-add-schedule" type="button" value="Add Schedule" class="btn btn-success btn-block" /></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-add-timimgs" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-success">
                <h5 class="modal-title">Add Timings</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/ShopSchedule/AddTiming" method="post">
                    <input type="hidden" name="ShopId" />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-form-label font-weight-bold text-muted">On Time</label>
                                <input type="time" name="OnTime" class="form-control" required/>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-form-label font-weight-bold text-muted">Off Time</label>
                                <input type="time" name="OffTime" class="form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto col-8 mt-3"> <input type="submit" value="Add" class="btn btn-success btn-block" /></div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update-timimgs" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">Update Timings</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/ShopSchedule/UpdateTiming" method="post">
                    <input type="hidden" name="Id" />
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-form-label font-weight-bold text-muted">On Time</label>
                                <input id="edit-onTime" type="time" name="OnTime" class="form-control" required />
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label class="col-form-label font-weight-bold text-muted">Off Time</label>
                                <input id="edit-offTime" type="time" name="OffTime" class="form-control" required />
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto col-8 mt-3"> <input type="submit" value="Update" class="btn btn-warning btn-block" /></div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var timeArray = [];

            $('table tbody tr').each(function () {
                var $this = $(this).find(".check-schedule");
                if ($this.attr('data-value') == 'True')
                    $this.prop('checked', true);
                else
                    $this.prop('checked', false);
            });

            $('.check-schedule').on('click', function () {
                var id = $(this).data('shopid');
                if ($(this).is(':checked') == true) {
                    $.post('/ShopSchedule/UpdateSchedule', { shopId: id, hasSchedule: true }, function () { });
                }
                else {
                    $.post('/ShopSchedule/UpdateSchedule', { shopId: id, hasSchedule: false }, function () { });
                }
            });

            $('#select-shop-filter').select2({
                placeholder: "Search Shop",
                width: '100%',
                ajax: {
                    url: "/Product/GetActiveShopSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="FilterShopName"]').val(e.params.data.text);
            });

            $('#select-shop').select2({
                placeholder: "Select Shop",
                width: '100%',
                ajax: {
                    url: "/Cart/GetShopSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            });

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-shopid');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/ShopSchedule/Delete", { shopId: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });


            $('#btn-addTime').on('click', function () {
                var onTime = $('[name="OnTime"]').val();
                var offTime = $('[name="OffTime"]').val();
                if (onTime && offTime) {
                    var times = {
                        onTime: onTime,
                        offTime: offTime
                    };
                    timeArray.push(times);
                    var $tr = '<tr><td>' + onTime + '</td><td>' + offTime + '</td></tr>';
                    $('#tbl-times tbody').append($tr);
                    $('#div-times').removeClass('d-none');
                    $('[name="OnTime"]').val('');
                    $('[name="OffTime"]').val('');
                } else
                    swal('Warning', 'Timings are required!', 'warning');
            });

            $('#btn-add-schedule').on('click', function () {
                if ($('#select-shop').val()) {
                    if (timeArray.length > 0) {
                        var model = {
                            shopId: $('#select-shop').val(),
                            timeListItems: timeArray
                        }
                        $.post('/ShopSchedule/Add', model, function (data) {
                            if (data) {
                                swal('Success', 'Schedules saved successfully', 'success');
                                window.location.reload();
                            } else {
                                swal('Warning', 'Shop already has Schedules, Kindly update there.', 'warning');
                                timeArray.length = 0;
                                $('#tbl-times tbody').empty();
                                $('#div-times').addClass('d-none');
                                $('#select-shop').val('').trigger('change');
                                $('#modal-add-schedule').modal('hide');
                            }
                        });
                    } else
                        swal('Warning', 'Timing List should not be empty!', 'warning');
                } else
                    swal('Warning', 'Shop is required!', 'warning');
            });

            $("#tbl-shop-schedules").on('click', '.btn-edit-timing', function () {
                $('[name="Id"]').val($(this).attr('data-id'));
                $("#edit-onTime").val($(this).attr('data-ontime'));
                $("#edit-offTime").val($(this).attr('data-offtime'));
            });

            $("#tbl-shop-schedules").on('click', '.btn-add-timing', function () {
                $('[name="ShopId"]').val($(this).attr('data-shopid'));
            });
            
        });
    </script>
}