@model ShopNow.ViewModels.ProductEditViewModel
@{
    ViewBag.Title = "Product Update";
}
<title>ShopNow | Product Update</title>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        <h3>Error:</h3>
        <p>
            @ViewBag.ErrorMessage
        </p>
    </div>
}
    <div class="container-fluid my-0">
        @using (Html.BeginForm("Edit", "Product", FormMethod.Post, new { id = "ProductForm", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-theme" style="letter-spacing:1px">PRODUCT UPDATE</h5>
                </div>
                <div class="col-md-4 text-center">
                    <div class="form-group">
                        @if (Model.ShopCode != null)
                        {
                            <select id="ShopCode" name="ShopCode" class="form-control">
                                <option value="@Model.ShopCode">@Model.ShopName</option>
                            </select>
                        }

                    </div>
                </div>
                <div class="col-md-4 text-right">
                    <a href="~/Product/List" target="_blank"><span class="fa fa-bars"></span> Product List</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mx-auto">
                    <input type="hidden" name="ShopName" id="ShopName" value="@Model.ShopName" />
                    <input type="hidden" name="Code" id="Code" value="@Model.Code" />
                    <input type="hidden" name="ShopCategoryCode" id="ShopCategoryCode" value="@Model.ShopCategoryCode" />
                    <input type="hidden" name="ShopCategoryName" id="ShopCategoryName" value="@Model.ShopCategoryName" />
                    <input type="hidden" name="DateUpdated" id="DateUpdated" value="@Model.DateUpdated" />
                    <input type="hidden" name="MainSNCode" id="MainSNCode" value="@Model.MainSNCode" />
                    <input type="hidden" name="ProductType" id="ProductType" value="@Model.ProductType" />
                    <input type="hidden" name="Status" value="@Model.Status" />
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label"><strong class="text-secondary">Product Name</strong></label>
                                    <div class="form-group">
                                        <input type="text" name="MasterProductName" id="MasterProductName" class="form-control" value="@Model.MasterProductName" />
                                        <input type="hidden" name="MasterProductCode" id="MasterProductCode" value="@Model.MasterProductCode" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label text-secondary font-weight-bold" for="BrandCode">Brand Name</label>
                                    <div class="form-group">
                                        <input type="text" name="BrandName" id="BrandName" class="form-control" value="@Model.BrandName" />
                                        <input type="hidden" name="BrandCode" id="BrandCode" value="@Model.BrandCode" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label text-secondary font-weight-bold" for="CategoryCode">Category Name</label>
                                    <div class="form-group">
                                        <input type="text" name="CategoryName" id="CategoryName" class="form-control" value="@Model.CategoryName" />
                                        <input type="hidden" id="CategoryCode" name="CategoryCode" value="@Model.CategoryCode" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label"><strong class="text-secondary">Short Description</strong></label>
                                    <input type="text" class="form-control" name="ShortDescription" id="ShortDescription" maxlength="100" value="@Model.ShortDescription" />
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label" for="MenuPrice"><strong class="text-secondary">Menu Price</strong></label>
                                        <input id="MenuPrice" type="number" class="form-control" name="MenuPrice" step="any" value="@Model.MenuPrice" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label" for="Price"><strong class="text-secondary">Selling Price</strong></label>
                                        <input id="Price" type="number" class="form-control" name="Price" step="any" value="@Model.Price" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label" for="Quantity"><strong class="text-secondary">Quantity</strong></label>
                                        <input id="Qty" type="text" class="form-control" name="Qty" value="@Model.Qty" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label" for="Percentage"><strong class="text-secondary">Percentage</strong></label>
                                        <input id="Percentage" type="number" class="form-control" name="Percentage" step="any" value="@Model.Percentage" readonly />
                                    </div>
                                </div>
                                @*<div class="col-md-2">
                        <label class="control-label ml-2"><strong class="text-secondary">Product Image</strong></label>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="img-upload-container ml-2">
                                    @if (Model.ImagePath != null)
                                    {
                                        <a href="~/Home/ImageDenied">
                                            <img id='img-upload' class="img-container w-100 h-100" width="100" height="100" src="@Model.ImagePath" onerror="this.src='/Images/No Photo.png'" />
                                        </a>

                                    }
                                    else
                                    {
                                        <a href="~/Home/ImageDenied">
                                            <img id='img-upload' class="img-container w-100 h-100" width="100" height="100" />
                                        </a>
                                    }
                                    <input type="file" id="ProductImage" name="ProductImage" class="d-none" onchange="readURL(this)" alt="img-upload" />
                                    <label for="ProductImage" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                    <input type="hidden" name="ImagePath" id="ImagePath" value="@Model.ImagePath" />

                                </div>
                            </div>
                        </div>
                    </div>*@
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label"><strong class="text-secondary">Long Description</strong></label>
                                        <textarea class="form-control ckeditor h-50" id="LongDescription" name="LongDescription" maxlength="500">@Model.LongDescription</textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="card-body row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="GTIN14"><strong class="text-secondary">GTIN14</strong></label>
                                    <div class="col-sm-12">
                                        <input id="GTIN14" type="text" class="form-control" name="GTIN14" value="@Model.GTIN14" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="GTIN13"><strong class="text-secondary">GTIN13</strong></label>
                                    <div class="col-sm-12">
                                        <input id="GTIN13" type="text" class="form-control" name="GTIN13" value="@Model.GTIN13" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="GTIN12"><strong class="text-secondary">GTIN12</strong></label>
                                    <div class="col-sm-12">
                                        <input id="GTIN12" type="text" class="form-control" name="GTIN12" value="@Model.GTIN12" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="UPC"><strong class="text-secondary">UPC</strong></label>
                                    <div class="col-sm-12">
                                        <input id="UPC" type="text" class="form-control" name="UPC" value="@Model.UPC" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="GTIN"><strong class="text-secondary">GTIN</strong></label>
                                    <div class="col-sm-12">
                                        <input id="GTIN" type="text" class="form-control" name="GTIN" value="@Model.GTIN" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="ISBN"><strong class="text-secondary">ISBN</strong></label>
                                    <div class="col-sm-12">
                                        <input id="ISBN" type="text" class="form-control" name="ISBN" value="@Model.ISBN" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label col-sm-12" for="EAN"><strong class="text-secondary">EAN</strong></label>
                                    <div class="col-sm-12">
                                        <input id="EAN" type="text" class="form-control" name="EAN" value="@Model.EAN" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="card-body">
                            <div class="row" id="divSpec">
                                <table class="table table-borderless table-striped table-condensed w-100 mr-auto ml-5" id="tbl-specification">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Specification Name</th>
                                            <th>Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.SpecificationLists)
                                        {
                                            var totalcount = Model.SpecificationLists.Count();
                                            var count = Model.SpecificationLists.IndexOf(item);
                                            count++;
                                            <tr>
                                                <td>@count</td>
                                                <td>
                                                    @if (item.SpecificationName != null)
                                                    {@item.SpecificationName }
                                                else
                                                {<span>N/A</span>}
                                                </td>
                                                <td>
                                                    @if (item.Value != null)
                                                    {<span>@item.Value</span>}
                                                else
                                                {<span>N/A</span>}
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot></tfoot>
                                </table>
                            </div>
                        </div>

                        <div class="card mt-3">
                            <div class="card-body">
                                <div class="row mt-2">
                                    <h5 class="text-success">Update Product Image(s)</h5>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image1</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge1 != null)
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage1' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge1" onerror="this.src='/Images/No Photo.png'" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage1' class="img-container w-100 h-100" width="100" height="100" />
                                                </a>
                                            }
                                            <input type="file" id="ProductImage1" name="ProductImage1" class="d-none" />
                                            <label for="ProductImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge1" id="ImagePathLarge1" value="@Model.ImagePathLarge1" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image2</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge2 != null)
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage2' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge2" onerror="this.src='/Images/No Photo.png'" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage2' class="img-container w-100 h-100" width="100" height="100" />
                                                </a>
                                            }
                                            <input type="file" id="ProductImage2" name="ProductImage2" class="d-none" />
                                            <label for="ProductImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge2" id="ImagePathLarge2" value="@Model.ImagePathLarge2" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image3</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge3 != null)
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage3' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge3" onerror="this.src='/Images/No Photo.png'" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage3' class="img-container w-100 h-100" width="100" height="100" />
                                                </a>
                                            }
                                            <input type="file" id="ProductImage3" name="ProductImage3" class="d-none" />
                                            <label for="ProductImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge3" id="ImagePathLarge3" value="@Model.ImagePathLarge3" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image4</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge4 != null)
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage4' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge4" onerror="this.src='/Images/No Photo.png'" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage4' class="img-container w-100 h-100" width="100" height="100" />
                                                </a>
                                            }
                                            <input type="file" id="ProductImage4" name="ProductImage4" class="d-none" />
                                            <label for="ProductImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge4" id="ImagePathLarge4" value="@Model.ImagePathLarge4" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image5</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge5 != null)
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage5' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge5" onerror="this.src='/Images/No Photo.png'" />
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="~/Home/ImageDenied">
                                                    <img id='img-ProductImage5' class="img-container w-100 h-100" width="100" height="100" />
                                                </a>
                                            }
                                            <input type="file" id="ProductImage5" name="ProductImage5" class="d-none" />
                                            <label for="ProductImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge5" id="ImagePathLarge5" value="@Model.ImagePathLarge5" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-3 mx-auto">
                                        <button type="submit" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        </div>

@*Image Modal*@

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <img class="modal-content" id="myImage">
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script>

        $(document).ready(function () {
            $('#Price').on('change keyup', function () {
                var menuprice = $("#MenuPrice").val();
                var sellingprice = $(this).val();
                var results = Math.ceil(((menuprice - sellingprice) / menuprice) * 100);
                $("#Percentage").val(results);
            });

            //$('#MenuPrice').on('change keyup', function () {
            //    var menuprice = $(this).val();
            //    var sellingprice = $('#Price').val();
            //    var results = Math.ceil(((menuprice - sellingprice) / menuprice) * 100);
            //    $("#Percentage").val(results);
            //});

            if (@Model.SpecificationLists.Count == 0) {
                var count = $('#tbl-specification tr').length;
                if (count == 1) {
                    $("#divSpec").addClass("d-none");
                }
            }

            $('#MenuPrice').prop('readonly', true);
            $('#CategoryName').prop('readonly', true);
            $('#BrandName').prop('readonly', true);
            $('#MasterProductName').prop('readonly', true);
            $('#ShortDescription').prop('readonly', true);

            @*var pcode = $("#MasterProductCode").val();
            if (pcode != null) {
                $('#ShortDescription').prop('readonly', true);
                CKEDITOR.config.readOnly = true;
            }

            $('#SpecificationCode').select2({
                placeholder: "Search Specification",
                ajax: {
                    url: "/Product/GetSpecificationSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="SpecificationName"]').val(e.params.data.text);
            });

            $('#ShopCode').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Product/GetProductShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $('#BrandCode').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/Product/GetBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryCode').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/Product/GetProductCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#MasterProductCode').select2({
                placeholder: "Search Product",
                ajax: {
                    url: "/Product/GetProductSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MasterProductName"]').val(e.params.data.text);
                $('#ShortDescription').prop('readonly', true);
                CKEDITOR.instances['LongDescription'].setReadOnly(true);
               // CKEDITOR.instances['Specification'].setReadOnly(true);
            });

            $('#addToSpecification').on('click', function () {
                var SpecificationCode = $("#SpecificationCode").val();
                var SpecificationName = $("#SpecificationName").val();
                var SpecificationValue = $("#SpecificationValue").val();
                var fd = new FormData();
                fd.append('SpecificationCode', SpecificationCode);
                fd.append('SpecificationName', SpecificationName);
                fd.append('Value', SpecificationValue);
                $.ajax({
                    url: '/Product/Specifications',
                    data: fd,
                    type: 'post',
                    dataType: 'json',
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (data) {
                        var tableData = '<tr> \
                                                        <td>'+ data.Id + '</td> \
                                                        <td>'+ data.SpecificationName + '<input type="hidden" name="SpecificationCode" value=' + data.SpecificationCode + ' /></td> \
                                                        <td>'+ data.Value + '</td> \
                                                        <td><button class="btn btn-link text-danger removeSpecifications" type="button" data-id='+ data.Id + '><u>Remove</u></button></td>\
                                                    </tr> ';

                        $('#tbl-specification tbody').append(tableData);
                        $('#divSpecification').removeClass('d-none');
                        $('#SpecificationCode').val('').trigger('change');
                        $('#SpecificationValue').val("");
                    }
                })
            });

            $(document).on('click', '.removeSpecifications', function () {
                var id = $(this).data('id');
                var code = $(this).data('code');
                var thisRow = $(this).closest("tr");
                $.post('/Product/EditRemoveSpecifications', { id: id, code: code }, function (data) {
                    if (data == true) {
                        thisRow.remove();
                        alert("Specification Successfully Removed!");
                        var count = $('#tbl-specification tr').length;
                        if (count == 2) {
                            $("#divSpecification").addClass("d-none");
                        }
                    }
                    else
                        alert("Something went wrong please try again!");
                });
            }); jQuery(document).ready(function ($) {
                 $("#Customisation").find('option[value="@Model.Customisation"]').attr('selected', 'selected');
            });*@


            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            function readURLProduct1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ProductImage1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ProductImage1").change(function () {
                readURLProduct1(this);
            });

            function readURLProduct2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ProductImage2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ProductImage2").change(function () {
                readURLProduct2(this);
            });

            function readURLProduct3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ProductImage3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ProductImage3").change(function () {
                readURLProduct3(this);
            });

            function readURLProduct4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ProductImage4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ProductImage4").change(function () {
                readURLProduct4(this);
            });

            function readURLProduct5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ProductImage5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ProductImage5").change(function () {
                readURLProduct5(this);
            });

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('ProductImage');
            var modalImg = document.getElementById("myImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

        });
    </script>
}

