@model ShopNow.ViewModels.FMCGEditViewModel
@{
    ViewBag.Title = "FMCG Update";
}
<title>ShopNow | @ViewBag.Title</title>
<div class="container-fluid">
    <div class="row my-2">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/Product/FMCGList" target="_blank" class="mr-3"><span class="fa fa-list-ul"></span> FMCG List</a>
            <a href="~/Product/List" target="_blank"><span class="fa fa-list-ul"></span> Full List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("FMCGEdit", "Product", FormMethod.Post, new { id = "FMCGUpdateForm", enctype = "multipart/form-data", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <label><strong class="text-secondary">Shop Name</strong></label>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    @if (Model.ShopId != 0)
                                    {
                                        <input type="text" name="ShopName" class="form-control" id="ShopName" value="@Model.ShopName" readonly />
                                        <input type="hidden" name="ShopName" value="@Model.ShopName" />
                                        <input type="hidden" name="ShopId" value="@Model.ShopId" />
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">FMCG Name</strong></label>
                                        <input type="text" class="form-control" name="MasterProductName" id="MasterProductName" value="@Model.MasterProductName" readonly />
                                        <input type="hidden" name="MasterProductId" id="MasterProductId" value="@Model.MasterProductId" />
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                        <input type="hidden" name="Name" value="@Model.Name" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Brand Name</strong></label>
                                        <input type="text" class="form-control" name="BrandName" id="BrandName" value="@Model.BrandName" readonly />
                                        <input type="hidden" name="BrandId" id="BrandId" value="@Model.BrandId" />
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Category Name</strong></label>
                                        <select id="CategoryId" name="CategoryId" class="form-control">
                                            @if (Model.CategoryId != 0)
                                            {
                                                <option value="@Model.CategoryId">@Model.CategoryName</option>
                                            }
                                        </select>
                                        <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Sub Category I Name</strong></label>
                                        <input type="text" class="form-control" name="SubCategoryName" id="SubCategoryName" value="@Model.SubCategoryName" readonly />
                                        <input type="hidden" name="SubCategoryId" id="SubCategoryId" value="@Model.SubCategoryId" />
                                        @*<select id="SubCategoryId" name="SubCategoryId" class="form-control">
                                            @if (Model.SubCategoryId != 0)
                                            {
                                                <option value="@Model.SubCategoryId" readonly>@Model.SubCategoryName</option>
                                            }
                                        </select>
                                        <input type="hidden" name="SubCategoryName" id="SubCategoryName" value="@Model.SubCategoryName" />*@
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Sub Category II Name</strong></label>
                                        <input type="text" class="form-control" name="NextSubCategoryName" id="NextSubCategoryName" value="@Model.NextSubCategoryName" readonly />
                                        <input type="hidden" name="NextSubCategoryId" id="NextSubCategoryId" value="@Model.NextSubCategoryId" />
                                        @*<select id="NextSubCategoryId" name="NextSubCategoryId" class="form-control">
                                         @if (Model.NextSubCategoryId != 0)
                                         {
                                             <option value="@Model.NextSubCategoryId" readonly>@Model.NextSubCategoryName</option>
                                          }
                                          </select>
                                          <input type="hidden" name="NextSubCategoryName" id="NextSubCategoryName" value="@Model.NextSubCategoryName" />*@
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Price"><strong class="text-secondary">Menu Price</strong></label>
                                        <input id="MenuPrice" type="number" class="form-control" name="MenuPrice" min="1" step="any" value="@Model.MenuPrice" required />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Price"><strong class="text-secondary">Selling Price</strong></label>
                                        <input id="Price" type="number" class="form-control" name="Price" min="1" step="any" value="@Model.Price" required />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Qty"><strong class="text-secondary">Quantity</strong></label>
                                        <input id="Qty" type="number" class="form-control" name="Qty" min="0" value="@Model.Qty" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label" for="Percentage"><strong class="text-secondary">Percentage</strong></label>
                                            <input id="Percentage" type="number" class="form-control" name="Percentage" value="@Model.Percentage" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Weight"><strong class="text-secondary">Weight</strong></label>
                                        <input id="Weight" type="number" class="form-control" name="Weight" min="0" step="any" value="@Model.Weight" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="SizeLBH"><strong class="text-secondary">Size LB</strong></label>
                                        <input id="SizeLBH" type="text" class="form-control" name="SizeLBH" min="0" value="@Model.SizeLBH" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="MeasurementUnitCode"><strong class="text-secondary">Measurement Unit Name</strong></label>
                                        <input type="hidden" name="MeasurementUnitId" id="MeasurementUnitId" value="@Model.MeasurementUnitId" />
                                        <input type="text" class="form-control" name="MeasurementUnitName" id="MeasurementUnitName" value="@Model.MeasurementUnitName" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="PackageCode"><strong class="text-secondary">Package Name</strong></label>
                                        <input type="hidden" name="PackageId" id="PackageId" value="@Model.PackageId" />
                                        <input type="text" class="form-control" name="PackageName" id="PackageName" value="@Model.PackageName" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="ASIN"><strong class="text-secondary">ASIN / EAN</strong></label>
                                        <input id="ASIN" type="text" class="form-control" name="ASIN" value="@Model.ASIN" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" readonly />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="PackingType"><strong class="text-secondary">Packing Type</strong></label>
                                        <div class="form-check-inline ml-3">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="PackingType" value="0" @if (Model.PackingType == 0) { <text> checked </text> }>Item Qty
                                            </label>
                                        </div>
                                        <div class="form-check-inline">
                                            <label class="form-check-label">
                                                <input type="radio" class="form-check-input" name="PackingType" value="1" @if (Model.PackingType == 1) { <text> checked </text> }>SKU
                                            </label>
                                        </div>
                                        <input type="number" class="form-control" name="PackingCharge" id="PackingCharge" value="@Model.PackingCharge" />
                                    </div>
                                    <div class="d-flex mt-3">
                                        <div class="mx-3">
                                            <input type="checkbox" id="IsPreorder" name="IsPreorder" value="true" @if (Model.IsPreorder) { <text> checked </text> }>
                                            <label class="font-weight-bold text-secondary col-form-label" for="IsPreorder"> Is PreOrder</label><br>
                                        </div>
                                        <div class="ml-3">
                                            <select name="PreorderHour" id="PreorderHour" class="form-control d-none">
                                                <option value="0" selected disabled>Select Hours</option>
                                                @for (int i = 2; i <= 24; i++)
                                                {
                                                    <option value="@i" @if (Model.PreorderHour == @i) { <text> selected </text> }>@i hours</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12  form-group">
                                        <label class="col-form-label" for="ShortDescription"><strong class="text-secondary">Short Description</strong></label>
                                        <input id="ShortDescription" type="text" class="form-control" name="ShortDescription" min="0" value="@Model.ShortDescription" readonly />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="control-label"><strong class="text-secondary">Long Description</strong></label>
                                        @*<textarea class="form-control" id="LongDescription" name="LongDescription" rows="8" cols="50" readonly>@Html.Raw(Model.LongDescription)</textarea>*@
                                        <div>@Html.Raw(Model.LongDescription)</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image</label>
                                        <img id="img-FMCGmage1" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath1" onerror="this.src='/Images/No Photo.png'" style="width:120px;height:120px;" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-2</label>
                                        <img id="img-FMCGImage2" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath2" onerror="this.src='/Images/No Photo.png'" style="width:120px;height:120px;" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-3</label>
                                        <img id="img-FMCGImage3" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath3" onerror="this.src='/Images/No Photo.png'" style="width:120px;height:120px;" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-4</label>
                                        <img id="img-FMCGImage4" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath4" onerror="this.src='/Images/No Photo.png'" style="width:120px;height:120px;" />
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-5</label>
                                        <img id="img-FMCGImage5" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath5" onerror="this.src='/Images/No Photo.png'" style="width:120px;height:120px;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 mx-auto">
                                <button type="submit" class="btn btn-block btn-success Save" id="Update"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {
            $('#Price').on('change keyup', function () {
                var menuprice = $("#MenuPrice").val();
                var sellingprice = $(this).val();
                var results = Math.ceil(((menuprice - sellingprice) / menuprice) * 100);
                $("#Percentage").val(results);
            });

            $('#MenuPrice').on('change keyup', function () {
                var menuprice = $(this).val();
                var sellingprice = $('#Price').val();
                var results = Math.ceil(((menuprice - sellingprice) / menuprice) * 100);
                $("#Percentage").val(results);
            });

            $('#Percentage').on('change keyup', function () {
                var percentage = $(this).val();
                var menuprice = $("#MenuPrice").val();
                var results = Math.ceil(menuprice - (menuprice * (percentage / 100)));
                $("#Price").val(results);
            });

            showHour();

            $('#IsPreorder').change(function () {
                showHour();
            });

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/Product/GetFMCGCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#SubCategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/Product/GetFMCGSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="SubCategoryName"]').val(e.params.data.text);
            });

            $('#NextSubCategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/Product/GetFMCGNextSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="NextSubCategoryName"]').val(e.params.data.text);
            });
        });

        function showHour() {
            if ($('#IsPreorder').is(":checked")) {
                $("#PreorderHour").removeClass('d-none');
                $("#PreorderHour").val(@Model.PreorderHour);
            } else {
                $("#PreorderHour").addClass('d-none');
                $("#PreorderHour").val(0);
            }
        }
    </script>
}
