@model ShopNow.ViewModels.FoodCreateViewModel
@{
    ViewBag.Title = "Dish Entry";
}
<title>ShopNow | Dish Create</title>
<style>
    .textbox-sm {
        width: 80px;
    }
</style>
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-md-2">
            <h5 class="mt-1 text-uppercase text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="text-right col-md-10">
            <a href="/Product/FoodList" class="mr-3"><span class="fa fa-list-ul"></span> Dish List</a>
            <a href="/Product/List"><span class="fa fa-list-ul"></span> Full List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FoodCreate", "Product", FormMethod.Post, new { id = "ProductForm", role = "form", enctype = "multipart/form-data", autocomplete = "off" }))
            {
                @Html.AntiForgeryToken()
                <div class="card shadow mb-3">
                    <div class="card-body">
                        <div class="form-group row mt-3 mx-3">
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <label class="col-form-label text-secondary font-weight-bold">Shop Name</label>
                            </div>
                            <div class="col-md-4">
                                @if (ViewBag.user != null)
                                {
                                    <strong class="text-secondary">@ViewBag.user</strong>
                                }
                                else
                                {
                                    <select id="ShopId" name="ShopId" class="form-control"></select>
                                    <input type="hidden" name="ShopName" id="ShopName" />
                                    <input type="hidden" name="ShopPricePercentage" id="ShopPricePercentage" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body" id="DefaultEntry">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">
                                    <strong class="text-secondary">Dish Name</strong>
                                </label>
                                <div class="form-group">
                                    <select id="MasterProductId" name="MasterProductId" class="form-control"></select>
                                    <input type="hidden" name="MasterProductName" id="MasterProductName" />
                                    <input type="hidden" name="Name" id="Name" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="CategoryId">
                                    <strong class="text-secondary">Category Name</strong>
                                </label>
                                <div class="form-group">
                                    <select id="CategoryId" name="CategoryId" class="form-control"></select>
                                    <input type="hidden" name="CategoryName" id="CategoryName" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-sm-12"><strong class="text-secondary">Food Type</strong></label>
                                <select class="form-control" name="ColorCode" id="ColorCode" disabled>
                                    <option value="Select">Select Type</option>
                                    <option value="#168138">Veg</option>
                                    <option value="#98361c">Non-Veg</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label col-sm-12"><strong class="text-secondary">Customisation</strong></label>
                                <select class="form-control" name="Customisation" id="select-customisation">
                                    <option value="Select">Select Custom</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="MenuPrice"><strong class="text-secondary">Menu Price</strong></label>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="MenuPrice" step="any" id="MenuPrice" min="0" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="Price"><strong class="text-secondary">Selling Price</strong></label>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="Price" step="any" id="Price" min="0" />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" for="Percentage"><strong class="text-secondary">Percentage</strong></label>
                                    <input id="Percentage" type="number" class="form-control" name="Percentage" readonly />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label" for="ShopPrice"><strong class="text-secondary">Shop Price</strong></label>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="ShopPrice" step="any" id="ShopPrice" min="0" readonly />
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="control-label" for="Qty"><strong class="text-secondary">Quantity</strong></label>
                                <div class="form-group">
                                    <input type="number" class="form-control" name="Qty" id="Qty" min="0" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label"><strong class="text-secondary">Min.AddOn Category Limit</strong></label>
                                        <div class="form-group">
                                            <input type="number" name="MinSelectionLimit" id="MinSelectionLimit" class="form-control" min="0" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label"><strong class="text-secondary">Max.AddOn Category Limit</strong></label>
                                        <div class="form-group">
                                            <input type="number" name="MaxSelectionLimit" id="MaxSelectionLimit" class="form-control" min="0" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="control-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google TaxonomyCode</strong></label>
                                        <div class="form-group">
                                            <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="control-label" for="PackingType"><strong class="text-secondary">Packing Type</strong></label>
                                <div class="form-check-inline ml-3">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="PackingType" value="0" checked>Item Qty
                                    </label>
                                </div>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="PackingType" value="1">SKU
                                    </label>
                                </div>
                                <input type="number" class="form-control" name="PackingCharge" id="PackingCharge" />
                            </div>
                            <div class="d-flex mt-3">
                                <div class="mx-3">
                                    <input type="checkbox" id="IsPreorder" name="IsPreorder" value="true">
                                    <label class="font-weight-bold text-secondary col-form-label" for="IsPreorder"> Is PreOrder</label><br>
                                </div>
                                <div class="ml-3">
                                    <select name="PreorderHour" id="PreorderHour" class="form-control d-none">
                                        <option value="0" selected disabled>Select Hours</option>
                                        @for (int i = 2; i <= 24; i++)
                                        {
                                            <option value="@i">@i hours</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-none" id="divAddOns">
                            <hr />
                            <h5 class="text-success">Dish Addons <small>(Choose any one type to select addons)</small></h5>
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <div class="form-check-inline ml-5">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="AddOnsType" value="1">Only Portion
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="AddOnsType" value="2">Only Addons
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="AddOnsType" value="3">Portions and Addons
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="AddOnsType" value="4">Step by Step Process
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-borderless table-condensed w-100" id="tbl-addOns">
                                        <thead>
                                            <tr>
                                                <th>Portion Name</th>
                                                <th>Portion Price</th>
                                                <th>AddOn Category Name</th>
                                                <th>AddOn Item Name</th>
                                                <th>AddOn Price</th>
                                                <th>Selection Name</th>
                                                <th>Selection Price</th>
                                                <th>Min</th>
                                                <th>Max</th>
                                                <th>On/Off</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-3">
                                <h5 class="text-success">Dish Image</h5>
                                <img class="img-container" id="img-ProductImage1" src="/Images/No Photo.png" onerror="this.src='/Images/noimage.png'" style="width:120px;height:120px;" />
                                <input type="hidden" name="ImagePath1" />
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-3 mx-auto">
                                <button type="button" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@*Image Modal*@

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <img class="modal-content" id="myImage">
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        // Default Entry

        $(document).ready(function () {
            var errormsg = "@ViewBag.ErrorMessage";
            var msg = "@ViewBag.Message";
            if (errormsg != "") {
                swal("Notice!", errormsg, "error")
            }
            if (msg != "") {
                swal("Success!", msg, "success")
            }

            $('#IsPreorder').change(function () {
                if (this.checked) {
                    $("#PreorderHour").removeClass('d-none');
                } else {
                    $("#PreorderHour").addClass('d-none');
                    $("#PreorderHour").val(0);
                }
            });

            $('#Price').on('change keyup', function () {
                var menuprice = $("#MenuPrice").val();
                var sellingprice = $(this).val();
                var results = Math.ceil(((menuprice - sellingprice) / menuprice) * 100);
                $("#Percentage").val(results);
                calculateShopPrice(menuprice, $("#ShopPricePercentage").val(), sellingprice, results);
            });

            $('#MenuPrice').on('change keyup', function () {
                var menuprice = $(this).val();
                var sellingprice = $('#Price').val();
                var results = Math.ceil(((menuprice - sellingprice) / menuprice) * 100);
                $("#Percentage").val(results);
                calculateShopPrice(menuprice, $("#ShopPricePercentage").val(), sellingprice, results);
            });

            $('#ShopId').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Product/GetDishShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.textSave);
                $('input[name="ShopPricePercentage"]').val(e.params.data.percentage);
            });

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/Product/GetDishCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $(".Save").click(function () {
                var isValidated = false;
                var requiredArr = [
                    'ShopId',
                    'MasterProductId',
                    'MenuPrice',
                    'Price'
                ];
                var isValidated = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidated) {
                    $('#ProductForm').submit();
                    $(".Save").prop("disabled", true);
                }
                //var shopid = $("#ShopId").val();
                //if (shopid != null) {
                //    if ($('#MasterProductId').val()) {
                //        $('#ProductForm').submit();
                //    } else {
                //        swal("Notice!", "Please Select Product!", "warning");
                //    }
                //} else {
                //    swal("Notice!", "Please Select Shop!", "warning");
                //}
            });

            $('#MasterProductId').select2({
                placeholder: "Search Product",
                ajax: {
                    url: "/Product/GetDishSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('select[name="CategoryId"]').find('option').remove();
                $('input[name="MasterProductName"]').val(e.params.data.text);
                $('input[name="Name"]').val(e.params.data.text);
                $('select[name="CategoryId"]').append('<option value=' + e.params.data.CategoryId + '>' + e.params.data.CategoryName + '</option>')
                $('input[name="CategoryName"]').val(e.params.data.CategoryName);
                $('select[name="Customisation"] option[value=' + e.params.data.Customisation + ']').attr("selected", "selected");
                $('select[name="ColorCode"] option[value="' + e.params.data.ColorCode + '"]').attr("selected", "selected");
                $('#img-ProductImage1').attr('src', 'https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/' + e.params.data.ImagePath1);
                $('input[name="ImagePath1"]').val(e.params.data.ImagePath1);
                $('input[name="MenuPrice"]').val(e.params.data.Price);
                calculateShopPrice(e.params.data.Price, $("#ShopPricePercentage").val(),0,0);
                $('input[name="GoogleTaxonomyCode"]').val(e.params.data.GoogleTaxonomyCode);

                $('#divAddOns').addClass('d-none');
                $('#tbl-addOns tbody').empty();
                $.getJSON('/Product/GetProductDishAddOns', { masterProductId: e.params.data.MasterId }, function (data) {
                    if (data != "") {
                        $.each(data, function (index, item) {
                            var tableData = '<tr class="d-none type_' + item.AddOnType + '" data-id=' + item.Id + '> \
                                    <td>' + item.PortionName + '</td> \
                                    <td><input class="textbox-sm portion-price" type="number" value=' + item.PortionPrice + '></td> \
                                    <td>' + item.AddOnCategoryName + '</td> \
                                    <td>' + item.AddOnItemName + '</td> \
                                    <td><input class="textbox-sm addon-price" type="number" value=' + item.AddOnsPrice + '></td>\
                                    <td>' + item.CrustName + '</td>\
                                    <td><input class="textbox-sm crust-price" type="number" value=' + item.CrustPrice + '></td>\
                                    <td>' + item.MinSelectionLimit + '</td>\
                                    <td>' + item.MaxSelectionLimit + '</td>\
                                    <td><input type="checkbox" class="chk-select chk_'+ item.AddOnType + '" value="true" name="IsActive" data-id=' + item.Id + '></td>\
                                </tr>';
                            $('#tbl-addOns tbody').append(tableData);
                        });
                    }
                });
                if (e.params.data.Customisation == true)
                    $('#divAddOns').removeClass('d-none');
                else
                    $('#divAddOns').addClass('d-none');
            });

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('ProductImg');
            var img1 = document.getElementsByClassName('AddOnImg');
            var modalImg = document.getElementById("myImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

            $(img1).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

            $('#select-customisation').on('change', function () {
                var cust = $('#select-customisation').val();
                if (cust == 'true') {
                    $("#divAddOns").removeClass("d-none");
                } else {
                    $("#divAddOns").addClass("d-none");
                }
            });

            $('[name="AddOnsType"]').on('change', function () {
                let value = parseInt($(this).val());
                $('.type_1').addClass('d-none');
                $('.type_2').addClass('d-none');
                $('.type_3').addClass('d-none');
                $('.type_4').addClass('d-none');

                $('.portion-price').prop('disabled', true);
                $('.addon-price').prop('disabled', true);
                $('.crust-price').prop('disabled', true);

                switch (value) {
                    case 1:
                        $('.type_1').removeClass('d-none');
                        $('.portion-price').prop('disabled', false);
                        break;
                    case 2:
                        $('.type_2').removeClass('d-none');
                        $('.addon-price').prop('disabled', false);
                        break;
                    case 3:
                        $('.type_3').removeClass('d-none');
                        $('.portion-price').prop('disabled', false);
                        $('.addon-price').prop('disabled', false);
                        break;
                    case 4:
                        $('.type_4').removeClass('d-none');
                        $('.portion-price').prop('disabled', false);
                        $('.addon-price').prop('disabled', false);
                        $('.crust-price').prop('disabled', false);
                        break;
                }
            });

            $('#tbl-addOns').on('click', '.chk-select', function () {
                var id = $(this).data('id');
                var $tr = $(this).closest('tr');
                if ($(this).is(':checked') == true) {
                    addonDisableCheckbox();
                    let data = {
                        Id: $(this).data('id'),
                        PortionPrice: parseFloat($tr.find('.portion-price').val()),
                        AddOnsPrice: parseFloat($tr.find('.addon-price').val()),
                        CrustPrice: parseFloat($tr.find('.crust-price').val()),
                    }
                    $.post('/Product/AddShopAddOns', { model: data }, function () { });
                } else {
                    addonDisableCheckbox();
                    $.post('/Product/RemoveFromShopAddOns', { id: id }, function () { });
                }
            });

            function addonDisableCheckbox() {
                $('.chk_1').prop('disabled', false);
                $('.chk_2').prop('disabled', false);
                $('.chk_3').prop('disabled', false);
                $('.chk_4').prop('disabled', false);
                if ($('.chk_1:checked').length > 0) {
                    $('.chk_2').prop('disabled', true);
                    $('.chk_3').prop('disabled', true);
                    $('.chk_4').prop('disabled', true);
                }
                else if ($('.chk_2:checked').length > 0) {
                    $('.chk_1').prop('disabled', true);
                    $('.chk_3').prop('disabled', true);
                    $('.chk_4').prop('disabled', true);
                } else if ($('.chk_3:checked').length > 0) {
                    $('.chk_1').prop('disabled', true);
                    $('.chk_2').prop('disabled', true);
                    $('.chk_4').prop('disabled', true);
                } else if ($('.chk_4:checked').length > 0) {
                    $('.chk_1').prop('disabled', true);
                    $('.chk_2').prop('disabled', true);
                    $('.chk_3').prop('disabled', true);
                }
            }
        });

        function calculateShopPrice(menuprice, shoppercentage, sellingprice, percentage) {
            if (shoppercentage != 0 && percentage == 0) {
                var shopprice = (menuprice - (menuprice * (shoppercentage / 100)));
                $('#ShopPrice').val(shopprice);
            } else if (shoppercentage != 0 && percentage != 0) {
                var shopprice = (sellingprice - (sellingprice * (shoppercentage / 100)));
                $('#ShopPrice').val(shopprice);
            } else if (shoppercentage == 0 && percentage == 0) {
                $('#ShopPrice').val(menuprice);
            } else {
                $('#ShopPrice').val(sellingprice);
            }
        }
    </script>
}

