@model ShopNow.ViewModels.ProductInactiveList
@using GridMvc.Html
@{
    ViewBag.Title = "Inactive List";
}
<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <form method="get" action="/Product/InactiveList" class="my-3">
        <div class="row my-2">
            <div class="col-md-4">
                <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <select id="select-shop" class="form-control" name="ShopId">
                            @if (Model.ShopId != 0)
                            {
                                <option value="@Model.ShopId">@Model.ShopName</option>
                            }
                        </select>
                        <input type="hidden" name="ShopName" />
                    </div>
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-info" value="Apply Filter" />
                        <a href="/Product/InactiveList" class="btn btn-warning ml-2">Clear Filter</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="card shadow">
        <div class="card-body">
            @Html.Grid(Model.ListItems).Columns(columns =>
        {
            columns.Add(b => b.Name).Titled("Name").Filterable(true).SetWidth(10);
            columns.Add(b => b.ItemId).Titled("Item id").Filterable(true).SetWidth(10);
            columns.Add(b => b.MenuPrice).Titled("Mrp").Filterable(true).SetWidth(10);
            columns.Add(b => b.SellingPrice).Titled("Price").Filterable(true).SetWidth(10);
            columns.Add(b => b.Quantity).Titled("Qty").Filterable(true).SetWidth(10);
            columns.Add()
         .Encoded(false)
         .Sanitized(false)
         .RenderValueAs(b => new HtmlString
                ("<input type='button' class='btn btn-sm btn-success btn-update-active' value='Make Active' data-id="+b.Id+" />")).Titled("Action").Css("text-center").SetWidth(5);
        }).WithPaging(20).Sortable(true)
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#select-shop').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Product/GetActiveShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $('.btn-update-active').on('click', function () {
                var tr = $(this).closest('tr');
                var code = tr.find('.btn-update-active').data('id');
                $.post('/Product/UpdateActive', { id: id }, function (data) {
                    if (data) {
                        swal('Success!', 'Updated Successfully', 'success');
                        window.location.reload();
                    }
                    else
                        swal('Warning!', 'Something went wrong', 'warning');
                });
            });

        });
    </script>
}

