@model ShopNow.ViewModels.ProductItemListViewModel
@*@model IEnumerable<ShopNow.Models.Product>*@
@using GridMvc.Html
@{
    ViewBag.Title = "Item List";
}
<title>ShopNow | Item List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-3">
                <h5 class="mt-1" style="letter-spacing:1px">SHOPWISE ITEM LIST</h5>
            </div>
            <div class="col-md-5">
                <form method="get" action="/Product/List">
                    <div class="row">
                        <div class="col-md-8">
                            <select id="select-shop" class="form-control" name="ShopId">
                                @if (Model.ShopId != 0)
                                {
                                    <option value="@Model.ShopId">@Model.ShopName</option>
                                }
                            </select>
                            <input type="hidden" name="ShopName" />
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-info mr-3" value="Go" />
                            <a href="/Product/List" class="btn btn-info">Clear</a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-right">
                <a href="~/Product/FoodCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> Dish</a>
                <a href="~/Product/FMCGCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> FMCG</a>
                <a href="~/Product/MedicalCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> Medicine</a>
                <a href="~/Product/ElectronicCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> Electronics</a>
            </div>
        </div>
        @Html.Grid(Model.ListItems).Columns(columns =>
   {
       columns.Add(c => c.ProductTypeName).Titled("Item Type").Filterable(true).SetWidth(10);
       columns.Add(c => c.Name).Titled("Name").Encoded(false).Sanitized(false).RenderValueAs(model => Html.ActionLink(model.Name, "Details", new { id = @ShopNow.Helpers.AdminHelpers.ECodeInt(model.Id) }).ToHtmlString()).Filterable(true).SetWidth(20);
       columns.Add(c => c.CategoryName).Titled("Category Name").Filterable(true).SetWidth(12);/*.RenderValueAs(c=> c.CategoryName == null ? "N/A" : c.CategoryName);*/
       columns.Add(c => c.BrandName).Titled("Brand Name").Filterable(true).SetWidth(18);/*.RenderValueAs(c => c.BrandName == null ? "N/A" : c.BrandName);*/
       columns.Add(c => c.ShopName).Titled("Shop Name").Filterable(true).SetWidth(10);
       columns.Add(c => c.DiscountCategoryPercentage).Titled("Discount %").Filterable(true).SetWidth(10);
       columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .RenderValueAs(o => o.ProductTypeName == "Product" ? Html.ActionLink("Edit", "Edit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-sm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString() :
       (o.ProductTypeName == "Dish" ? Html.ActionLink("Edit", "FoodEdit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-sm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString() :
       (o.ProductTypeName == "FMCG" ? Html.ActionLink("Edit", "FMCGEdit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-sm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString() :
       (o.ProductTypeName == "Medical" ? Html.ActionLink("Edit", "MedicalEdit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-sm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString() :
       Html.ActionLink("Edit", "ServiceEdit", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id) }, new { @class = "btn btn-sm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString())))
       + Html.ActionLink("Delete", "Delete", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id), redirectPage=0 }, new { @class = "btn  btn-sm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(15);
   }).WithPaging(20).Sortable(true)
    </div>

@*Image Modal*@

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="myImage">
        </a>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {

            $('#select-shop').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Product/GetActiveShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            //$("#btnFilter").click(function () {
            //    var code = $("#ShopCode").val();
            //    if (code == null || code == "") {
            //        swal("Notice!", "Please Select Shop Name!", "warning");
            //    } else {
            //        window.location.href = "/Product/List/?shopcode=" + code;
            //    }
            //});

            //$("#btnClearFilter").click(function () {
            //    window.location.href = "/Product/List";
            //});
        });
    </script>
}