@model ShopNow.ViewModels.MedicalListViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Medical List";
}
<title>SNOWCH | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<link href="~/Content/switch.css" rel="stylesheet" />
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-2">
            <h5 class="mt-1 text-uppercase text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-8">
            <form method="get" action="/Product/MedicalList">
                <div class="row">
                    <div class="col-md-6">
                        <select id="select-shop" class="form-control" name="ShopId">
                            @if (Model.ShopId != 0)
                            {
                                <option value="@Model.ShopId">@Model.ShopName</option>
                            }
                        </select>
                        <input type="hidden" name="ShopName" value="@Model.ShopName" />
                    </div>
                    <div class="col-md-3">
                        <input type="submit" class="btn btn-info mr-3" value="Go" />
                        <a href="/Product/MedicalList" class="btn btn-info">Clear</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2 text-right">
            <a href="/Product/MedicalCreate"><span class="fa fa-plus"></span> Medical</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mt-3">
                <div class="card-body">
                    @Html.Grid(Model.ListItems).Columns(columns =>
               {
               columns.Add(b => b.Name).Encoded(false).Sanitized(false).RenderValueAs(model => Html.ActionLink(model.Name, "Details", new { id = @ShopNow.Helpers.AdminHelpers.ECodeLong(model.Id) }).ToHtmlString()).Filterable(true).SetWidth(30);
               columns.Add(b => b.CategoryName).Titled("Category Name").Filterable(true).SetWidth(20);
               columns.Add(b => b.ShopName).Titled("Shop Name").Filterable(true).SetWidth(30);
               columns.Add(b => b.Percentage).Titled("Discount %").Filterable(true).SetWidth(5);
               columns.Add().Encoded(false).Sanitized(false)
                  .RenderValueAs(s => new HtmlString("<label class='switch'> <input type='checkbox' value='" + s.IsOnline + "' Id='Id_" + s.Id + "' class='CheckOnline' data-id='" + s.Id + "'><span class='slider round'></span></label>")).Titled("IsOnline").SetWidth(5);
               columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(10)
          .RenderValueAs(o => @<div>
                    @if (o.Status == 0)
                         {
                            <a href="javascript:void(0)" data-id="@o.Id" class="btn btn-sm btn-secondary mr-3 btnInActive" style="vertical-align: text-bottom">InActive</a>
                         }
                         else
                         {
                            <a href="javascript:void(0)" data-id="@o.Id" class="btn btn-sm btn-success mr-3 btnActive" style="vertical-align: text-bottom"> Active</a>
                         }
                <a href="~/Product/MedicalEdit?id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-3"><i class="fa fa-edit fa-2x"></i></a>
                <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-danger btnDelete" redirectPage=2><i class="fa fa-trash fa-2x"></i></a>
            </div>);
      }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {
            $('#select-shop').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Product/GetMedicalShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.shopname);
            });

            $('table tbody tr').each(function () {
                var $this = $(this).find(".CheckOnline");
                if ($this.val() == 'True')
                    $this.prop('checked', true);
                else
                    $this.prop('checked', false);
            });

            $('.CheckOnline').on('click', function () {
                var id = $(this).data('id');
                if ($(this).is(':checked') == true) {
                    $.post('/Product/UpdateProductOnline', { Id: id, isOnline: true }, function () { });
                }
                else {
                    $.post('/Product/UpdateProductOnline', { Id: id, isOnline: false }, function () { });
                }
            });

            $(".btnDelete").click(function () {
                var id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Product/Delete", { id: id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

            $(".btnInActive").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to InActive?",
                    // text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, InActive it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Product/InActive", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

            $(".btnActive").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to Active?",
                    // text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Active it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/Product/Active", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}