@model ShopNow.ViewModels.ShopCategoryListViewModel
@{
    ViewBag.Title = "Shop Category";
}


@using (Html.BeginForm("ShopCategoryList", "Category", FormMethod.Post, new { id = "CategoryForm" }))
{
    <div class="container-fluid my-4">
        <div class="mb-3">
            <div class="d-flex flex-row my-3">
                <div class="col-2 data-search">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="text-right">
                            <a class="mr-4" data-toggle="modal" data-target="#createModal" href="createModal"><u> Add New Shop Category</u></a>
                        </div>
                        <table class="table table-striped table-hover table-borderless table-hover" id="Category-list">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Shop Category Name</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*@foreach (var item in Model.CategoryList)*@
                                @foreach (var item in Model.List)
                                {
                                    <tr id="list" data-name="@item.Name" data-code="@item.Code">
                                        <td></td>
                                        <td>@item.Name</td>


                                        <td>
                                            <a href="javascript:void(0)" data-id="@item.Code" data-id1="@item.Name" class="btn-sm btn-primary edit-prompt" data-toggle="modal" data-target="#editModal">Edit</a>
                                            <a href="javascript:void(0)" data-id="@item.Code" data-id1="@item.Name" class="btn-sm btn-danger delete-prompt" data-toggle="modal" data-target="#deleteModel">Delete</a>

                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
}
<div class="modal fade" id="deleteModel" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="CategoryCode" id="CategoryCode" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="createModalLabel">New Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <label class="col-form-label">Category Name</label>
                </div>
                <div class="col-12">
                    <input type="text" name="Name" id="Name" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Save" />
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <input type="hidden" name="CategoryCode" id="CategoryCode" class="form-control" />
                <h5 class="modal-title" id="editModalLabel">Edit Category</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <label class="col-form-label">Category Name</label>
                </div>
                <div class="col-12" id="CategoryName">
                    @*<input type="text" name="Name" id="Name" class="form-control" />*@
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Edit" />
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>

        </div>
    </div>
</div>






@*<div class="modal fade" id="deactivateModal" tabindex="-1" role="dialog" aria-labelledby="deactivateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header alert alert-info">
                    <h5 class="modal-title" id="deactivateModalLabel">Deactivation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <label class="col-form-label">Category Name</label>
                    </div>
                    <div class="col-12">
                        <span id="CategoryName"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" id="deactivate" name="deactivate" value="Save" class="btn btn-success float-right Save" />
                    <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
                </div>
            </div>
        </div>
    </div>*@
@section Scripts
{
    <link href="~/Scripts/plugins/dataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <script src="~/Scripts/plugins/dataTables/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/dataTables/js/dataTables.bootstrap4.js"></script>
    <script src="~/Scripts/ValidateRequiredFields.js"></script>

    <script>
        $(document).ready(function () {
            $('#Create').on('click', function () {
                var name = $('#Name').val();

                $.getJSON("/Category/ShopCategorySave?name=" + name, function (data) {
                    if (data.IsAdded == true) {
                        alert(data.message);
                        window.location.href = "/Category/ShopCategoryList";
                    }
                    else
                        alert(data.message);
                    $('#Name').val("");
                });
            });


            //$('#DeactBtn').click(function () {

            //});

        });

        $(document).ready(function () {
            var t = $('#Category-list').DataTable({
                "bPaginate": false,
                "order": [[1, 'asc']],
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $(function () {
                $(".edit-prompt").click(function () {
                        var code = $(this).attr('data-id');
                        var name = $(this).attr('data-id1');
                        $("#CategoryCode").val(code);
                        $("#CategoryName").append("<input type=text name=Name id=CName class=form-control value='" + name + "' />");
                });
            });

            $(function () {
            $(".delete-prompt").click(function () {
                var code = $(this).attr('data-id');
                $("#CategoryCode").val(code);
            });
        });

        $(function () {
            $(".Edit").click(function () {

                var Code = $("#CategoryCode").val();
                var categoryName = $("#CName").val();

                $.getJSON("/Category/ShopCategoryEdit", { code: Code, name: categoryName }, function (data) {
                    alert(data.message);
                    window.location.reload();
                });

            });
        });

        $('.btnClose').on('click', function () {
            $("#CategoryCode").html("");
            $("#CategoryName").html("");
            $('#editModal').modal('toggle');
        });

        });

        $(function () {
            $(".delete-confirm").click(function () {
                var Code = $("#CategoryCode").val();
                $.getJSON("/Category/ShopCategoryDelete", {code:Code}, function (data) {
                    alert("Successfully Deleted");
                    window.location.reload();
                });
            });
        });

        $('.btnClose').on('click', function () {
            $("#CategoryCode").html("");
            $('#deleteModel').modal('toggle');
        });

    </script>
}






