@model IEnumerable<ShopNow.Models.Brand>
@using GridMvc.Html
@{
    ViewBag.Title = "Brand List";
}
<title>ShopNow | Brand List</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .table td, .table th {
        border-top: 1px solid #eaeaea;
        vertical-align: middle;
        padding: .4rem 1.25rem;
    }
</style>
@*////*@
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h5 class="mt-1" style="letter-spacing:1px">BRAND LIST</h5>
        </div>
        <div class="col-md-2 col-sm-4 mb-2 data-search">
        </div>
        <div class="col-md-8 text-right">
            <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New Brand</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
{
columns.Add(b => b.Name).Titled("Name").Filterable(true).SetWidth(20);
columns.Add(b => b.ProductTypeName).Titled("Product Type").Filterable(true).SetWidth(20);
columns.Add().Encoded(false).Sanitized(false).Titled("Action").Filterable(false).SetWidth(20).RenderValueAs(b => @<div><a href="javascript:void(0)" data-id="@b.Id" data-name="@b.Name" data-productTypeId="@b.ProductTypeId" data-productTypeName="@b.ProductTypeName" class="btn-sm btn-warning edit-prompt" data-toggle="modal" data-target="#editModal" style="padding: 3px 26px">Edit</a> <a href="javascript:void(0)" data-code="@b.Id" class="btn-sm btn-danger delete-prompt" data-toggle="modal" data-target="#deleteModal" style="padding: 3px 18px">Delete</a></div>);
            }).WithPaging(20).Sortable(true)
</div>


<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="createModalLabel">New Brand</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label">Brand Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label"><strong class="text-secondary">Item Type</strong></label>
                        <select name="ProductType" class="form-control" id="ProductTypeId">
                            @*<option value="0" disabled selected>Select</option>
                                <option value="4">Product</option>
                                <option value="1">Dish</option>
                                <option value="3">Medical</option>
                                <option value="2">FMCG</option>
                                <option value="5">Service</option>*@
                        </select>
                        <input type="hidden" name="ProductTypeName" id="ProductTypeName" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right" />
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <input type="hidden" name="BrandId" id="BrandId" class="form-control" />
                <h5 class="modal-title" id="editModalLabel">Update Brand</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Brand Name</label>
                        <input type="text" name="Name" id="edit-Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Item Type</label>
                        <select class="form-control" id="edit-ProductTypeId">
                            <option value="0">Select</option>
                            <option value="4">Product</option>
                            <option value="1">Dish</option>
                            <option value="3">Medical</option>
                            <option value="2">FMCG</option>
                            <option value="5">Service</option>
                        </select>
                        <input type="hidden" id="edit-ProductTypeName" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="button" id="Edit" name="Edit" value="Save" class="btn btn-success float-right Edit" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#ProductTypeId').select2({
                placeholder: "Search Type",
                width: '100%',
                ajax: {
                    url: "/ProductType/GetSelect2List",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ProductTypeName"]').val(e.params.data.text);
                });

            $('#edit-ProductTypeId').select2({
                placeholder: "Search Type",
                width: '100%',
                ajax: {
                    url: "/ProductType/GetSelect2List",
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('#edit-ProductTypeName').val(e.params.data.text);
            });


            //$('#ProductTypeId').on('change', function () {
            //    let selectedType = $(this).find("option:selected").text();
            //    $('[name="ProductTypeName"]').val(selectedType);
            //});
            //$('#edit-ProductTypeId').on('change', function () {
            //    let selectedType = $(this).find("option:selected").text();
            //    $('#edit-ProductTypeName').val(selectedType);
            //});
            $('#Create').on('click', function () {
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'ProductTypeId'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    var brand = {
                        Name: $('#Name').val(),
                        ProductTypeId: $('#ProductTypeId').val(),
                        ProductTypeName: $('#ProductTypeName').val()
                    }
                    $.post("/Brand/Save", { brand: brand }, function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#ProductType').val("");
                            }
                        }
                    });
                }
            });

            $(".edit-prompt").click(function () {
                $("#BrandId").val($(this).attr('data-id'));
                $("#edit-Name").val($(this).attr('data-name'));
                $('#edit-ProductTypeId').val($(this).attr('data-productTypeId')).trigger('change');
                $('#edit-ProductTypeName').val($(this).attr('data-productTypeName'));
            });

            $(".Edit").click(function () {
                var brand = {
                    Id: $('#BrandId').val(),
                    Name: $('#edit-Name').val(),
                    ProductTypeId: $('#edit-ProductTypeId').val(),
                    ProductTypeName: $('#edit-ProductTypeName').val()
                }
                if ($('#edit-Name').val() == "" || $('#edit-Name').val() == null) {
                    swal("Name is Empty.", "Please Enter a Brand Name", "warning");
                }
                else {
                    $.post("/Brand/Edit", { brandmodel: brand }, function (data) {
                        if (data.message != null || data.message != "") {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        }
                    });
                }
            });

            //$("#editModal").on("hidden.bs.modal", function () {
            //    window.location.reload();
            //});

            $(".delete-prompt").click(function () {
                var code = $(this).attr('data-id');
                $("#Code").val(code);
            });

            $(".delete-confirm").click(function () {
                var Code = $("#Code").val();
                $.getJSON("/Brand/Delete", { id: Code }, function (data) {
                    window.location.reload();
                });
            });

        });

    </script>
}




