@model ShopNow.ViewModels.AccessPolicyCreateEditViewModel
@{
    ViewBag.Title = "AccessPolicy Update";
}

<title>ShopNow | AccessPolicy Update</title>

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">ACCESS POLICY UPDATE</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/AccessPolicy/ItemList" target="_self"><span class="fa fa-bars"></span>AccessPolicy List</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("Edit", "AccessPolicy", FormMethod.Post, new { id = "AccessPolicyForm" }))
            {
                <div class="card">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <input type="hidden" name="IsAccess" value="@Model.IsAccess" />
                        <input type="hidden" name="CreatedBy" value="@Model.CreatedBy" />
                        <input type="hidden" name="UpdatedBy" value="@Model.UpdatedBy" />
                        <input type="hidden" name="DateEncoded" value="@Model.DateEncoded" />
                        <input type="hidden" name="DateUpdated" value="@Model.DateUpdated" />
                        <input type="hidden" name="CustomerId" value="@Model.CustomerId" />
                        <input type="hidden" name="CustomerName" value="@Model.CustomerName" />
                        <div class="form-group row">
                            <div class="col-md-4">
                                <label class="col-form-label"><strong class="text-secondary">Page Name</strong></label>
                                <select name="PageCode" id="PageCode" class="form-control">
                                    <option value="@Model.PageCode">@Model.PageName</option>
                                </select>
                                <input type="hidden" name="PageName" id="PageName" value="@Model.PageName" />
                            </div>
                            @*<div class="col-md-4">
                                <label class="col-form-label"><strong class="text-secondary">Shop Name</strong></label>
                                <select name="ShopId" id="ShopId" class="form-control">
                                    @if (Model.ShopName != null)
                                    {
                                        <option value="@Model.ShopId" selected>@Model.ShopName</option>
                                    }
                                </select>
                                <input type="hidden" name="ShopName" id="ShopName" value="@Model.ShopName" />
                            </div>*@
                            <div class="col-md-4">
                                <label class="col-form-label"><strong class="text-secondary">Staff Name</strong></label>
                                <select name="StaffId" id="StaffId" class="form-control">
                                    @if (Model.StaffName != null)
                                    {
                                        <option value="@Model.StaffId" selected>@Model.StaffName</option>
                                    }
                                </select>
                                <input type="hidden" name="StaffName" id="StaffName" value="@Model.StaffName" />
                            </div>
                            <div class="col-md-4">
                                <label class="col-form-label"><strong class="text-secondary">Role</strong></label>
                                <select id="Position" name="Position" class="form-control">
                                    <option value=" ">Select</option>
                                    <option value="0">User</option>
                                    <option value="1">Shop Owner</option>
                                    <option value="2">Staff</option>
                                    <option value="3">Delivery Boy</option>
                                    <option value="4">Admin</option>
                                    <option value="5">Agency</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="col-form-label"><strong class="text-secondary">Website</strong></label>
                                <select id="Status" name="Status" class="form-control">
                                    <option value=" ">Select</option>
                                    <option value="0">ShopNow</option>
                                    <option value="3">ShopNowPay</option>
                                    <option value="5">Agency</option>
                                </select>
                            </div>
                            @*<div class="col-md-3">
                <label class="col-form-label"><strong class="text-secondary">Access</strong></label>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="IsAccess" id="IsAccess"> Is Access
                    </label>
                </div>
            </div>*@
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 mx-auto">
                                <button type="button" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script>
        $(document).ready(function () {

         jQuery(document).ready(function ($) {
             $("#Position").find('option[value="@Model.Position"]').attr('selected', 'selected');
             $("#Status").find('option[value="@Model.Status"]').attr('selected', 'selected');
         });
            @*var access = "@Model.IsAccess";
            if (access == "True") {
                $('#IsAccess').prop('checked', true);
                $('#IsAccess').val($("#IsAccess").is(':checked'));
            } else {
                $('#IsAccess').prop('checked', false);
            }
            $('#IsAccess').change(function () {
                if (this.checked) {
                    $(this).prop("checked");
                }
                $('#IsAccess').val(this.checked);
            });*@
            $(document).on('click', '.Save', function () {
                var isValidate = false;
                var requiredArr = [
                    'PageCode'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    $('#AccessPolicyForm').submit();
                }

            });

            $('#PageCode').select2({
                placeholder: "Search Page",
                ajax: {
                    url: "/AccessPolicy/GetPageSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PageName"]').val(e.params.data.text);
            });

            //$('#ShopId').select2({
            //    placeholder: "Search Shop",
            //    ajax: {
            //        url: "/AccessPolicy/GetShopSelect2",
            //        width: '100%',
            //        delay: 250,
            //        dataType: 'json'
            //    }
            //}).on('select2:select', function (e) {
            //    $('input[name="ShopName"]').val(e.params.data.text);
            //});

            $("#StaffId").select2({
                placeholder: "Search Staff",
                width: "100%",
                ajax: {
                    url: "/AccessPolicy/GetStaffSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on("select2:select", function (e) {
                $('input[name="StaffName"]').val(e.params.data.text);
            });
        });
    </script>
}

