@model ShopNow.ViewModels.AccessPolicyListViewModel
@{
    ViewBag.Title = "Access Manage List";
}
<title>SNOWCH | Access Policy Manage</title>
<div class="container-fluid">
    @using (Html.BeginForm("Manage", "AccessPolicy", FormMethod.Post, new { id = "AccessPolicyForm" }))
    {
        <div class="row">
            <div class="col-md-3">
                <h5 class="mt-1 text-nowrap text-theme" style="letter-spacing:1px">Manage Staff AccessPolicy</h5>
            </div>
            <div class="mb-2 data-search col-md-2">
            </div>
            @*<div class="col-md-3">
                    <select name="ShopId" id="ShopId" class="form-control">
                        @if(Model.ShopId != 0){
                        <option value="@Model.ShopId">@Model.ShopName</option>
                        }
                    </select>
                    <input type="hidden" name="ShopName" id="ShopName" value="@Model.ShopName" />
                </div>*@
            <div class="col-md-3">
                <select name="StaffId" id="StaffId" class="form-control">
                    @if (Model.StaffId != 0)
                    {
                        <option value="@Model.StaffId">@Model.StaffName</option>
                    }
                </select>
                <input type="hidden" name="StaffName" id="StaffName" value="@Model.StaffName" />
            </div>
            <div class="col-md-1 p-0 m-0">
                <button type="button" class="btn btn btn-info" id="btnFilter">Apply Filter</button>
            </div>
            <div class="col-md-3 text-right mt-1">
                <a href="~/AccessPolicy/List" target="_blank" class="text-theme"><span class="fa fa-user mr-2"></span>Single User Access</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover table-borderless table-hover" id="accesspolicy-list">
                                <thead>
                                    <tr>
                                        <th>No.</th>
                                        <th>Page Name</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.ManageList)
                                    {
                                        <tr>
                                            <td></td>
                                            <td class="td"><input type="hidden" value="@item.PageCode @item.PageName" class="txt">@item.PageName.Split('.')[0]-@item.PageName.Split('.')[1]</td>
                                            @* <td>@item.PageName.Split('.')[1]</td>*@
                                            @if (item.IsAccess == true)
                                            {
                                                <td><input id="Access" type="checkbox" class="form-control Access" name="Access" style="height:calc(0.7em + 0.75rem + 2px)" checked /></td>
                                            }
                                            else
                                            {
                                                <td><input id="Access" type="checkbox" class="form-control Access" name="Access" style="height:calc(0.7em + 0.75rem + 2px)" /></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group mt-3 row">
                            <div class="col-md-4 mx-auto">
                                <button type="button" class="btn btn-block btn-success d-none Save"><span class="glyphicon glyphicon-file"></span> Save & Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var count = $('#accesspolicy-list tr').length;
            if (count == 1) {
                $(".Save").addClass("d-none");
            } else {
                $(".Save").removeClass("d-none");
            }
            var t = $('#accesspolicy-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": -1,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            //$('#ShopId').select2({
            //    placeholder: "Select Shop",
            //    ajax: {
            //        url: "/AccessPolicy/GetShopSelect2",
            //        width: '100%',
            //        delay: 250,
            //        dataType: 'json'
            //    }
            //}).on('select2:select', function (e) {
            //    $('input[name="ShopName"]').val(e.params.data.text);
            //    $("#StaffId").select2({
            //        placeholder: "Select Staff",
            //        ajax: {
            //            url: "/AccessPolicy/GetStaffSelect2?ShopId=" + e.params.data.id,
            //            width: "100%",
            //            delay: 250,
            //            dataType: 'json'
            //        }
            //    }).on("select2:select", function (e) {
            //        //var ShopId = $("#ShopId").val();
            //        $('input[name="StaffName"]').val(e.params.data.text);
            //        //window.location.href = "/AccessPolicy/Manage/?StaffId=" + e.params.data.id + "&ShopId=" + ShopId;
            //    });
            //});

            $("#StaffId").select2({
                placeholder: "Select Staff",
                width: "100%",
                ajax: {
                    url: "/AccessPolicy/GetStaffSelect2",
                    delay: 250,
                    dataType: 'json'
                }
            }).on("select2:select", function (e) {
                $('input[name="StaffName"]').val(e.params.data.text);
            });

            $("#btnFilter").click(function () {
               // var ShopId = $("#ShopId").val();
                var StaffId = $("#StaffId").val();
                //if (ShopId == null || ShopId == "") {
                //    swal("Notice!", "Please Select Shop Name and Staff Name!", "warning");
                //} else {
                    if (StaffId == null || StaffId == "") {
                        swal("Notice!", "Please Select Staff Name!", "warning");
                    }
                    else {
                        window.location.href = "/AccessPolicy/Manage/?StaffId=" + StaffId;
                    }
            });

            $(".Save").click(function () {
                //var ShopId = $("#ShopId").val();
                var StaffId = $("#StaffId").val();
                if (StaffId != null) {
                    $('#AccessPolicyForm').submit();
                } else {
                    swal("Notice!", "Please Select Staff Name!", "warning");
                }
            });

            $(document).on('change', 'input[type="checkbox"]', function (e) {
                var $row = $(this).closest("tr").find(".td");
                var $txtValue = $row.find(".txt").val();
                var geek = $txtValue.split(' ');
               /* var ShopId = $("#ShopId").val();*/
                var StaffId = $("#StaffId").val();
               /* var shopname = $("#ShopName").val();*/
                var staffname = $("#StaffName").val();
                if ($(this).is(":checked")) {
                    var PageCode = geek[0];
                    var PageName = geek[1];
                    var IsAccess = true;
                    $.getJSON("/AccessPolicy/AddSession/", {
                        PageCode: PageCode, PageName: PageName, IsAccess: IsAccess,
                       StaffId: StaffId, StaffName: staffname
                    }, function (data) {
                    });
                }
                else {
                    var PageCode = geek[0];
                    var PageName = geek[1];
                    var IsAccess = false;
                    $.getJSON("/AccessPolicy/RemoveSession/", {
                        PageCode: PageCode, PageName: PageName, IsAccess: IsAccess,
                        StaffId: StaffId, StaffName: staffname
                    }, function (data) {
                    });
                }
            });

        });
    </script>
}