@model ShopNow.ViewModels.ReferralSettingIndexViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Referral Setting";
}

<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>


<div class="container-fluid">
    <div class="d-flex justify-content-between">
        <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
    </div>
    <div class="card shadow mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 border-right">
                    <form action="/ReferralSetting/Create" method="post">
                        <div class="form-group">
                            <label class="col-form-label">Select District</label>
                            <select id="select-district" class="form-control" name="ShopDistrict" required></select>
                        </div>
                        <label class="col-form-label d-block">Payment Mode</label>
                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input id="radio-online" type="checkbox" class="custom-control-input" name="PaymentMode" value="1" />
                            <label class="custom-control-label" for="radio-online">Only for Online Payment?</label>
                        </div>
                        @*<div class="custom-control custom-radio custom-control-inline">
                            <input id="radio-coh" type="radio" class="custom-control-input" name="PaymentMode" value="2" />
                            <label class="custom-control-label" for="radio-coh">Cash on Hand</label>
                        </div>*@
                        <div class="form-group w-50">
                            <label class="col-form-label">Amount</label>
                            <input type="number" class="form-control" name="Amount" required />
                        </div>
                        <div class="mx-auto col-8"> <input type="submit" value="Add Referral" class="btn btn-success btn-block" /></div>
                    </form>
                </div>
                <div class="col-md-8">
                    @Html.Grid(Model.ListItems).Columns(columns =>
               {
               columns.Add(s => s.ShopDistrict).Titled("Shop District").Filterable(true).SetWidth(30);
               columns.Add(s => s.PaymentModeText).Titled("Payment Mode").Filterable(true).SetWidth(8);
               columns.Add(s => s.Amount).Titled("Amount").Filterable(true).SetWidth(8);
               columns.Add().Encoded(false).Sanitized(false).Titled("Action").SetWidth(5)
             .RenderValueAs(o => @<div>
                    <a href="#modal-edit" data-toggle="modal" data-target="#modal-edit" data-id="@o.Id" data-shopdistrict="@o.ShopDistrict" data-paymentmode="@o.PaymentMode" data-amount="@o.Amount" class="text-info mr-5 edit-prompt"><i class="fa fa-edit fa-lg"></i></a>
                    <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeInt(o.Id)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
                </div>);
           }).WithPaging(20).Sortable(true)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title" id="editModalLabel">Update Referral Setting</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/ReferralSetting/Edit" method="post">
                    <input type="hidden" name="Id" id="Id" />
                    <div class="form-group">
                        <label class="col-form-label">Select District</label>
                        <select id="select-edit-district" class="form-control" name="ShopDistrict" required readonly></select>
                    </div>
                    <label class="col-form-label d-block">Payment Mode</label>
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input id="edit-radio-online" type="checkbox" class="custom-control-input" name="PaymentMode" value="1" />
                        <label class="custom-control-label" for="edit-radio-online">Only for Online Payment?</label>
                    </div>
                    @*<div class="custom-control custom-radio custom-control-inline">
                        <input id="edit-radio-coh" type="radio" class="custom-control-input" name="PaymentMode" value="2" />
                        <label class="custom-control-label" for="edit-radio-coh">Cash on Hand</label>
                    </div>*@
                    <div class="form-group w-50">
                        <label class="col-form-label">Amount</label>
                        <input id="edit-amount" type="number" class="form-control" name="Amount" required />
                    </div>
                    <input type="submit" id="Edit" name="Edit" value="Save" class="btn btn-success float-right Edit" />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $('#select-district').select2({
                placeholder: "Search District",
                ajax: {
                    url: "/Shop/GetDistrictSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            });

            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/ReferralSetting/Delete", { id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });

            $("table").on('click', '.edit-prompt', function () {
                $('[name="Id"]').val($(this).attr('data-id'));
                $("#edit-amount").val($(this).attr('data-amount'));
                if ($(this).attr('data-paymentmode') == '1')
                    $("input[name=PaymentMode]").prop('checked', true);
                $("#select-edit-district").append(new Option($(this).attr('data-shopdistrict'), $(this).attr('data-shopdistrict')));
            });


        });
    </script>
}