@model ShopNow.ViewModels.ShopBillDifferenceReportViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Shop Bill Difference Pending Report";
}
<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .dis-none {
        display: none;
    }
</style>
@using (Html.BeginForm("ShopBillDifferencePendingReport", "Payment", FormMethod.Post, new { id = "ReportForm", role = "form", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-md-3">
                <h5 class="mt-1 text-uppercase text-success">@ViewBag.Title</h5>
            </div>
            <div class="col-md-4">
                <div class="input-daterange input-group">
                    <input type="date" class="form-control well well-sm" placeholder="From Date" id="datepicker" name="StartDate" @if (Model.StartDate != null) { <text> value="@Model.StartDate.Value.ToString("yyyy-MM-dd")" </text> }>
                    <span class="input-group-addon mx-3">to</span>
                    <input type="date" class="form-control" placeholder="To Date" id="datepicker1" name="EndDate" @if (Model.EndDate != null) { <text> value="@Model.EndDate.Value.ToString("yyyy-MM-dd")" </text> }>
                </div>
            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <select class="form-control" id="select-shop" name="ShopId">
                        @if (!string.IsNullOrEmpty(Model.ShopName))
                        {
                            <option value="@Model.ShopId">@Model.ShopName</option>
                        }
                    </select>
                    <input type="hidden" name="ShopName" value="@Model.ShopName" />
                </div>
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn btn-info" value="Apply Filter" />
                <a href="/Payment/ShopBillDifferencePendingReport" class="btn btn-secondary">Clear</a>
            </div>
            <div class="col-md-1 text-right">
                <a href="" id="btnExport" class="btn btn-vsm btn-secondary"><i class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i></a>
            </div>
            <div class="col-md-12">
                <div class="card shadow mt-3">
                    <div class="card-body">
                        @Html.Grid(Model.ListItems).Columns(columns =>
                   {
                       columns.Add(c => c.OrderNumber).Titled("Order Number").Filterable(true).SetWidth(10);
                       columns.Add(c => c.ShopName).Titled("Shop Name").Filterable(true).SetWidth(10);
                       columns.Add(c => c.BillAmount).Titled("Shop Bill Amount").Filterable(true).SetWidth(10);
                       columns.Add(c => c.TotalPrice).Titled("SNOWCH Bill Amount").Filterable(true).SetWidth(10);
                       columns.Add().Encoded(false).Sanitized(false)
                  .RenderValueAs(o => Html.ActionLink("PickupSlip", "PickupSlip","Cart", new { OrderNumber = o.OrderNumber, id = @ShopNow.Helpers.AdminHelpers.ECodeLong(o.OrderId) }, new { @class = "btn btn-vsm btn-secondary", @style = "padding: 3px 26px" }).ToHtmlString()).Titled("Action").SetWidth(5);
                   }).WithPaging(20).Sortable(true).Filterable(true)
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<table id="table-excel" class="d-none">
    <thead>
        <tr>
            <td>Order Number</td>
            <td>Shop Name</td>
            <td>Shop Bill Amount</td>
            <td>SNOWCH Bill Amount</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListItems)
        {
        <tr>

            <td>@item.OrderNumber</td>
            <td>@item.ShopName</td>
            <td>0</td>
            <td>@item.TotalPrice</td>
        </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="/Scripts/exporttoexcel/Table2ExcelNew.js"></script>
    <script>
        $(document).ready(function () {
            $("#btnExport").on('click', function () {
                $(function () {
                    var table2excel = new Table2Excel({
                        defaultFileName: "ShopBillDifference",
                    });
                    table2excel.export($("#table-excel"));
                });
            });

            $('#select-shop').select2({
                placeholder: "Select Shop",
                ajax: {
                    url: "/Shop/GetActiveListSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });
        });
    </script>
}

