@model ShopNow.ViewModels.CartReportViewModel
@{
    ViewBag.Title = "DeliveryBoy Payment Status";
}
<title>SNOWCH | @ViewBag.Title</title>
<div class="container-fluid">
    <div class="mb-1 d-print-none">
        <form method="get" action="/Cart/DeliveryBoyPaymentStatus">
            <div class="row form-group">
                <div class="col-md-3">
                    <h5 class="text-success text-nowrap"> @ViewBag.Title</h5>
                </div>
                <div class="col-md-2">
                    <div class="mb-1 data-search">
                    </div>
                </div>
                <div class="col-md-3">
                    <select name="DeliveryBoyId" id="DeliveryBoyId" class="form-control">
                        @if (Model.DeliveryBoyId != 0)
                        {
                            <option value="@Model.DeliveryBoyId">@Model.DeliveryBoyName</option>
                        }
                    </select>
                    <input type="hidden" name="DeliveryBoyName" id="DeliveryBoyName" value="@Model.DeliveryBoyName" />
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3"></div>
                <div class="col-md-5">
                    <div class="input-daterange input-group">
                        <input type="date" class="form-control well well-sm" placeholder="From Date" id="datepicker" name="StartDate" @if (Model.StartDate != null) { <text> value="@Model.StartDate.Value.ToString("yyyy-MM-dd")" </text> }>
                        <span class="input-group-addon mx-3">to</span>
                        <input type="date" class="form-control" placeholder="To Date" id="datepicker1" name="EndDate" @if (Model.EndDate != null) { <text> value="@Model.EndDate.Value.ToString("yyyy-MM-dd")" </text> }>
                    </div>
                </div>
                <div class="col-md-1">
                    <input type="submit" class="btn btn-info" value="Apply Filter" />
                </div>
                <div class="col-md-2">
                    <a href="~/Cart/DeliveryBoyPaymentStatus" class="btn btn-warning ml-3">Clear Filter</a>
                </div>
            </div>
        </form>
    </div>
    <div class="card shadow" id="divDeliveryBoy">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center d-none d-print-block">DeliveryBoy Payment Status</h4>
                    <table class="table table-striped table-hover table-borderless" id="DeliveryBoy-list">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">No.</th>
                                <th>Date</th>
                                <th>OrderNumber</th>
                                <th>Shop Name</th>
                                <th class="font-weight-bold">DeliveryBoy Name</th>
                                <th class="font-weight-bold">Amount</th>
                                <th>Distance(Km)</th>
                                <th class="font-weight-bold">Payment Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DeliveryBoyPaymentStatusLists)
                            {
                                <tr>
                                    <td></td>
                                    <td class="text-nowrap">@item.DateEncoded.ToString("dd-MM-yyyy")</td>
                                    <td><a href="~/Cart/Edit?OrderNumber=@item.OrderNumber&id=@ShopNow.Helpers.AdminHelpers.ECodeLong(item.Id)">@item.OrderNumber</a></td>
                                    <td>@item.ShopName</td>
                                    <td>@item.DeliveryBoyName</td>
                                    <td>@Math.Round(item.DeliveryCharge, 2)</td>
                                    <td>@Math.Round(item.Distance, 2)</td>
                                    <td>
                                        @if (item.DeliveryBoyPaymentStatus == 0)
                                        {<span class="text-danger mr-3">Pending</span><input type="button" class="btn btn-sm btn-warning btnPayNow" value="PayNow" data-orderno="@item.OrderNumber" /> }
                                        else if (item.DeliveryBoyPaymentStatus == 1)
                                        {
                                            <span class="text-success">Paid</span>}
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/exporttoexcel/jquery.table2excel.js"></script>
    <script>
        $(document).ready(function () {

            var t = $('#DeliveryBoy-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                //"scrollY": 400,
                //"paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#btnPrint').click(function () {
                $('.container-fluid *').removeClass('card');
                $('.container-fluid *').removeClass('card-body');
                //$('.dataTables_info').addClass('d-none');
                //$('.dataTables_paginate').addClass('d-none');
                window.print();
            });
            $("#btnExport").click(function () {
                $("#DeliveryBoy-list").table2excel({
                    name: "Worksheet Name",
                    filename: "DeliveryBoyPaymentReport",
                    fileext: ".xls",
                    exclude_links: true,
                });
            });

            $('#DeliveryBoyId').select2({
                placeholder: "Search DeliveryBoy",
                ajax: {
                    url: "/Cart/GetDeliveryBoySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="DeliveryBoyName"]').val(e.params.data.text);
            });

            //$("#Filter").click(function () {
            //    var DeliveryBoyId = $("#DeliveryBoyId").val();
            //    window.location.href = "/Cart/DeliveryBoyPaymentStatus?DeliveryBoyId=" + DeliveryBoyId;
            //});

            $('.btnPayNow').click(function () {
                var ordernumber = $(this).attr('data-orderno');
                var thisRow = $(this).closest("tr");
                $.getJSON("/Cart/DeliveryBoyPay/?OrderNumber=" + ordernumber, function (data) {
                    if (data == true) {
                        window.location.reload();
                        //thisRow.remove();
                        var count = $('#DeliveryBoy-list tr').length;
                        if (count == 1) {
                            $("#divDeliveryBoy").addClass("d-none");
                        }
                    }
                });
            });
        });
    </script>
}

