@model ShopNow.ViewModels.CartListViewModel
@{
    ViewBag.Title = "Cart Details";
}

<title>ShopNow | Cart Details</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="text-success" style="letter-spacing:1px">CART DETAILS</h5>
        </div>    
        <div class="col-md-6 text-right">
            <a href="~/Cart/Pending" class="ml-auto" target="_self"><span class="fa fa-bars"></span> New Order List</a>
        </div>
    </div>

    <div class="row bg-green-200">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="card shadow-sm">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
                            <input type="hidden" name="CustomerId" id="CustomerId" value="@Model.CustomerId" />
                            <input type="hidden" name="OrderNumber" id="OrderNumber" value="@Model.OrderNumber" />
                            <input type="hidden" name="Status" id="Status" value="@Model.CartStatus" />
                            <div class="row">
                                <div class="col-md-4">
                                    <label><span class="text-secondary font-weight-bold">Shop Name:</span><span class="font-weight-bold"> @Model.ShopName</span></label>
                                </div>
                                <div class="col-md-6">
                                    <label><span class="text-secondary font-weight-bold">Address:</span> <a onclick="gotomap(@Model.Latitude,@Model.Longtitude)" href="" target="_blank"> <span class="font-weight-bold"> @Model.DeliveryAddress</span></a></label>
                                </div>
                                <div class="col-md-2">
                                    <label><span class="text-secondary font-weight-bold">Phone Number:</span><span class="font-weight-bold"> @Model.PhoneNumber</span></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 text-right">
                            @if (Model.CartStatus == 2)
                            {
                                <button type="button" class="btn btn-sm btn-success mr-3" id="Accept">Accept</button>
                                <button type="button" class="btn btn-sm btn-danger" id="Cancel">Cancel</button>
                                <a href="~/Cart/PickupSlip?OrderNumber=@Model.OrderNumber&id=@ShopNow.Helpers.AdminHelpers.ECodeLong(Model.Id)" class="btn btn-secondary btn-sm" style="padding: 3px 16px"><span><i class="fa fa-print mr-1" aria-hidden="true"></i></span> Pickup Slip</a>
                            }
                            else if (Model.CartStatus == 7)
                            {
                                if (Model.PenaltyAmount <= 0)
                                {
                                    <a href="#modal-add-penalty-charge" data-target="#modal-add-penalty-charge" data-toggle="modal" class="btn btn-sm btn-warning text-white">Add Penalty</a>
                                }
                                if (Model.WaitingCharge <= 0)
                                {
                                    <a href="#modal-add-waiting-charge" data-target="#modal-add-waiting-charge" data-toggle="modal" class="btn btn-sm btn-warning text-white">Add Waiting Charge</a>
                                }
                                <span class="text-danger">Cancelled</span>
                            }
                            else if (Model.CartStatus == 3)
                            {
                                <span class="text-success mr-3">Order is being Prepared</span>
                                <button type="button" class="btn btn-sm btn-success mr-3" id="Assign">Assign Delivery Boy</button>
                            }
                            else if (Model.CartStatus == 8)
                            {
                                <span class="text-success font-weight-bold mr-3">Order Prepared</span>
                            }
                            else if (Model.CartStatus == 4 && Model.isAssign == 1 && Model.OnWork == 0)
                            {
                                <span class="text-success">Assigned for Delivery</span>
                                <a href="/Cart/DeliveryBoyAccept?OrderNumber=@Model.OrderNumber&id=@Model.Id" class="btn btn-info mt-2">Delivery Boy Accept</a>
                            }
                            else if (Model.CartStatus == 4 && Model.isAssign == 1 && Model.OnWork == 1)
                            {
                                <span class="text-success">Waiting for Pickup</span>
                                <a href="/Cart/DeliveryBoyPickup?OrderNumber=@Model.OrderNumber&id=@Model.Id" class="btn btn-info mt-2">Delivery Boy Pickup</a>
                            }
                            else if (Model.CartStatus == 5)
                            {
                                <span class="text-success">On the Way to Delivery</span>
                                <a href="/Cart/MarkAsDelivered?OrderNumber=@Model.OrderNumber&id=@Model.Id" class="btn btn-info mt-2">Mark as Delivered</a>
                            }
                            else if (Model.CartStatus == 6)
                            {
                                if (Model.PenaltyAmount <= 0)
                                {
                                    <a href="#modal-add-penalty-charge" data-target="#modal-add-penalty-charge" data-toggle="modal" class="btn btn-sm btn-warning text-white">Add Penalty</a>
                                }
                                if (Model.WaitingCharge <= 0)
                                {
                                    <a href="#modal-add-waiting-charge" data-target="#modal-add-waiting-charge" data-toggle="modal" class="btn btn-sm btn-warning text-white">Add Waiting Charge</a>
                                }
                                <span class="text-success">Delivered</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-striped table-hover table-borderless w-100" id="Cart-list">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">No.</th>
                                <th class="font-weight-bold">Product Name</th>
                                <th class="font-weight-bold">Brand Name</th>
                                <th class="font-weight-bold">Category Name</th>
                                <th class="font-weight-bold">Qty</th>
                                <th class="font-weight-bold">Price</th>
                                <th class="font-weight-bold">Image</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                                <tr>
                                    <td></td>
                                    @if (item.ProductName != null)
                                    {
                                        <td><a href="~/Product/Details?id=@ShopNow.Helpers.AdminHelpers.ECodeLong(item.ProductId)">@item.ProductName</a></td>}
                                    else
                                    {
                                        <td>N/A</td>}
                                    @if (item.BrandName != null)
                                    {
                                        <td>@item.BrandName</td>}
                                    else
                                    {
                                        <td>N/A</td>}
                                    @if (item.CategoryName != null)
                                    {
                                        <td>@item.CategoryName</td>}
                                    else
                                    {
                                        <td>N/A</td>}
                                    <td>
                                        @item.Qty
                                        @*<input type="number" class="form-control col-md-1" name="Qty" id="Qty" value="@item.Qty" min="1" />*@
                                    </td>
                                    <td>@item.Price</td>
                                    <td>
                                        <img src="@item.ImagePath" alt="Image" class="img-thumbnail productImages" data-toggle="modal" data-target="#myModal" width="45" height="60" onerror="this.src='/Images/No Photo.png'" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="myImage" />
        </a>
    </div>
</div>

<div class="modal fade" id="modal-add-penalty-charge" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form method="get" action="/Cart/AddPenaltyCharge">
                    <input type="hidden" name="OrderId" value="@Model.Id"/>
                    <h5>Add Penalty Charge</h5>
                    <div class="form-group">
                        <label>Amount</label>
                        <input class="form-control" type="number" name="Amount" required />
                    </div>
                    <div class="form-group">
                        <label>Remarks</label>
                        <input class="form-control" type="text" name="Remark" required />
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-success mr-3">Submit</button>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-add-waiting-charge" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <form method="get" action="/Cart/AddWaitingCharge">
                    <input type="hidden" name="OrderId" value="@Model.Id" />
                    <h5>Add Waiting Charge</h5>
                    <div class="form-group">
                        <label>Amount</label>
                        <input class="form-control" type="number" name="Amount" required />
                    </div>
                    <div class="form-group">
                        <label>Remarks</label>
                        <input class="form-control" type="text" name="Remark" required />
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-sm btn-success mr-3">Submit</button>
                        <button class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        function gotomap(lat, lng) {
            window.open('https://www.google.com/maps/place/' + lat + ',' + lng, "_blank");
        }
        $(document).ready(function () {
            var t = $('#Cart-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 300,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            var ordernumber = $("#OrderNumber").val();
            var customerId = $('#CustomerId').val();
            $("#Accept").click(function () {
                $.getJSON("/Cart/Accept?OrderNumber=" + ordernumber + "&customerId=" + customerId, function (data) {
                    if (data.message != null) {
                        swal({
                            title: data.message,
                            text: "",
                            type: "success"
                        }, function () {
                                window.location.href = "/Cart/List";
                        });
                    }
                });
            });

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('productImages');
            var modalImg = document.getElementById("myImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

            $("#Cancel").click(function () {
                var ordernumber = $("#OrderNumber").val();
                var customerId = $('#CustomerId').val();
                var status = $('#Status').val();
                $.getJSON("/Cart/Cancel?OrderNumber=" + ordernumber + "&customerId=" + customerId + "&status=" + status, function (data) {
                    if (data.message != null) {
                        swal({
                            title: data.message,
                            text: "",
                            type: "error"
                        }, function () {
                            window.location.href = "/Cart/List";
                        });
                    }
                });
            });

            $("#Assign").click(function () {
                var ordernumber = $("#OrderNumber").val();
                window.location.href = "/Cart/AssignDeliveryBoy?OrderNumber=" + ordernumber;
            });

        });
    </script>
}

