@model ShopNow.ViewModels.CartListViewModel
@{
    ViewBag.Title = "PickupSlip";
} 

<title>ShopNowChat | Pickup Slip</title>

<style>
    .table th, .table td {
        padding: 0.25rem;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="text-success font-weight-bold" style="letter-spacing:1px">SNOWCH PICKUP SLIP</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @Html.AntiForgeryToken()
            <div class="card shadow">
                <div class="card-body">
                    <div class="Col-md-12">
                        <table class="table table-bordered w-100">
                            <tbody>
                                <tr>
                                    <td><strong>Order No. & Time</strong></td>
                                    <td>@Model.OrderNumber (@Model.DateEncoded.ToString("dd-MM-yyyy hh:mm tt"))</td>
                                </tr>
                                <tr>
                                    <td><strong>Customer Name</strong></td>
                                    <td>@Model.CustomerName</td>
                                </tr>
                                <tr>
                                    <td><strong>Customer Address / Phone No.</strong></td>
                                    <td>@Model.DeliveryAddress <br />@Model.CustomerPhoneNumber</td>
                                </tr>
                            </tbody>
                        </table>
                        <form action="~/Cart/ShopBillUpdate" method="post">
                            <table class="table table-striped table-bordered mb-4">
                                <thead>
                                    <tr class="table-secondary">
                                        <th>Sl.No</th>
                                        <th>Item Name</th>
                                        <th>MRP Price</th>
                                        <th>Rate</th>
                                        <th>Qty</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.List)
                                    {
                                        var totalcount = Model.List.Count();
                                        var count = Model.List.IndexOf(item);
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            @if (item.ProductName != null)
                                            {
                                                <td>@item.ProductName</td>
                                            }
                                            else
                                            {
                                                <td>N/A</td>
                                            }
                                            <td>@item.MRPPrice</td>
                                            <td>@item.SinglePrice</td>
                                            <td>@item.Qty</td>
                                            <td id="amount">@item.Price</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td colspan="6">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td>A</td>
                                        <td colspan="4">App items value</td>
                                        @*<td>@Model.Amount</td>*@
                                        <td>@Model.List.Sum(i => i.Price)</td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">B</td>
                                        <td colspan="3">Shop bill No. <input type="text" class="form-control d-inline w-50" name="BillNo" id="BillNo" value="@Model.BillNo" required /></td>
                                        <td>Value </td>
                                        <td>
                                            <input type="text" class="form-control d-inline w-25" name="BillAmount" id="BillAmount" value="@Model.BillAmount" />
                                            <input type="hidden" name="OrderNumber" value="@Model.OrderNumber" />
                                            <input type="hidden" name="OrderId" value="@ShopNow.Helpers.AdminHelpers.ECodeLong(Model.Id)" />
                                            <input type="submit" class="btn btn-sm btn-success ml-3" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="1">C</td>
                                        <td colspan="4">Difference (Only refund amount)</td>
                                        <td colspan="1">@Model.RefundAmount (@Model.RefundRemark)</td>
                                    </tr>
                                    @*<tr class="hide-print">
                    <td colspan="1">D</td>
                    <td colspan="3">Packing Charges</td>
                    <td colspan="1">@Model.PackagingCharge</td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">E</td>
                    <td colspan="3">Convinence Charge</td>
                    <td colspan="1">@Model.ConvenientCharge</td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">F</td>
                    <td colspan="3">Delivery Charges</td>
                    <td colspan="1">@Model.DelivaryCharge</td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">G</td>
                    <td colspan="3">Total</td>
                    <td colspan="1">@Math.Abs(Model.Amount + Model.PackagingCharge + Model.ConvenientCharge + Model.DelivaryCharge)</td>
                </tr>*@
                                </tbody>
                            </table>
                        </form>
                        @*<table class="table table-bordered">
            <tbody>
                <tr>
                    <td colspan="1">A</td>
                    <td colspan="6">App items value</td>
                    <td colspan="2">@Model.Amount</td>
                </tr>
                <tr>
                    <td colspan="1">B</td>
                    <td colspan="2">Shop bill No.</td>
                    <td colspan="2" class="p-3"></td>
                    <td colspan="2">Value</td>
                    <td colspan="2" class="p-3"></td>
                </tr>
                <tr>
                    <td colspan="1">C</td>
                    <td colspan="6">Difference (Only refund amount)</td>
                    <td colspan="2"></td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">D</td>
                    <td colspan="6">Packing Charges</td>
                    <td colspan="2">@Model.PackagingCharge</td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">E</td>
                    <td colspan="6">Convinence Charge</td>
                    <td colspan="2">@Model.ConvenientCharge</td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">F</td>
                    <td colspan="6">Delivery Charges</td>
                    <td colspan="2">@Model.DelivaryCharge</td>
                </tr>
                <tr class="hide-print">
                    <td colspan="1">G</td>
                    <td colspan="6">Total</td>
                    <td colspan="2">@Math.Abs(Model.Amount + Model.PackagingCharge + Model.ConvenientCharge + Model.DelivaryCharge)</td>
                </tr>
            </tbody>
        </table>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row PrintBtn">
        <div class="col-md-2 mx-auto my-2">
            <button class="form-control btn btn-secondary" id="Print"><span><i class="fa fa-print mr-1" aria-hidden="true"></i></span> Print</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/Content/print.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            //window.print();
            $("#Print").click(function () {
                $(".PrintBtn").addClass("d-none");
                window.print();
            });

            window.onafterprint = function () {
                $(".PrintBtn").removeClass("d-none");
            }
        });
    </script>

}