@model ShopNow.ViewModels.CartReportViewModel
@{
    ViewBag.Title = "ShopNowChat Shop Report";
}
<title>ShopNow | Retailer Payment</title>
@using (Html.BeginForm("ShopNowChat_ShopReport", "Cart", FormMethod.Post, new { id = "ReportForm", role = "form", enctype = "multipart/form-data" }))
{
<div class="container-fluid">
    <div class="mb-1 row d-print-none">
        <div class="row">
            <div class="col">
                <h5 class="text-success text-nowrap">RETAILER PAYMENT</h5>
            </div>
            <div class="col">
                <div class="mb-1 data-search">
                </div>
            </div>
            <div class="col">
                <select name="ShopCode" id="ShopCode" class="form-control">
                    @if (Model.ShopCode != null || Model.ShopCode != "")
                    {
                        <option value="@Model.ShopCode">@Model.ShopName</option>
                    }
                </select>
                <input type="hidden" name="ShopName" id="ShopName" value="@Model.ShopName" />
            </div>
            <div class="col-md-4">
                <div class="input-daterange input-group">
                    <input type="date" class="form-control well well-sm" placeholder="From Date" id="datepicker" name="startDate">
                    <span class="input-group-addon mx-3">to</span>
                    <input type="date" class="form-control" placeholder="To Date" id="datepicker1" name="endDate">
                    <input type="hidden" id="StartDate" value="@Model.StartingDate" />
                    <input type="hidden" id="EndDate" value="@Model.EndingDate" />
                </div>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-sm btn-info mx-4" value="Apply Filter" />
            </div>
            <div class="col-md-1 text-right">
                <div class="input-group">
                    <button id="btnPrint" class="btn btn-sm btn-secondary mr-2" value="Print"><i class="fa fa-print fa-lg" aria-hidden="true"></i></button>
                    <button id="btnExport" class="btn btn-sm btn-secondary" value="Export To Excel"><i class="fa fa-file-excel-o fa-lg" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>    
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center d-none d-print-block">ShopNowChat-Shop Report</h4>
                    <table class="table table-striped table-hover table-borderless" id="ShopReport-list">
                        <thead>
                            <tr>
                                <th class="font-weight-bold">No.</th>
                                <th class="font-weight-bold text-nowrap">Date</th>
                                <th class="font-weight-bold">Shop Name</th>
                                <th class="font-weight-bold">Order No.</th>
                                @*<th>Payment Type</th>*@
                                @*<th title="RazorPay transaction No.">Online Transaction No</th>*@
                                <th class="font-weight-bold">Order first Amount</th>
                                @*<th>Cust. auto online refund amount</th>*@
                                @*<th>Manual refund admin remark</th>*@
                                @*<th>Manual refund retailer remark</th>*@
                                @*<th>Cust. manual refund Amount</th>
                                <th>Cust. Refund status</th>
                                <th>Order final amount</th>*@
                                <th class="font-weight-bold" title="Payment to retailer">Payment Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.List)
                            {
                            <tr>
                                <td></td>
                                <td class="text-nowrap">@item.DateEncoded.ToString("dd MMMM yyyy")</td>
                                <td>@item.ShopName</td>
                                <td>@item.OrderNo</td>
                                <td>@item.OriginalAmount</td>
                                <td>
                                    @if (item.ShopPaymentStatus == 0)
                                    {<span class="text-danger mr-3">Pending</span><input type="button" class="btn btn-sm btn-warning btnPayNow" value="PayNow" data-orderno="@item.OrderNo" /> }
                                    else if (item.ShopPaymentStatus == 1)
                                    {
                                        <span class="text-success">Paid</span>}
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
}
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/exporttoexcel/jquery.table2excel.js"></script>
    <script>
        $(document).ready(function () {

            var t = $('#ShopReport-list').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": 20,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#btnPrint').click(function () {
                $('.container-fluid *').removeClass('card');
                $('.container-fluid *').removeClass('card-body');
                //$('.dataTables_info').addClass('d-none');
                //$('.dataTables_paginate').addClass('d-none');
                window.print();
            });
            $("#btnExport").click(function () {
                $("#ShopReport-list").table2excel({
                    name: "Worksheet Name",
                    filename: "ShopReport",
                    fileext: ".xls",
                    exclude_links: true,
                });
            });

            $('#ShopCode').select2({
                placeholder: "Search Shop",
                ajax: {
                    url: "/Cart/GetShopSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ShopName"]').val(e.params.data.text);
            });

            $("#Filter").click(function () {
                var shopcode = $("#ShopCode").val();
                window.location.href = "/Cart/ShopNowChat_ShopReport/?shopcode=" + shopcode;
            });

            $('.btnPayNow').click(function () {
                var orderno = $(this).attr('data-orderno');
                var thisRow = $(this).closest("tr");
                $.getJSON("/Cart/ShopPay/?orderno=" + orderno, function (data) {
                    if (data == true) {
                        thisRow.remove();
                        var count = $('#DeliveryBoy-list tr').length;
                        if (count == 1) {
                            $("#divDeliveryBoy").addClass("d-none");
                        }  
                    }
                });
            });

        });

    </script>
}

