@model ShopNow.ViewModels.MasterElectronicEditViewModel
@{
    ViewBag.Title = "Electronic Update";
}
<title>Shop Now | Electronic Update</title>

<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">ELECTRONIC UPDATE</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/MasterProduct/ElectronicList" target="_self"><span class="fa fa-list-ul"></span> Electronic Product List</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("ElectronicEdit", "MasterProduct", FormMethod.Post, new { id = "MasterProductForm", enctype = "multipart/form-data", autocomplete = "off" }))
            {
                <div class="card shadow">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="col-form-label"><strong class="text-secondary">Electronic Name</strong></label>
                                        <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" />
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label"><strong class="text-secondary">Nick Name</strong></label>
                                        <input id="NickName" type="text" class="form-control" name="NickName" value="@Model.NickName" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label"><strong class="text-secondary">Category Name</strong></label>
                                        <select name="CategoryId" id="CategoryId" class="form-control">
                                            <option value="@Model.CategoryId">@Model.CategoryName</option>
                                        </select>
                                        <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-form-label"><strong class="text-secondary">Brand Name</strong></label>
                                        <select name="BrandId" id="BrandId" class="form-control">
                                            <option value="@Model.BrandId">@Model.BrandName</option>
                                        </select>
                                        <input type="hidden" name="BrandName" id="BrandName" value="@Model.BrandName" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label" for="Price"><strong class="text-secondary">Menu Price</strong></label>
                                            <input id="Price" type="number" class="form-control" name="Price" min="0" value="@Model.Price" step="any" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                            <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="col-form-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                                            <input id="Adscore" type="number" class="form-control" name="Adscore" value="@Model.Adscore" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label ml-2"><strong class="text-secondary">Product Image1</strong></label>
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath1 != null)
                                                    {
                                                        <img id='img-ElectronicImage1' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath1" onerror="this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img id='img-ElectronicImage1' class="img-container w-100 h-100" width="100" height="100" />
                                                    }
                                                    <input type="file" id="ElectronicImage1" name="ElectronicImage1" class="d-none" />
                                                    <label for="ElectronicImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath1" id="ImagePath1" value="@Model.ImagePath1" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ml-4">
                                                <input type="button" class="btn btn-sm btn-danger d-none" id="btnRemove1" value="Remove" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label class="control-label ml-2"><strong class="text-secondary">Product Image2</strong></label>
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath2 != null)
                                                    {
                                                        <img id='img-ElectronicImage2' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath2" onerror="this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img id='img-ElectronicImage2' class="img-container w-100 h-100" width="100" height="100" />
                                                    }
                                                    <input type="file" id="ElectronicImage2" name="ElectronicImage2" class="d-none" />
                                                    <label for="ElectronicImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath2" id="ImagePath2" value="@Model.ImagePath2" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 ml-4">
                                                <input type="button" class="btn btn-sm btn-danger d-none" id="btnRemove2" value="Remove" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image3</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath3 != null)
                                            {
                                                    <img id='img-ElectronicImage3' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath3" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                    <img id='img-ElectronicImage3' class="img-container w-100 h-100" width="100" height="100" />
                                            }
                                            <input type="file" id="ElectronicImage3" name="ElectronicImage3" class="d-none" />
                                            <label for="ElectronicImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath3" id="ImagePath3" value="@Model.ImagePath3" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image4</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath4 != null)
                                            {
                                                    <img id='img-ElectronicImage4' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath4" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                    <img id='img-ElectronicImage4' class="img-container w-100 h-100" width="100" height="100" />
                                            }
                                            <input type="file" id="ElectronicImage4" name="ElectronicImage4" class="d-none" />
                                            <label for="ElectronicImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath4" id="ImagePath4" value="@Model.ImagePath4" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label ml-2"><strong class="text-secondary">Product Image5</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath5 != null)
                                            {
                                                    <img id='img-ElectronicImage5' class="img-container w-100 h-100" width="100" height="100" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath5" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                    <img id='img-ElectronicImage5' class="img-container w-100 h-100" width="100" height="100" />
                                            }
                                            <input type="file" id="ElectronicImage5" name="ElectronicImage5" class="d-none" />
                                            <label for="ElectronicImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath5" id="ImagePath5" value="@Model.ImagePath5" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label"><strong class="text-secondary">Short Description</strong></label>
                                        <input type="text" class="form-control" name="ShortDescription" id="ShortDescription" maxlength="100" value="@Model.ShortDescription" />
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Long Description</strong></label>
                                            <textarea class="form-control ckeditor h-50" id="LongDescription" name="LongDescription" maxlength="500">@Model.LongDescription</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 mx-auto">
                                <button type="submit" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
             
            //$(".Save").click(function () {
            //    var isValidated = false;
            //    var requiredArr = [
            //        'Name',
            //        'ProductType'
            //    ];
            //    isValidated = ValidateEmptyRequiredFiels(requiredArr);

            //    if (isValidated) {
            //        $('#MasterProductForm').submit();
            //    };
            //});

            $('#BrandId').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/MasterProduct/GetElectronicBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/MasterProduct/GetElectronicCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            function readURLProduct1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ElectronicImage1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ElectronicImage1").change(function () {
                readURLProduct1(this);
                $("#btnRemove1").removeClass("d-none");
            });
            $('#btnRemove1').on('click', function () {
                $('#img-ElectronicImage1').attr('src', '');
                $(this).addClass("d-none");
            });

            function readURLProduct2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ElectronicImage2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ElectronicImage2").change(function () {
                readURLProduct2(this);
                $("#btnRemove2").removeClass("d-none");
            });
            $('#btnRemove2').on('click', function () {
                $('#img-ElectronicImage2').attr('src', '');
                $(this).addClass("d-none");
            });

            function readURLProduct3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ElectronicImage3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ElectronicImage3").change(function () {
                readURLProduct3(this);
            });

            function readURLProduct4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ElectronicImage4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ElectronicImage4").change(function () {
                readURLProduct4(this);
            });

            function readURLProduct5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-ElectronicImage5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ElectronicImage5").change(function () {
                readURLProduct5(this);
            });
        });
    </script>
}
