@model ShopNow.ViewModels.MasterFMCGEditViewModel
@{
    ViewBag.Title = "FMCG Update";
}
<title>ShopNow | FMCG Update</title>
<style>
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">FMCG Update</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/MasterProduct/FMCGList" target="_self"><span class="fa fa-list-ul"></span> FMCG List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("FMCGEdit", "MasterProduct", FormMethod.Post, new { id = "FMCGUpdateForm", enctype = "multipart/form-data", autocomplete = "off" }))
            {
                <div class="card shadow">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">FMCG Name</strong></label>
                                        <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" />
                                        <input type="hidden" name="Id" value="@Model.Id" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Nick Name</strong></label>
                                        <input id="NickName" type="text" class="form-control" name="NickName" value="@Model.NickName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Brand Name</strong></label>
                                        <select name="BrandId" id="BrandId" class="form-control">
                                            <option value="@Model.BrandId">@Model.BrandName</option>
                                        </select>
                                        <input type="hidden" name="BrandName" id="BrandName" value="@Model.BrandName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">ASIN / EAN</strong></label>
                                        <input id="ASIN" type="text" class="form-control" name="ASIN" value="@Model.ASIN" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Category Name</strong></label>
                                        <select name="CategoryId" id="CategoryId" class="form-control" required>
                                            <option value="@Model.CategoryId">@Model.CategoryName</option>
                                        </select>
                                        <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Sub Category I Name</strong></label>
                                        <select name="SubCategoryId" id="SubCategoryId" class="form-control" required>
                                            <option value="@Model.SubCategoryId">@Model.SubCategoryName</option>
                                        </select>
                                        <input type="hidden" name="SubCategoryName" id="SubCategoryName" value="@Model.SubCategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Sub Category II Name</strong></label>
                                        <select name="NextSubCategoryId" id="NextSubCategoryId" class="form-control" required>
                                            <option value="@Model.NextSubCategoryId">@Model.NextSubCategoryName</option>
                                        </select>
                                        <input type="hidden" name="NextSubCategoryName" id="NextSubCategoryName" value="@Model.NextSubCategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                                            <input id="Adscore" type="number" value="@Model.Adscore" class="form-control" name="Adscore" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Price"><strong class="text-secondary">Price</strong></label>
                                        <input id="Price" type="number" class="form-control" name="Price" min="0" value="@Model.Price" step="any" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="MeasurementUnitId"><strong class="text-secondary">Measurement Unit Name</strong></label>
                                        <select name="MeasurementUnitId" class="form-control" id="MeasurementUnitId">
                                            @if (Model.MeasurementUnitId != 0)
                                            {
                                                <option value="@Model.MeasurementUnitId">@Model.MeasurementUnitName</option>
                                            }
                                        </select>
                                        <input type="hidden" name="MeasurementUnitName" id="MeasurementUnitName" value="@Model.MeasurementUnitName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="PackageId"><strong class="text-secondary">Package Name</strong></label>
                                        <select name="PackageId" class="form-control" id="PackageId">
                                            <option value="@Model.PackageId">@Model.PackageName</option>
                                        </select>
                                        <input type="hidden" name="PackageName" id="PackageName" value="@Model.PackageName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Weight"><strong class="text-secondary">Weight</strong></label>
                                        <input id="Weight" type="number" class="form-control" name="Weight" min="0" value="@Model.Weight" step="any" />
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-form-label"><strong class="text-secondary">Length(cms)</strong></label>
                                            <input type="number" class="form-control" name="Length" id="Length" min="0" value="@Model.Length" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-form-label"><strong class="text-secondary">Width(cms)</strong></label>
                                            <input type="number" class="form-control" name="Width" id="Width" min="0" value="@Model.Width" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-form-label"><strong class="text-secondary">Height(cms)</strong></label>
                                            <input type="number" class="form-control" name="Height" id="Height" min="0" value="@Model.Height" />
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <label class="col-form-label"><strong class="text-secondary">Size</strong></label>
                                            <input type="text" class="form-control" name="SizeLWH" id="SizeLWH" readonly value="@Model.SizeLWH" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12  form-group">
                                        <label class="col-form-label" for="ShortDescription"><strong class="text-secondary">Short Description</strong></label>
                                        <input id="ShortDescription" type="text" class="form-control" name="ShortDescription" min="0" value="@Model.ShortDescription" />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="control-label"><strong class="text-secondary">Long Description</strong></label>
                                        <textarea class="form-control ckeditor h-50" id="LongDescription" name="LongDescription" maxlength="400">@Html.Raw(Model.LongDescription)</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath1 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage1" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath1" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage1" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    <input type="file" id="FMCGImage1" name="FMCGImage1" class="d-none" />
                                                    <label for="FMCGImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath1" id="ImagePath1" value="@Model.ImagePath1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">

                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-2</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath2 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage2" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath2" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage2" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    <input type="file" id="FMCGImage2" name="FMCGImage2" class="d-none" />
                                                    <label for="FMCGImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath2" id="ImagePath2" value="@Model.ImagePath2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-3</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath3 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage3" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath3" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage3" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    <input type="file" id="FMCGImage3" name="FMCGImage3" class="d-none" />
                                                    <label for="FMCGImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath3" id="ImagePath3" value="@Model.ImagePath3" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-4</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath4 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage4" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath4" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage4" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    <input type="file" id="FMCGImage4" name="FMCGImage4" class="d-none" />
                                                    <label for="FMCGImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath4" id="ImagePath4" value="@Model.ImagePath4" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-5</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePath5 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage5" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath5" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGImage5" onerror="this.src='/Images/noimage.png'" />
                                                    }
                                                    <input type="file" id="FMCGImage5" name="FMCGImage5" class="d-none" />
                                                    <label for="FMCGImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePath5" id="ImagePath5" value="@Model.ImagePath5" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 mx-auto">
                                <button type="button" class="btn btn-block btn-success Save" id="Update"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            $('#BrandId').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/MasterProduct/GetFMCGBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/MasterProduct/GetCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#SubCategoryId').select2({
                placeholder: "Search SubCategory",
                ajax: {
                    url: "/MasterProduct/GetSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="SubCategoryName"]').val(e.params.data.text);
            });

            $('#NextSubCategoryId').select2({
                placeholder: "Search II Sub Category",
                ajax: {
                    url: "/MasterProduct/GetNextSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="NextSubCategoryName"]').val(e.params.data.text);
            });

            $('#PackageId').select2({
                placeholder: "Search Package",
                ajax: {
                    url: "/MasterProduct/GetFMCGPackageSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PackageName"]').val(e.params.data.text);
            });

            $('#MeasurementUnitId').select2({
                placeholder: "Search Unit",
                ajax: {
                    url: "/MasterProduct/GetFMCGMeasurementUnitSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MeasurementUnitName"]').val(e.params.data.text);
            });

            $(".Save").click(function () {
                var isValidated = false;
                var requiredArr = [
                    'Name'
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);

                if (isValidated) {
                    $('#FMCGUpdateForm').submit();
                };
            });

            function readURLFMCGImage1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGImage1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGImage2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGImage2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGImage3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGImage3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGImage4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGImage4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGImage5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGImage5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#FMCGImage1").change(function () {
                readURLFMCGImage1(this);
            });
            $("#FMCGImage2").change(function () {
                readURLFMCGImage2(this);
            });
            $("#FMCGImage3").change(function () {
                readURLFMCGImage3(this);
            });

            $("#FMCGImage4").change(function () {
                readURLFMCGImage4(this);
            });

            $("#FMCGImage5").change(function () {
                readURLFMCGImage5(this);
            });

            $('#Length,#Width,#Height').on('change', function () {
                calculateSizeLWH();
            });
            function calculateSizeLWH() {
                var length = $('#Length').val();
                var width = $('#Width').val();
                var height = $('#Height').val();
                var size = parseFloat(length * width * height).toFixed(2);
                $('#SizeLWH').val(size);
            }

        });
    </script>
}
