@model ShopNow.ViewModels.MasterFMCGCreateEditViewModel
@{
    ViewBag.Title = "FMCG Update";
}
<title>ShopNow | FMCG Update</title>
<style>

    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
    }

        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">FMCG Update</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/MasterProduct/FMCGList" target="_self"><span class="fa fa-list-ul"></span> FMCG List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("FMCGEdit", "MasterProduct", FormMethod.Post, new { id = "FMCGUpdateForm", enctype = "multipart/form-data" }))
            {
                <div class="card">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">FMCG Name</strong></label>
                                        <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" />
                                        <input type="hidden" name="Code" value="@Model.Code" />
                                        <input type="hidden" name="ProductType" value="@Model.ProductType" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Nick Name</strong></label>
                                        <input id="NickName" type="text" class="form-control" name="NickName" value="@Model.NickName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Brand Name</strong></label>
                                        <select name="BrandCode" id="BrandCode" class="form-control">
                                            <option value="@Model.BrandCode">@Model.BrandName</option>
                                        </select>
                                        <input type="hidden" name="BrandName" id="BrandName" value="@Model.BrandName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">ASIN / EAN</strong></label>
                                        <input id="ASIN" type="text" class="form-control" name="ASIN" value="@Model.ASIN" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Category Name</strong></label>
                                        <select name="CategoryCode" id="CategoryCode" class="form-control" multiple></select>
                                        <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Sub Category I Name</strong></label>
                                        <select name="SubCategoryCode" id="SubCategoryCode" class="form-control" multiple></select>
                                        <input type="hidden" name="SubCategoryName" id="SubCategoryName" value="@Model.SubCategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label"><strong class="text-secondary">Sub Category II Name</strong></label>
                                        <select name="NextSubCategoryCode" id="NextSubCategoryCode" class="form-control" multiple></select>
                                        <input type="hidden" name="NextSubCategoryName" id="NextSubCategoryName" value="@Model.NextSubCategoryName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="col-form-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                                            <input id="Adscore" type="number" value="@Model.Adscore" class="form-control" name="Adscore" min="1" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Price"><strong class="text-secondary">Price</strong></label>
                                        <input id="Price" type="number" class="form-control" name="Price" min="0" value="@Model.Price" />
                                    </div>

                                    <div class="col-md-3">
                                        <label class="col-form-label" for="Weight"><strong class="text-secondary">Weight</strong></label>
                                        <input id="Weight" type="number" class="form-control" name="Weight" min="0" value="@Model.weight" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="SizeLB"><strong class="text-secondary">Size LB</strong></label>
                                        <input id="SizeLB" type="text" class="form-control" name="SizeLB" min="0" value="@Model.SizeLB" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="MeasurementUnitCode"><strong class="text-secondary">Measurement Unit Name</strong></label>
                                        <select name="MeasurementUnitCode" class="form-control" id="MeasurementUnitCode">
                                            <option value="@Model.MeasurementUnitCode">@Model.MeasurementUnitName</option>
                                        </select>
                                        <input type="hidden" name="MeasurementUnitName" id="MeasurementUnitName" value="@Model.MeasurementUnitName" />
                                    </div>
                                    <div class="col-md-3">
                                        <label class="col-form-label" for="PackageCode"><strong class="text-secondary">Package Name</strong></label>
                                        <select name="PackageCode" class="form-control" id="PackageCode">
                                            <option value="@Model.PackageCode">@Model.PackageName</option>
                                        </select>
                                        <input type="hidden" name="PackageName" id="PackageName" value="@Model.PackageName" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12  form-group">
                                        <label class="col-form-label" for="ShortDescription"><strong class="text-secondary">Short Description</strong></label>
                                        <input id="ShortDescription" type="text" class="form-control" name="ShortDescription" min="0" value="@Model.ShortDescription" />
                                    </div>
                                    <div class="col-md-12 form-group">
                                        <label class="control-label"><strong class="text-secondary">Long Description</strong></label>
                                        <textarea class="form-control ckeditor h-50" id="LongDescription" name="LongDescription" maxlength="400">@Html.Raw(Model.LongDescription)</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePathLarge1 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage1" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge1" onerror="this.onerror=null;this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage1" />
                                                    }
                                                    <input type="file" id="FMCGLargeImage1" name="FMCGLargeImage1" class="d-none" />
                                                    <label for="FMCGLargeImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePathLarge1" id="ImagePathLarge1" value="@Model.ImagePathLarge1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">

                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-2</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePathLarge2 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage2" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge2" onerror="this.onerror=null;this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage2" />
                                                    }
                                                    <input type="file" id="FMCGLargeImage2" name="FMCGLargeImage2" class="d-none" />
                                                    <label for="FMCGLargeImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePathLarge2" id="ImagePathLarge2" value="@Model.ImagePathLarge2" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-3</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePathLarge3 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage3" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge3" onerror="this.onerror=null;this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage3" />
                                                    }
                                                    <input type="file" id="FMCGLargeImage3" name="FMCGLargeImage3" class="d-none" />
                                                    <label for="FMCGLargeImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePathLarge3" id="ImagePathLarge3" value="@Model.ImagePathLarge3" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-4</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePathLarge4 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage4" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge4" onerror="this.onerror=null;this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage4" />
                                                    }
                                                    <input type="file" id="FMCGLargeImage4" name="FMCGLargeImage4" class="d-none" />
                                                    <label for="FMCGLargeImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePathLarge4" id="ImagePathLarge4" value="@Model.ImagePathLarge4" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label text-secondary font-weight-bold ml-2">FMCG Image-5</label>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="img-upload-container ml-2">
                                                    @if (Model.ImagePathLarge5 != null)
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage5" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge5" onerror="this.onerror=null;this.src='/Images/No Photo.png'" />
                                                    }
                                                    else
                                                    {
                                                        <img class="img-container w-100 h-100" id="img-FMCGLargeImage5" />
                                                    }
                                                    <input type="file" id="FMCGLargeImage5" name="FMCGLargeImage5" class="d-none" />
                                                    <label for="FMCGLargeImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                                    <input type="hidden" name="ImagePathLarge5" id="ImagePathLarge5" value="@Model.ImagePathLarge5" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2 mx-auto">
                                <button type="button" class="btn btn-block btn-success Save" id="Update"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {

             var categorySelect = $('#CategoryCode');
            var categorycode = "@Model.CategoryCode1";
            var categoryname = "@Model.CategoryName";
            if (categorycode) {
                var array_code = categorycode.split(',');
                var array_name = categoryname.split(',');
                $.each(array_code, function (i) {
                    $('select[name="CategoryCode"] option[value=' + array_code[i] + ']').attr('selected', 'selected');
                    var option = new Option(array_name[i], array_code[i], true, true);
                    categorySelect.append(option).trigger('change');
                });
            }
            var scategorySelect = $('#SubCategoryCode');
            var scategorycode = "@Model.SubCategoryCode1";
            var scategoryname = "@Model.SubCategoryName";
            if (scategorycode) {
                var array_code = scategorycode.split(',');
                var array_name = scategoryname.split(',');
                $.each(array_code, function (i) {
                    $('select[name="SubCategoryCode"] option[value=' + array_code[i] + ']').attr('selected', 'selected');
                    var option = new Option(array_name[i], array_code[i], true, true);
                    scategorySelect.append(option).trigger('change');
                });
            }

            var nscategorySelect = $('#NextSubCategoryCode');
            var nscategorycode = "@Model.NextSubCategoryCode1";
            var nscategoryname = "@Model.NextSubCategoryName";
            if (nscategorycode) {
                var array_code = nscategorycode.split(',');
                var array_name = nscategoryname.split(',');
                $.each(array_code, function (i) {
                    $('select[name="NextSubCategoryCode"] option[value=' + array_code[i] + ']').attr('selected', 'selected');
                    var option = new Option(array_name[i], array_code[i], true, true);
                    nscategorySelect.append(option).trigger('change');
                });
            }
            $('#BrandCode').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/MasterProduct/GetFMCGBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryCode').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/MasterProduct/GetCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#SubCategoryCode').select2({
                placeholder: "Search I Sub Category",
                ajax: {
                    url: "/MasterProduct/GetSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="SubCategoryName"]').val(e.params.data.text);
            });

            $('#NextSubCategoryCode').select2({
                placeholder: "Search II Sub Category",
                ajax: {
                    url: "/MasterProduct/GetNextSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="NextSubCategoryName"]').val(e.params.data.text);
            });

            $('#PackageCode').select2({
                placeholder: "Search Package",
                ajax: {
                    url: "/MasterProduct/GetFMCGPackageSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PackageName"]').val(e.params.data.text);
            });

            $('#MeasurementUnitCode').select2({
                placeholder: "Search Unit",
                ajax: {
                    url: "/MasterProduct/GetFMCGMeasurementUnitSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MeasurementUnitName"]').val(e.params.data.text);
            });

            $(".Save").click(function () {
                var isValidated = false;
                var requiredArr = [
                    'Name'
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);

                if (isValidated) {
                    $('#FMCGUpdateForm').submit();
                };
            });

            function readURLFMCGLargeImage1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGLargeImage1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGLargeImage2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGLargeImage2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGLargeImage3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGLargeImage3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGLargeImage4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGLargeImage4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            function readURLFMCGLargeImage5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-FMCGLargeImage5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#FMCGLargeImage1").change(function () {
                readURLFMCGLargeImage1(this);
            });
            $("#FMCGLargeImage2").change(function () {
                readURLFMCGLargeImage2(this);
            });
            $("#FMCGLargeImage3").change(function () {
                readURLFMCGLargeImage3(this);
            });

            $("#FMCGLargeImage4").change(function () {
                readURLFMCGLargeImage4(this);
            });

            $("#FMCGLargeImage5").change(function () {
                readURLFMCGLargeImage5(this);
            });

        });
    </script>
}
