@model ShopNow.ViewModels.MasterFoodCreateViewModel
@{
    ViewBag.Title = "Dish Entry";
}
<title>ShopNow | @ViewBag.Title</title>

<style>
    .select2 {
        width: 100% !important;
    }
</style>
<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-md-6">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-6 text-right">
            <a href="~/MasterProduct/FoodList" target="_blank" class="mr-3"><span class="fa fa-list-ul"></span> Dish List</a>
            <a href="~/MasterProduct/List" target="_blank"><span class="fa fa-list-ul"></span> Full List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("FoodCreate", "MasterProduct", FormMethod.Post, new { id = "DishForm", role = "form", enctype = "multipart/form-data" }))
            {
            @Html.AntiForgeryToken()
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">
                                <strong class="text-secondary">Dish Name</strong>
                            </label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Name" id="Name" />
                                <input type="hidden" name="ProductType" id="ProductType" value="Dish" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label">
                                <strong class="text-secondary">Nick Name</strong>
                            </label>
                            <div class="form-group">
                                <input type="text" class="form-control" name="NickName" id="NickName" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="CategoryCode">
                                <strong class="text-secondary">Category Name</strong>
                            </label>
                            <div class="form-group">
                                <select class="form-control" name="CategoryCode" id="CategoryCode"></select>
                                <input type="hidden" name="CategoryName" id="CategoryName" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label col-sm-12"><strong class="text-secondary">Food Type</strong></label>
                            <select class="form-control" name="ColorCode" id="ColorCode">
                                <option value="Select">Select Type</option>
                                <option value="#168138">Veg</option>
                                <option value="#98361c">Non-Veg</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label col-sm-12"><strong class="text-secondary">Customisation</strong></label>
                            <select class="form-control" name="Customisation" id="Customisation">
                                <option value="Select">Select Custom</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="Price"><strong class="text-secondary">Price</strong></label>
                            <div class="form-group">
                                <input type="number" class="form-control" name="Price" step="any" id="Price" min="0" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                            <div class="form-group">
                                <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label class="control-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                            <div class="form-group">
                                <input id="Adscore" type="number" class="form-control" name="Adscore" value="1" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card d-none" id="radioAddons">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-check-inline ml-5">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="AddOnsType" value="1">Only Portion
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="AddOnsType" value="2">Only Addons
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="AddOnsType" value="3">Portions and Addons
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="AddOnsType" value="4">Step by Step Process
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="card-body d-none" id="AddPortion">
                            <div class="row"><label class="font-weight-bold text-success">ADD ONLY PORTION</label></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label" for="PortionCode"><strong class="text-secondary">Portion Name</strong></label>
                                    <div class="form-group">
                                        <select id="PortionCode" name="PortionCode" class="form-control"></select>
                                        <input type="hidden" name="PortionName" id="PortionName" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label" for="PortionPrice"><strong class="text-secondary">Portion Price</strong></label>
                                        <input type="number" class="form-control" name="PortionPrice" step="any" id="PortionPrice" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-2 mt-2">
                                    <label></label>
                                    <input type="button" class="btn btn-success btn-block addToAddOns" value="Add" />
                                </div>
                            </div>
                        </div>

                        <div class="card-body d-none" id="AddAddOns">
                            <div class="row"><label class="font-weight-bold text-success">ADD ONLY ADDONS</label></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label"><strong class="text-secondary">AddOn Category</strong></label>
                                    <div class="form-group">
                                        <select class="form-control" name="AddOnCategoryCode" id="AddOnCategoryCode"></select>
                                        <input type="hidden" name="AddOnCategoryName" id="AddOnCategoryName" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label"><strong class="text-secondary">Addon Item Name</strong></label>
                                    <div class="form-group">
                                        <input type="text" name="AddOnItemName" id="AddOnItemName" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label" for="AddOnsPrice"><strong class="text-secondary">AddOns Price</strong></label>
                                        <input type="number" class="form-control" name="AddOnsPrice" step="any" id="AddOnsPrice" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label"><strong class="text-secondary">Minimum AddOn Limit</strong></label>
                                    <div class="form-group">
                                        <input type="number" name="MinSelectionLimit2" id="MinSelectionLimit2" class="form-control" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="control-label"><strong class="text-secondary">Maximum AddOn Limit</strong></label>
                                    <div class="form-group">
                                        <input type="number" name="MaxSelectionLimit2" id="MaxSelectionLimit2" class="form-control" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-2 mt-2">
                                    <label></label>
                                    <input type="button" class="btn btn-success btn-block addToAddOns" value="Add" />
                                </div>
                            </div>
                        </div>

                        <div class="card-body d-none" id="AddPortionAddOns">
                            <div class="row"><label class="font-weight-bold text-success">ADD PORTIONS/ADDONS</label></div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label class="control-label"><strong class="text-secondary">Portion Name</strong></label>
                                    <div class="form-group">
                                        <select id="PortionCode1" name="PortionCode1" class="form-control"></select>
                                        <input type="hidden" name="PortionName1" id="PortionName1" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label"><strong class="text-secondary">AddOn Category</strong></label>
                                    <div class="form-group">
                                        <select class="form-control" name="AddOnCategoryCode1" id="AddOnCategoryCode1"></select>
                                        <input type="hidden" name="AddOnCategoryName1" id="AddOnCategoryName1" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label"><strong class="text-secondary">Addon Item Name</strong></label>
                                    <div class="form-group">
                                        <input type="text" name="AddOnItemName1" id="AddOnItemName1" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><strong class="text-secondary">AddOns Price</strong></label>
                                        <input type="number" class="form-control" name="AddOnsPrice1" step="any" id="AddOnsPrice1" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label"><strong class="text-secondary">Portion Price</strong></label>
                                        <input type="number" class="form-control" name="PortionPrice1" step="any" id="PortionPrice1" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label"><strong class="text-secondary">Minimum AddOn Limit</strong></label>
                                    <div class="form-group">
                                        <input type="number" name="MinSelectionLimit3" id="MinSelectionLimit3" class="form-control" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="control-label"><strong class="text-secondary">Maximum AddOn Limit</strong></label>
                                    <div class="form-group">
                                        <input type="number" name="MaxSelectionLimit3" id="MaxSelectionLimit3" class="form-control" min="0" />
                                    </div>
                                </div>
                                <div class="col-md-2 mt-2">
                                    <label></label>
                                    <input type="button" class="btn btn-success btn-block addToAddOns" value="Add" />
                                </div>
                            </div>
                        </div>

                        <div class="card-body d-none" id="StepbyStep">
                            <div class="row"><label class="font-weight-bold text-success">STEP BY STEP PROCESS</label></div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <label class="control-label"><strong class="text-secondary">Portion Name</strong></label>
                                            <div class="form-group">
                                                <select class="form-control" id="PortionCode2" name="PortionCode2"></select>
                                                <input type="hidden" name="PortionName2" id="PortionName2" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label"><strong class="text-secondary">Portion Price</strong></label>
                                                <input type="number" class="form-control" name="PortionPrice2" step="any" id="PortionPrice2" min="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="control-label"><strong class="text-secondary">AddOn Category</strong></label>
                                            <div class="form-group">
                                                <select class="form-control" name="AddOnCategoryCode2" id="AddOnCategoryCode2"></select>
                                                <input type="hidden" name="AddOnCategoryName2" id="AddOnCategoryName2" />
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <label class="control-label"><strong class="text-secondary">Addon Item Name</strong></label>
                                            <div class="form-group">
                                                <input type="text" name="AddOnItemName2" id="AddOnItemName2" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" for="AddOnsPrice"><strong class="text-secondary">AddOns Price</strong></label>
                                                <input type="number" class="form-control" name="AddOnsPrice2" step="any" id="AddOnsPrice2" min="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label class="control-label" for="CrustName"><strong class="text-secondary">Selection Name</strong></label>
                                                <input type="text" class="form-control" name="CrustName" id="CrustName" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label" for="CrustPrice"><strong class="text-secondary">Selection Price</strong></label>
                                                <input type="number" class="form-control" name="CrustPrice" step="any" id="CrustPrice" min="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <label class="control-label"><strong class="text-secondary">Minimum AddOn Limit</strong></label>
                                            <div class="form-group">
                                                <input type="number" name="MinSelectionLimit4" id="MinSelectionLimit4" class="form-control" min="0" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <label class="control-label"><strong class="text-secondary">Maximum AddOn Limit</strong></label>
                                            <div class="form-group">
                                                <input type="number" name="MaxSelectionLimit4" id="MaxSelectionLimit4" class="form-control" min="0" />
                                            </div>
                                        </div>
                                        <div class="col-md-2 mt-2">
                                            <label></label>
                                            <input type="button" class="btn btn-success btn-block addToAddOns" value="Add" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="d-none" id="divAddOns">
                                <table class="table table-borderless table-striped table-condensed w-100 mr-auto" id="tbl-addOns1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>AddOn Type</th>
                                            <th>Portion Name</th>
                                            <th>Portion Price</th>
                                            <th>AddOn Category Name</th>
                                            <th>AddOn Item Name</th>
                                            <th>AddOn Price</th>
                                            <th>Selection Name</th>
                                            <th>Selection Price</th>
                                            <th>Min</th>
                                            <th>Max</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr></tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-md-2 m-3">
                    <div class="card-body">
                        <div class="row mx-auto">
                            <label class="control-label">
                                <strong class="text-secondary">Dish Image</strong>
                            </label>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-2">
                                <div class="img-upload-container ml-2">
                                    <img class="img-container w-100 h-100" id="img-ProductImage1" onerror="this.src='/Images/No Photo.png'" />
                                    <input type="file" id="ProductImage1" name="ProductImage1" class="d-none" />
                                    <label for="ProductImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3 mx-auto">
                        <button type="button" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

@*Image Modal*@

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <img class="modal-content" id="myImage">
    </div>
</div>

@section Scripts
{
<!--Select2-->
<script src="~/Scripts/select2/js/select2.js"></script>
<link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
<link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
<!--Select2 End-->
<script src="~/Scripts/ckeditor/ckeditor.js"></script>
<script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
<link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
<link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
<script>

    $(document).ready(function () {
        var errormsg = "@ViewBag.ErrorMessage";
        var msg = "@ViewBag.Message";
        if (errormsg != "") {
            swal("Notice!", errormsg, "warning")
        }
        if (msg != "") {
            swal("Success!", msg, "success")
        }
        $('#CategoryCode').select2({
            placeholder: "Search Category",
            ajax: {
                url: "/MasterProduct/GetDishCategorySelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="CategoryName"]').val(e.params.data.text);
        });

        $(".Save").click(function () {
            if ($('#MasterProductName').val() != "") {
                $('#DishForm').submit();
            } else {
                swal("Notice!", "Please Enter Dish Name!", "warning");
            }
        });

        $('input[type=radio][name=AddOnsType]').change(function () {
            if (this.value == '1') {
                $("#AddPortion").removeClass("d-none");
                $("#AddAddOns").addClass("d-none");
                $("#AddPortionAddOns").addClass("d-none");
                $("#StepbyStep").addClass("d-none");
                resetFields();
            }
            else if (this.value == '2') {
                $("#AddPortion").addClass("d-none");
                $("#AddAddOns").removeClass("d-none");
                $("#AddPortionAddOns").addClass("d-none");
                $("#StepbyStep").addClass("d-none");
                resetFields();
            }
            else if (this.value == '3') {
                $("#AddPortion").addClass("d-none");
                $("#AddAddOns").addClass("d-none");
                $("#AddPortionAddOns").removeClass("d-none");
                $("#StepbyStep").addClass("d-none");
                resetFields();
            }
            else if (this.value == '4') {
                $("#AddPortion").addClass("d-none");
                $("#AddAddOns").addClass("d-none");
                $("#AddPortionAddOns").addClass("d-none");
                $("#StepbyStep").removeClass("d-none");
                resetFields();
            }
        });

        function resetFields() {
            $("#PortionCode").val('').trigger('change');
            $("#PortionName").val("");
            $("#PortionPrice").val("");
            $("#AddOnCategoryCode").val('').trigger('change');
            $("#AddOnCategoryName").val("");
            $('#AddOnItemName').val("");
            $('#AddOnsPrice').val("");
            $("#PortionCode1").val('').trigger('change');
            $("#PortionName1").val("");
            $('#PortionPrice1').val("");
            $("#AddOnCategoryCode1").val('').trigger('change');
            $("#AddOnCategoryName1").val("");
            $('#AddOnItemName1').val("");
            $('#AddOnsPrice1').val("");
            $("#PortionCode2").val('').trigger('change');
            $("#PortionName2").val("");
            $('#PortionPrice2').val("");
            $("#AddOnCategoryCode2").val('').trigger('change');
            $("#AddOnCategoryName2").val("");
            $('#AddOnItemName2').val("");
            $('#AddOnsPrice2').val("");
            $('#CrustName').val("");
            $('#CrustPrice').val("");
            $("#MinSelectionLimit2").val("");
            $("#MaxSelectionLimit2").val("");
            $("#MinSelectionLimit3").val("");
            $("#MaxSelectionLimit3").val("");
            $("#MinSelectionLimit4").val("");
            $("#MaxSelectionLimit4").val("");
        }

        $('#Customisation').on('change', function () {
            var cust = $('#Customisation').val()
            if (cust == 'true') {
                $("#radioAddons").removeClass("d-none");
            } else {
                $("#radioAddons").addClass("d-none");
            }
        });

        $('#AddOnCategoryCode').select2({
            placeholder: "Search Addon Category",
            ajax: {
                url: "/MasterProduct/GetAddonCategorySelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="AddOnCategoryName"]').val(e.params.data.text);
        });

        $('#AddOnCategoryCode1').select2({
            placeholder: "Search Addon Category",
            ajax: {
                url: "/MasterProduct/GetAddonCategorySelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="AddOnCategoryName1"]').val(e.params.data.text);
        });

        $('#AddOnCategoryCode2').select2({
            placeholder: "Search Addon Category",
            ajax: {
                url: "/MasterProduct/GetAddonCategorySelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="AddOnCategoryName2"]').val(e.params.data.text);
        });

        $('#PortionCode').select2({
            placeholder: "Search Portion",
            ajax: {
                url: "/MasterProduct/GetPortionSelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="PortionName"]').val(e.params.data.text);
        });

        $('#PortionCode1').select2({
            placeholder: "Search Portion",
            ajax: {
                url: "/MasterProduct/GetPortionSelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="PortionName1"]').val(e.params.data.text);
        });

        $('#PortionCode2').select2({
            placeholder: "Search Portion",
            ajax: {
                url: "/MasterProduct/GetPortionSelect2",
                width: '100%',
                delay: 250,
                dataType: 'json'
            }
        }).on('select2:select', function (e) {
            $('input[name="PortionName2"]').val(e.params.data.text);
        });

        $('.addToAddOns').on('click', function () {
            var fd = new FormData();

            var type = $("input[name='AddOnsType']:checked").val();
            if (type == "1") {
                //Only Portion
                var PortionCode = $("#PortionCode").val();
                var PortionName = $("#PortionName").val();
                var PortionPrice = $("#PortionPrice").val();
                var AddOnCategoryCode = "N/A";
                var AddOnCategoryName = "N/A";
                var AddOnItemName = "N/A";
                var AddOnsPrice = 0;
                var CrustName = "N/A";
                var CrustPrice = 0;
                var AddOnType = 1;
                

                fd.append('PortionCode', PortionCode);
                fd.append('PortionName', PortionName);
                fd.append('PortionPrice', PortionPrice);
                fd.append('AddOnCategoryCode', AddOnCategoryCode);
                fd.append('AddOnCategoryName', AddOnCategoryName);
                fd.append('AddOnItemName', AddOnItemName);
                fd.append('AddOnsPrice', AddOnsPrice);
                fd.append('CrustName', CrustName);
                fd.append('CrustPrice', CrustPrice);
                fd.append('AddOnType', AddOnType);
            }
            else if (type == "2") {
                //Only AddOns
                var AddOnCategoryCode = $("#AddOnCategoryCode").val();
                var AddOnCategoryName = $("#AddOnCategoryName").val();
                var AddOnItemName = ($('#AddOnItemName').val() == "") ? "N/A" : $('#AddOnItemName').val();
                var AddOnsPrice = $('#AddOnsPrice').val();
                var MinSelectionLimit = $("#MinSelectionLimit2").val();
                var MaxSelectionLimit = $("#MaxSelectionLimit2").val();
                var PortionCode = "N/A";
                var PortionName = "N/A";
                var PortionPrice = 0;
                var CrustName = "N/A";
                var CrustPrice = 0;
                var AddOnType = 2;

                fd.append('PortionCode', PortionCode);
                fd.append('PortionName', PortionName);
                fd.append('PortionPrice', PortionPrice);
                fd.append('AddOnCategoryCode', AddOnCategoryCode);
                fd.append('AddOnCategoryName', AddOnCategoryName);
                fd.append('MinSelectionLimit', MinSelectionLimit);
                fd.append('MaxSelectionLimit', MaxSelectionLimit);
                fd.append('AddOnItemName', AddOnItemName);
                fd.append('AddOnsPrice', AddOnsPrice);
                fd.append('CrustName', CrustName);
                fd.append('CrustPrice', CrustPrice);
                fd.append('AddOnType', AddOnType);
            }
            else if (type == "3") {
                // Portion and AddOns
                var PortionCode = $("#PortionCode1").val();
                var PortionName = $("#PortionName1").val();
                var PortionPrice = $('#PortionPrice1').val();
                var AddOnCategoryCode = $("#AddOnCategoryCode1").val();
                var AddOnCategoryName = $("#AddOnCategoryName1").val();
                var MinSelectionLimit = $("#MinSelectionLimit3").val();
                var MaxSelectionLimit = $("#MaxSelectionLimit3").val();
                var AddOnItemName = ($('#AddOnItemName1').val() == "") ? "N/A" : $('#AddOnItemName1').val();
                var AddOnsPrice = $('#AddOnsPrice1').val();
                var CrustName = "N/A";
                var CrustPrice = 0;
                var AddOnType = 3;

                fd.append('PortionCode', PortionCode);
                fd.append('PortionName', PortionName);
                fd.append('PortionPrice', PortionPrice);
                fd.append('AddOnCategoryCode', AddOnCategoryCode);
                fd.append('AddOnCategoryName', AddOnCategoryName);
                fd.append('MinSelectionLimit', MinSelectionLimit);
                fd.append('MaxSelectionLimit', MaxSelectionLimit);
                fd.append('AddOnItemName', AddOnItemName);
                fd.append('AddOnsPrice', AddOnsPrice);
                fd.append('CrustName', CrustName);
                fd.append('CrustPrice', CrustPrice);
                fd.append('AddOnType', AddOnType);
            }
            else if (type == "4") {
                // Step by Step Process
                var PortionCode = $("#PortionCode2").val();
                var PortionName = $("#PortionName2").val();
                var PortionPrice = $('#PortionPrice2').val();
                var AddOnCategoryCode = $("#AddOnCategoryCode2").val();
                var AddOnCategoryName = $("#AddOnCategoryName2").val();
                var MinSelectionLimit = $("#MinSelectionLimit4").val();
                var MaxSelectionLimit = $("#MaxSelectionLimit4").val();
                var AddOnItemName = ($('#AddOnItemName2').val() == "") ? "N/A" : $('#AddOnItemName2').val();
                var AddOnsPrice = $('#AddOnsPrice2').val();
                var CrustName = ($('#CrustName').val() == "") ? "N/A" : $('#CrustName').val();
                var CrustPrice = $('#CrustPrice').val();
                var AddOnType = 4;

                fd.append('PortionCode', PortionCode);
                fd.append('PortionName', PortionName);
                fd.append('PortionPrice', PortionPrice);
                fd.append('AddOnCategoryCode', AddOnCategoryCode);
                fd.append('AddOnCategoryName', AddOnCategoryName);
                fd.append('MinSelectionLimit', MinSelectionLimit);
                fd.append('MaxSelectionLimit', MaxSelectionLimit);
                fd.append('AddOnItemName', AddOnItemName);
                fd.append('AddOnsPrice', AddOnsPrice);
                fd.append('CrustName', CrustName);
                fd.append('CrustPrice', CrustPrice);
                fd.append('AddOnType', AddOnType);
            }
            if (PortionCode == null) {
                swal("Warning!", "Please select Portion!", "warning")
            }
            else if (AddOnCategoryCode == null) {
                swal("Warning!", "Please select AddOnCategory!", "warning")
            }else {
                $.ajax({
                    url: '/MasterProduct/AddToAddOns',
                    data: fd,
                    type: 'post',
                    dataType: 'json',
                    contentType: false,
                    enctype: 'multipart/form-data',
                    processData: false,
                    success: function (data) {
                        var type = data.AddOnType, typename = "N/A";
                        if (type == 1) { typename = "Only Portion" }
                        if (type == 2) { typename = "Only AddOns" }
                        if (type == 3) { typename = "Portions & AddOns" }
                        if (type == 4) { typename = "Step by Step Process" }
                        var tableData = '<tr> \
                                            <td>' + data.Id + '</td> \
                                            <td>' + typename + '</td> \
                                            <td>' + data.PortionName + '</td> \
                                            <td>' + data.PortionPrice + '</td> \
                                            <td>' + data.AddOnCategoryName + '</td> \
                                            <td>' + data.AddOnItemName + '</td> \
                                            <td>' + data.AddOnsPrice + '</td>\
                                            <td>' + data.CrustName + '</td>\
                                            <td>' + data.CrustPrice + '</td>\
                                            <td>' + data.MinSelectionLimit + '</td>\
                                            <td>' + data.MaxSelectionLimit + '</td>\
                                            <td><button class="btn btn-link text-dark removeAddOns" type="button" data-id='+ data.Id + '><i class="fa fa-trash" aria-hidden="true"></i></button></td>\
                                        </tr> ';
                        $('#tbl-addOns1 tbody').append(tableData);
                        $('#divAddOns').removeClass('d-none');
                        resetFields();
                    }
                })
            }
        });

        $(document).on('click', '.removeAddOns', function () {
            var id = $(this).data('id');
            var thisRow = $(this).closest("tr");
            $.post('/MasterProduct/RemoveFromAddOns', { id: id }, function (data) {
                if (data == true) {
                    thisRow.remove();
                    swal("Success!", "AddOn Successfully Removed!", "success")
                    var count = $('#tbl-addOns1 tr').length;
                    if (count == 2) {
                        $("#divAddOns").addClass("d-none");
                    }
                }
                else
                    swal("Notice","Something went wrong please try again!","error");
            });
        });

        function readURLProduct(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#img-ProductImage1').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#ProductImage1").change(function () {
            readURLProduct(this);
        });

    });
</script>
}

