@model IEnumerable<ShopNow.Models.MasterProduct>
@using GridMvc.Html
@{
    ViewBag.Title = "MasterProduct List";
}

<title>ShopNow | Master Product List</title>

<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h5 class="mt-1" style="letter-spacing:1px">MASTER FULL LIST</h5>
        </div>
        <div class="col-md-9 text-right">
            <a href="~/MasterProduct/FoodCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> New Dish</a>
            <a href="~/MasterProduct/FMCGCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> New FMCG</a>
            <a href="~/MasterProduct/MedicalCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> New Medicine</a>
            <a href="~/MasterProduct/ElectronicCreate" target="_self" class="ml-2"><span class="fa fa-plus"></span> New Electronics</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.Name).Titled("Name").Filterable(true).SetWidth(20);
     // columns.Add(c => c.CategoryName).Titled("Category Name").Filterable(true).SetWidth(10);
        columns.Add(c => c.BrandName).Titled("Brand Name").Filterable(true).SetWidth(20);
        columns.Add(c => c.ProductTypeName).Titled("Item Type").Filterable(true).SetWidth(10);
        columns.Add()
       .Encoded(false)
       .Sanitized(false).Titled("Action").SetWidth(10)
       .RenderValueAs(o => @<div>
                @if (o.ProductTypeId == 1)
                            {
                    <a href="~/MasterProduct/FoodEdit?Id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-3"><i class="fa fa-edit fa-lg"></i></a>
                            }
                            else if (@o.ProductTypeId == 2)
                            {
                    <a href="~/MasterProduct/FMCGEdit?Id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-3"><i class="fa fa-edit fa-lg"></i></a>
                            }
                            else if (@o.ProductTypeId == 3)
                            {
                    <a href="~/MasterProduct/MedicalEdit?Id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-3"><i class="fa fa-edit fa-lg"></i></a>
                            }
                            else if (@o.ProductTypeId == 4)
                            {
                    <a href="~/MasterProduct/ElectronicEdit?Id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-3"><i class="fa fa-edit fa-lg"></i></a>
                            }
                            else
                            {
                    <a href="~/MasterProduct/ServiceEdit?Id=@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-info mr-4"><i class="fa fa-edit fa-lg"></i></a>
                            }
                <a href="javascript:void(0)" data-id="@ShopNow.Helpers.AdminHelpers.ECodeLong(o.Id)" class="text-danger btnDelete"><i class="fa fa-trash fa-lg"></i></a>
            </div>);
    }).WithPaging(20).Sortable(true)

</div>

@section Scripts
{
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $(".btnDelete").click(function () {
                var Id = $(this).attr('data-id');
                swal({
                    title: "Are you sure want to delete?",
                    text: "Delete all ShopItems mapping to this MasterItems. You will not be able to recover this file!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Delete it!",
                    cancelButtonText: "No, cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                    function (isConfirm) {
                        if (isConfirm) {
                            $.getJSON("/MasterProduct/Delete", { Id: Id }, function (data) {
                                if (data == true) {
                                    window.location.reload();
                                }
                            });
                        }
                    }
                );
            });
        });
    </script>
}