@model ShopNow.ViewModels.MasterMedicalCreateViewModel
@{
    ViewBag.Title = "Medical Entry";
}
<title>ShopNow | @ViewBag.Title</title>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-9">
            <h5 class="mt-1 text-success">@ViewBag.Title</h5>
        </div>
        <div class="col-md-2 text-right">
            <a href="~/MasterProduct/MedicalList" target="_self"><span class="fa fa-list-ul"></span> Medical List</a>
        </div>
        <div class="col-md-1">
            <a href="~/MasterProduct/List" target="_self"><span class="fa fa-list-ul"></span> Full List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("MedicalCreate", "MasterProduct", FormMethod.Post, new { id = "MedicalProductForm", enctype = "multipart/form-data" }))
            {
                <div class="card">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold">Drug Name</label>
                                        <div class="form-group">
                                            <input id="Name" type="text" class="form-control" name="Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold">Nick Name</label>
                                        <div class="form-group">
                                            <input id="NickName" type="text" class="form-control" name="NickName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="BrandId">Brand Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="BrandId" id="BrandId"></select>
                                            <input type="hidden" name="BrandName" id="BrandName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="CategoryIds">Category Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="CategoryIds" id="CategoryIds" multiple></select>
                                            <input type="hidden" name="CategoryName" id="CategoryName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="MeasurementUnitId">Drug Measurement Unit Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="MeasurementUnitId" id="MeasurementUnitId"></select>
                                            <input type="hidden" name="MeasurementUnitName" id="MeasurementUnitName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="DrugCompoundDetailIds">Drug Combination</label>
                                        <div class="form-group">
                                            <select class="form-control" name="DrugCompoundDetailIds" id="DrugCompoundDetailIds" multiple></select>
                                            <input type="hidden" name="DrugCompoundDetailName" id="DrugCompoundDetailName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Prescription</strong></label>
                                            <select class="form-control" name="PriscriptionCategory" id="PriscriptionCategory">
                                                <option value="Select">Select Prescription</option>
                                                <option value="true">Rx Required</option>
                                                <option value="false">Rx Not Required</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Manufacturer</strong></label>
                                            <input type="text" class="form-control" name="Manufacturer" id="Manufacturer" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Origin Country</strong></label>
                                            <input type="text" class="form-control" name="OriginCountry" id="OriginCountry" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">iBarU</strong></label>
                                            <input type="text" class="form-control" name="IBarU" id="IBarU" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Weight</strong></label>
                                            <input type="number" class="form-control" name="Weight" id="Weight" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Size</strong></label>
                                            <input type="text" class="form-control" name="SizeLB" id="SizeLB" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Price"><strong class="text-secondary">Price</strong></label>
                                            <input id="Price" type="number" class="form-control" name="Price" min="0" step="any" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                                            <input id="Adscore" type="number" value="1" class="form-control" name="Adscore" min="1" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="PackageId">Package Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="PackageId" id="PackageId"></select>
                                            <input type="hidden" name="PackageName" id="PackageName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <div class="form-group">
                                            <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 1</strong></label>
                                        <div class="img-upload-container ml-2">
                                            <img class="img-container w-100 h-100" id="img-drug1" onerror="this.src='/Images/No Photo.png'" />
                                            <input type="file" id="MedicalImage1" name="MedicalImage1" class="d-none" />
                                            <label for="MedicalImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 2</strong></label>
                                        <div class="img-upload-container ml-2">
                                            <img class="img-container w-100 h-100" id="img-drug2" onerror="this.src='/Images/No Photo.png'" />
                                            <input type="file" id="MedicalImage2" name="MedicalImage2" class="d-none" />
                                            <label for="MedicalImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 3</strong></label>
                                        <div class="img-upload-container ml-2">
                                            <img class="img-container w-100 h-100" id="img-drug3" onerror="this.src='/Images/No Photo.png'" />
                                            <input type="file" id="MedicalImage3" name="MedicalImage3" class="d-none" />
                                            <label for="MedicalImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 4</strong></label>
                                        <div class="img-upload-container ml-2">
                                            <img class="img-container w-100 h-100" id="img-drug4" onerror="this.src='/Images/No Photo.png'" />
                                            <input type="file" id="MedicalImage4" name="MedicalImage4" class="d-none" />
                                            <label for="MedicalImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 5</strong></label>
                                        <div class="img-upload-container ml-2">
                                            <img class="img-container w-100 h-100" id="img-drug5" onerror="this.src='/Images/No Photo.png'" />
                                            <input type="file" id="MedicalImage5" name="MedicalImage5" class="d-none" />
                                            <label for="MedicalImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 mx-auto">
                                <button type="button" class="btn btn-block btn-success Save" id="Create"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var errormsg = "@ViewBag.ErrorMessage";
            var msg = "@ViewBag.Message";
            if (errormsg != "") {
                swal("Notice!", errormsg, "warning")
            }
            if (msg != "") {
                swal("Success!", msg, "success")
            }
            $('#Create').on('click', function () {
                var isValidated = false;
                var requiredArr = [
                    'Name',
                    'Price'
                ];
                isValidated = ValidateEmptyRequiredFiels(requiredArr);

                if (isValidated) {
                    $($(this)).prop('disabled', true);
                    $('#MedicalProductForm').submit();
                };
            });

            $('#BrandId').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/MasterProduct/GetMedicalBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryIds').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/MasterProduct/GetMedicalCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#MeasurementUnitId').select2({
                placeholder: "Search Drug Unit",
                ajax: {
                    url: "/MasterProduct/GetDrugUnitSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MeasurementUnitName"]').val(e.params.data.text);
            });

            $('#DrugCompoundDetailIds').select2({
                placeholder: "Search Combination",
                ajax: {
                    url: "/MasterProduct/GetDrugCompoundDetailSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="DrugCompoundDetailName"]').val(e.params.data.text);
            });

            $('#PackageId').select2({
                placeholder: "Search Package",
                ajax: {
                    url: "/MasterProduct/GetMedicalPackageSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PackageName"]').val(e.params.data.text);
            });

           
            function readURLDrug1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#MedicalImage1").change(function () {
                readURLDrug1(this);
            });

            function readURLDrug2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#MedicalImage2").change(function () {
                readURLDrug2(this);
            });

            function readURLDrug3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage3").change(function () {
                readURLDrug3(this);
            });

            function readURLDrug4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage4").change(function () {
                readURLDrug4(this);
            });

            function readURLDrug5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage5").change(function () {
                readURLDrug5(this);
            });


        });
    </script>
}
