@model ShopNow.ViewModels.MasterMedicalEditViewModel
@{
    ViewBag.Title = "Medical Update";
}
<title>ShopNow | @ViewBag.Title</title>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success">@ViewBag.Title</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/MasterProduct/MedicalList" target="_blank"><span class="fa fa-bars"></span> Medical List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("MedicalEdit", "MasterProduct", FormMethod.Post, new { id = "MedicalProductForm", enctype = "multipart/form-data", autocomplete = "off" }))
            {
                <div class="card shadow">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold">Drug Name</label>
                                        <div class="form-group">
                                            <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold">Nick Name</label>
                                        <div class="form-group">
                                            <input id="NickName" type="text" class="form-control" name="NickName" value="@Model.NickName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="BrandId">Brand Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="BrandId" id="BrandId">
                                                <option value="@Model.BrandId">@Model.BrandName</option>
                                            </select>
                                            <input type="hidden" name="BrandName" id="BrandName" value="@Model.BrandName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="CategoryId">Category Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="CategoryId" id="CategoryId">
                                                <option value="@Model.CategoryId">@Model.CategoryName</option>
                                            </select>
                                            <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="MeasurementUnitId">Drug Measurement Unit Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="MeasurementUnitId" id="MeasurementUnitId">
                                                <option value="@Model.MeasurementUnitId">@Model.MeasurementUnitName</option>
                                            </select>
                                            <input type="hidden" name="MeasurementUnitName" id="MeasurementUnitName" value="@Model.MeasurementUnitName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="DrugCompoundDetailIds">Combination DrugCompound</label>
                                        <div class="form-group">
                                            <select class="form-control DrugCompoundDetailIds" name="DrugCompoundDetailIds" id="DrugCompoundDetailIds" multiple></select>
                                            <input type="hidden" name="DrugCompoundDetailName" id="DrugCompoundDetailName" value="@Model.DrugCompoundDetailName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Prescription</strong></label>
                                            <select class="form-control" name="PriscriptionCategory" id="PriscriptionCategory">
                                                <option value="Select">Select Prescription</option>
                                                <option value="True">Rx Required</option>
                                                <option value="False">Rx Not Required</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Manufacturer</strong></label>
                                            <input type="text" class="form-control" name="Manufacturer" id="Manufacturer" value="@Model.Manufacturer" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Origin Country</strong></label>
                                            <input type="text" class="form-control" name="OriginCountry" id="OriginCountry" value="@Model.OriginCountry" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">iBarU</strong></label>
                                            <input type="number" class="form-control" name="IBarU" id="IBarU" value="@Model.IBarU" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Weight</strong></label>
                                            <input type="number" class="form-control" name="Weight" id="Weight" value="@Model.Weight" step="any" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label"><strong class="text-secondary">Length(cms)</strong></label>
                                                    <input type="number" class="form-control" name="Length" id="Length" min="0" value="@Model.Length" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label"><strong class="text-secondary">Width(cms)</strong></label>
                                                    <input type="number" class="form-control" name="Width" id="Width" min="0" value="@Model.Width" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label"><strong class="text-secondary">Height(cms)</strong></label>
                                                    <input type="number" class="form-control" name="Height" id="Height" min="0" value="@Model.Height" />
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="form-group">
                                                    <label class="control-label"><strong class="text-secondary">Size</strong></label>
                                                    <input type="text" class="form-control" name="SizeLWH" id="SizeLWH" readonly value="@Model.SizeLWH" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Price"><strong class="text-secondary">Price</strong></label>
                                            <input id="Price" type="number" class="form-control" name="Price" min="0" step="any" value="@Model.Price" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                                            <input id="Adscore" type="number" value="@Model.Adscore" class="form-control" name="Adscore" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="PackageId">Package Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="PackageId" id="PackageId">
                                                <option value="@Model.PackageId">@Model.PackageName</option>
                                            </select>
                                            <input type="hidden" name="PackageName" id="PackageName" value="@Model.PackageName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <div class="form-group">
                                            <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 1</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath1 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug1" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath1" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug1" />
                                            }
                                            <input type="file" id="MedicalImage1" name="MedicalImage1" class="d-none" />
                                            <label for="MedicalImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath1" id="ImagePath1" value="@Model.ImagePath1" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 2</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath2 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug2" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath2" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug2" />
                                            }
                                            <input type="file" id="MedicalImage2" name="MedicalImage2" class="d-none" />
                                            <label for="MedicalImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath2" id="ImagePath2" value="@Model.ImagePath2" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 3</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath3 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug3" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath3" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug3" />
                                            }
                                            <input type="file" id="MedicalImage3" name="MedicalImage3" class="d-none" />
                                            <label for="MedicalImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath3" id="ImagePath3" value="@Model.ImagePath3" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 4</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath4 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug4" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath4" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug4" />
                                            }
                                            <input type="file" id="MedicalImage4" name="MedicalImage4" class="d-none" />
                                            <label for="MedicalImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath4" id="ImagePath4" value="@Model.ImagePath4" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 5</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePath5 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug5" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath5" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug5" />
                                            }
                                            <input type="file" id="MedicalImage5" name="MedicalImage5" class="d-none" />
                                            <label for="MedicalImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePath5" id="ImagePath5" value="@Model.ImagePath5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 mx-auto">
                                <button type="submit" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            
            var drugSelect = $('#DrugCompoundDetailIds');
            var DrugCompoundDetailIds = "@Model.DrugCompoundDetailIds1";
            var drugcompounddetailname = "@Model.DrugCompoundDetailName";
            if (DrugCompoundDetailIds) {
                var array_code = DrugCompoundDetailIds.split(',');
                var array_name = drugcompounddetailname.split(',');
                $.each(array_code, function (i) {
                    $('select[name="DrugCompoundDetailIds"] option[value=' + array_code[i] + ']').attr('selected', 'selected');
                    var option = new Option(array_name[i], array_code[i], true, true);
                    drugSelect.append(option).trigger('change');
                });
            }

             jQuery(document).ready(function ($) {
                 $("#PriscriptionCategory").find('option[value="@Model.PriscriptionCategory"]').attr('selected', 'selected');
             });

            $('#BrandId').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/MasterProduct/GetMedicalBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/MasterProduct/GetMedicalCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#MeasurementUnitId').select2({
                placeholder: "Search Drug Unit",
                ajax: {
                    url: "/MasterProduct/GetDrugUnitSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MeasurementUnitName"]').val(e.params.data.text);
            });

            $('#DrugCompoundDetailIds').select2({
                placeholder: "Search Combination",
                ajax: {
                    url: "/MasterProduct/GetDrugCompoundDetailSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="DrugCompoundDetailName"]').val(e.params.data.text);
            });

            $('#PackageId').select2({
                placeholder: "Search Package",
                ajax: {
                    url: "/MasterProduct/GetMedicalPackageSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PackageName"]').val(e.params.data.text);
            });

            
            function readURLDrug1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage1").change(function () {
                readURLDrug1(this);
            });

            function readURLDrug2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#MedicalImage2").change(function () {
                readURLDrug2(this);
            });

            function readURLDrug3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage3").change(function () {
                readURLDrug3(this);
            });

            function readURLDrug4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage4").change(function () {
                readURLDrug4(this);
            });

            function readURLDrug5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#MedicalImage5").change(function () {
                readURLDrug5(this);
            });

            $('#Length,#Width,#Height').on('change', function () {
                calculateSizeLWH();
            });
            function calculateSizeLWH() {
                var length = $('#Length').val();
                var width = $('#Width').val();
                var height = $('#Height').val();
                var size = parseFloat(length * width * height).toFixed(2);
                $('#SizeLWH').val(size);
            }

        });
    </script>
}
