@model ShopNow.ViewModels.MedicalDrugCreateEditViewModel
@{
    ViewBag.Title = "Medical Update";
}
<title>ShopNow | Medical Edit</title>
<div class="container-fluid my-4">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1 text-success" style="letter-spacing:1px">MEDICAL UPDATE</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/MasterProduct/MedicalList" target="_blank"><span class="fa fa-bars"></span> Medical List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @using (Html.BeginForm("MedicalEdit", "MasterProduct", FormMethod.Post, new { id = "MedicalProductForm", enctype = "multipart/form-data" }))
            {
                <div class="card">
                    <div class="card-body">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="Id" value="@Model.Id" />
                        <div class="form-group row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold">Drug Name</label>
                                        <div class="form-group">
                                            <input id="Name" type="text" class="form-control" name="Name" value="@Model.Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold">Nick Name</label>
                                        <div class="form-group">
                                            <input id="NickName" type="text" class="form-control" name="NickName" value="@Model.NickName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="BrandId">Brand Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="BrandId" id="BrandId">
                                                <option value="@Model.BrandId">@Model.BrandName</option>
                                            </select>
                                            <input type="hidden" name="BrandName" id="BrandName" value="@Model.BrandName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="CategoryId">Category Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="CategoryId" id="CategoryId" multiple></select>
                                            <input type="hidden" name="CategoryName" id="CategoryName" value="@Model.CategoryName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="MeasurementUnitId">Drug Measurement Unit Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="MeasurementUnitId" id="MeasurementUnitId">
                                                <option value="@Model.MeasurementUnitId">@Model.MeasurementUnitName</option>
                                            </select>
                                            <input type="hidden" name="MeasurementUnitName" id="MeasurementUnitName" value="@Model.MeasurementUnitName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="DrugCompoundDetailId">Combination DrugCompound</label>
                                        <div class="form-group">
                                            <select class="form-control DrugCompoundDetailId" name="DrugCompoundDetailId" id="DrugCompoundDetailId" multiple></select>
                                            <input type="hidden" name="CombinationDrugCompound" id="CombinationDrugCompound" value="@Model.CombinationDrugCompound" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Prescription</strong></label>
                                            <select class="form-control" name="PriscriptionCategory" id="PriscriptionCategory">
                                                <option value="Select">Select Prescription</option>
                                                <option value="True">Rx Required</option>
                                                <option value="False">Rx Not Required</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Manufacturer</strong></label>
                                            <input type="text" class="form-control" name="Manufacturer" id="Manufacturer" value="@Model.Manufacturer" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Origin Country</strong></label>
                                            <input type="text" class="form-control" name="OriginCountry" id="OriginCountry" value="@Model.OriginCountry" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">iBarU</strong></label>
                                            <input type="text" class="form-control" name="IBarU" id="IBarU" value="@Model.IBarU" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Weight</strong></label>
                                            <input type="number" class="form-control" name="weight" id="weight" value="@Model.weight" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label"><strong class="text-secondary">Size</strong></label>
                                            <input type="text" class="form-control" name="SizeLB" id="SizeLB" value="@Model.SizeLB" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Price"><strong class="text-secondary">Price</strong></label>
                                            <input id="Price" type="number" class="form-control" name="Price" min="0" step="any" value="@Model.Price" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label" for="Adscore"><strong class="text-secondary">Adscore</strong></label>
                                            <input id="Adscore" type="number" value="@Model.Adscore" class="form-control" name="Adscore" min="1" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label text-secondary font-weight-bold" for="PackageCode">Package Name</label>
                                        <div class="form-group">
                                            <select class="form-control" name="PackageCode" id="PackageCode">
                                                <option value="@Model.PackageCode">@Model.PackageName</option>
                                            </select>
                                            <input type="hidden" name="PackageName" id="PackageName" value="@Model.PackageName" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="control-label" for="GoogleTaxonomyCode"><strong class="text-secondary">Google Taxonomy Code</strong></label>
                                        <div class="form-group">
                                            <input id="GoogleTaxonomyCode" type="text" class="form-control" name="GoogleTaxonomyCode" value="@Model.GoogleTaxonomyCode" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 1</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge1 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug1" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge1" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug1" />
                                            }
                                            <input type="file" id="ProductImage1" name="ProductImage1" class="d-none" />
                                            <label for="ProductImage1" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge1" id="ImagePathLarge1" value="@Model.ImagePathLarge1" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 2</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge2 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug2" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge2" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug2" />
                                            }
                                            <input type="file" id="ProductImage2" name="ProductImage2" class="d-none" />
                                            <label for="ProductImage2" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge2" id="ImagePathLarge2" value="@Model.ImagePathLarge2" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 3</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge3 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug3" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge3" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug3" />
                                            }
                                            <input type="file" id="ProductImage3" name="ProductImage3" class="d-none" />
                                            <label for="ProductImage3" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge3" id="ImagePathLarge3" value="@Model.ImagePathLarge3" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 4</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge4 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug4" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge4" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug4" />
                                            }
                                            <input type="file" id="ProductImage4" name="ProductImage4" class="d-none" />
                                            <label for="ProductImage4" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge4" id="ImagePathLarge4" value="@Model.ImagePathLarge4" />
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="control-label"><strong class="text-secondary">Drug Image 5</strong></label>
                                        <div class="img-upload-container ml-2">
                                            @if (Model.ImagePathLarge5 != null)
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug5" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePathLarge5" onerror="this.src='/Images/No Photo.png'" />
                                            }
                                            else
                                            {
                                                <img class="img-container w-100 h-100" id="img-drug5" />
                                            }
                                            <input type="file" id="ProductImage5" name="ProductImage5" class="d-none" />
                                            <label for="ProductImage5" class="img-browse"><span class="fa fa-plus"></span> Select Image</label>
                                            <input type="hidden" name="ImagePathLarge5" id="ImagePathLarge5" value="@Model.ImagePathLarge5" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3 mx-auto">
                                <button type="submit" class="btn btn-block btn-success Save"><span class="glyphicon glyphicon-file"></span> Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/multiple-image-upload.js"></script>
    <link href="~/Content/multiple-image-upload.css" rel="stylesheet" />
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            
             var categorySelect = $('#CategoryId');
            var CategoryId = "@Model.CategoryId1";
            var categoryname = "@Model.CategoryName";
            if (CategoryId) {
                var array_code = CategoryId.split(',');
                var array_name = categoryname.split(',');
                $.each(array_code, function (i) {
                    $('select[name="CategoryId"] option[value=' + array_code[i] + ']').attr('selected', 'selected');
                    var option = new Option(array_name[i], array_code[i], true, true);
                    categorySelect.append(option).trigger('change');
                });
            }

            var drugSelect = $('#DrugCompoundDetailId');
            var DrugCompoundDetailId = "@Model.DrugCompoundDetailId1";
            var drugcompounddetailname = "@Model.CombinationDrugCompound";
            if (DrugCompoundDetailId) {
                var array_code = DrugCompoundDetailId.split(',');
                var array_name = drugcompounddetailname.split(',');
                $.each(array_code, function (i) {
                    $('select[name="DrugCompoundDetailId"] option[value=' + array_code[i] + ']').attr('selected', 'selected');
                    var option = new Option(array_name[i], array_code[i], true, true);
                    drugSelect.append(option).trigger('change');
                });
            }

             jQuery(document).ready(function ($) {
                 $("#PriscriptionCategory").find('option[value="@Model.PriscriptionCategory"]').attr('selected', 'selected');
             });

            $('#BrandId').select2({
                placeholder: "Search Brand",
                ajax: {
                    url: "/MasterProduct/GetMedicalBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="BrandName"]').val(e.params.data.text);
            });

            $('#CategoryId').select2({
                placeholder: "Search Category",
                ajax: {
                    url: "/MasterProduct/GetMedicalCategorySelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CategoryName"]').val(e.params.data.text);
            });

            $('#MeasurementUnitId').select2({
                placeholder: "Search Drug Unit",
                ajax: {
                    url: "/MasterProduct/GetDrugUnitSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="MeasurementUnitName"]').val(e.params.data.text);
            });

            $('#DrugCompoundDetailId').select2({
                placeholder: "Search Combination",
                ajax: {
                    url: "/MasterProduct/GetDrugCompoundDetailSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="CombinationDrugCompound"]').val(e.params.data.text);
            });

            $('#PackageCode').select2({
                placeholder: "Search Package",
                ajax: {
                    url: "/MasterProduct/GetMedicalPackageSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="PackageName"]').val(e.params.data.text);
            });

            //function readURLThumbnail(input) {
            //    if (input.files && input.files[0]) {
            //        var reader = new FileReader();
            //        reader.onload = function (e) {
            //            $('#img-thumbnail').attr('src', e.target.result);
            //        }
            //        reader.readAsDataURL(input.files[0]);
            //    }
            //}

            //$("#ThumbnailImage").change(function () {
            //    readURLThumbnail(this);
            //});

            //$("#ThumbnailImage").change(function () {
            //    var fileUpload = $("#ThumbnailImage")[0];
            //    var regex = new RegExp("([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.png|.gif)$");
            //    if (regex.test(fileUpload.value.toLowerCase())) {
            //        //Initiate the FileReader object.
            //        var reader = new FileReader();
            //        //Read the contents of Image File.
            //        reader.readAsDataURL(fileUpload.files[0]);
            //        reader.onload = function (e) {
            //            //Initiate the JavaScript Image object.
            //            var image = new Image();
            //            //Set the Base64 string return from FileReader as source.
            //            image.src = e.target.result;
            //            image.onload = function () {
            //                //Determine the Height and Width.
            //                var height = this.height;
            //                var width = this.width;
            //                var size = fileUpload.files[0].size;
            //                //alert(height);
            //                //alert(size);
            //                if (height > 113 || width > 113) {
            //                    swal("Height (" + height + "px) and Width(" + width + "px) are exceed the limit.", "", "warning");
            //                    return false;
            //                }
            //                else if (size > 7168) {
            //                    swal("size" + size + "exceed the limit(7kb) ", "", "warning");
            //                    return false;
            //                }
            //                else {
            //                    //swal("success","","warning")
            //                    readURLThumbnail(fileUpload);
            //                    return true;
            //                }
            //            };
            //        }
            //    } else {
            //        swal("Please select a valid Image file (jpg,png,gif).", "", "warning");
            //        return false;
            //    }
            //});


            function readURLDrug1(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug1').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ProductImage1").change(function () {
                readURLDrug1(this);
            });

            function readURLDrug2(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug2').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ProductImage2").change(function () {
                readURLDrug2(this);
            });

            function readURLDrug3(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug3').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ProductImage3").change(function () {
                readURLDrug3(this);
            });

            function readURLDrug4(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug4').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ProductImage4").change(function () {
                readURLDrug4(this);
            });

            function readURLDrug5(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img-drug5').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#ProductImage5").change(function () {
                readURLDrug5(this);
            });

        });
    </script>
}
