@model IEnumerable<ShopNow.Models.NextSubCategory>
@using GridMvc.Html
@{
    ViewBag.Title = "List";
}
<title>ShopNow | Next SubCategory</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<style>
    .table td, .table th {
        border-top: 1px solid #eaeaea;
        vertical-align: middle;
        padding: .4rem 1.25rem;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h5 style="letter-spacing:1px">SUB CATEGORY II LIST</h5>
        </div>
        <div class="col-md-6 text-right">
            <a data-toggle="modal" data-target="#createModal" href="createModal"><span class="fa fa-plus"></span> New Next Sub Category</a>
        </div>
    </div>

    @Html.Grid(Model).Columns(columns =>
{
columns.Add(n=> n.Name).Titled("Name").Filterable(true).SetWidth(10);
columns.Add(n => n.SubCategoryName).Titled("SubCategory Name").Filterable(true).SetWidth(10);
columns.Add(s => s.ProductType).Titled("Item Type").Filterable(true).SetWidth(10);
columns.Add(s => s.Adscore).Titled("Adscore").Filterable(true).SetWidth(10);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .RenderValueAs(o => Html.ActionLink("Edit", "Edit", new { code = @ShopNow.Helpers.AdminHelpers.ECode(o.Code) }, new { @class = "btn btn-vsm btn-warning mr-1", @style = "padding: 3px 26px" }).ToHtmlString()
                   + Html.ActionLink("Delete", "Delete", new { code = @ShopNow.Helpers.AdminHelpers.ECode(o.Code) }, new { @class = "btn  btn-vsm btn-danger", @style = "padding: 3px 18px" }).ToHtmlString()).Titled("Action").SetWidth(15);
            }).WithPaging(20).Sortable(true)
    <!--
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-borderless table-hover" id="NextSubCategory-List">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Next SubCategory</th>
                                    <th>SubCategory</th>
                                    <th>Item Type</th>
                                    <th>Adscore</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                foreach (var item in Model.List)
                                {
                                    <tr>
                                        <td></td>
                                        <td>item.Name</td>
                                        <td>item.SubCategoryName</td>
                                        <td>item.ProductType</td>
                                        <td>item.Adscore</td>
                                        <td>
                                            <a href="~/NextSubCategory/Edit?code=ShopNow.Helpers.AdminHelpers.ECode(item.Code)" class="btn-sm btn-warning" style="padding: 3px 26px">Edit</a>
                                            @*<a href="~/NextSubCategory/Edit?code=@ShopNow.Helpers.AdminHelpers.ECode(item.Code)" data-id="@item.Code" data-id1="@item.Name" data-id2="@item.ProductType" data-id3="@item.SubCategoryCode" data-id4="@item.SubCategoryName" class="btn-sm btn-warning edit-prompt" data-toggle="modal" style="padding: 3px 26px">Edit</a>*@
                                            <a href="#" data-id="item.Code" data-id1="item.Name" class="btn-sm btn-danger delete-prompt" data-toggle="modal" data-target="#deleteModal" style="padding: 3px 18px">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
</div>


<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <h5 class="modal-title">SUB CATEGORY II Entry</h5>
                <button type="button" class="btnClose close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Next SubCategory Name</label>
                        <input type="text" name="Name" id="Name" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">SubCategory</label>
                        <div>
                            <select name="SubCategoryCode" class="form-control" id="SubCategoryCode"></select>
                            <input type="hidden" name="SubCategoryName" id="SubCategoryName" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Item Type</label>
                        <select name="ProductType" class="form-control" id="ProductType">
                            <option value="">Select Item Type</option>
                            <option value="Product">Product</option>
                            <option value="Dish">Dish</option>
                            <option value="Service">Service</option>
                            <option value="Medical">Medical</option>
                            <option value="FMCG">FMCG</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="col-form-label font-weight-bold text-secondary">Adscore</label>
                        <input type="number" min="1" value="1" name="Adscore" id="Adscore" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="Create" name="Create" value="Save" class="btn btn-success float-right Save" />
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-danger">
                <h4 class="modal-title" id="myModalLabel">Warning</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="success-message">Are you sure want to delete this record? </p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success delete-confirm">Yes</button>
                <button class="btn btn-danger" data-dismiss="modal">No</button>
                <input type="hidden" name="Code" id="Code" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/ValidateRequiredFields.js"></script>
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            var t = $('#NextSubCategory-List').DataTable({
                "dom": "<'row'<'col-sm-6'f>>" +
                    "<'row'<'col-sm-5'i><'col-sm-3'l><'col-sm-4'p>>" +
                    "<'row'<'col-sm-12'tr>>",
                "bPaginate": false,
                "scrollY": 400,
                "paging": true,
                "lengthMenu": [[10, 20, 50, 100, -1], [10, 20, 50, 100, "ALL"]],
                "pageLength": -1,
                initComplete: function (settings, json) {
                    $('.index input').remove();
                    $('.action-btn input').remove();
                    $('.dataTables_filter input').appendTo('.data-search');
                    $('.dataTables_filter label').remove();
                    $('.data-search input').attr('placeholder', 'Quick Search');
                    $('.data-search input').addClass('form-control');
                    $('.data-search input').removeClass('form-control-sm');
                },
            });

            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();

            $('#SubCategoryCode').select2({
                dropdownParent: $('#createModal'),
                placeholder: "Search SubCategory",
                ajax: {
                    url: "/NextSubCategory/GetSubCategorySelect2",
                    width: '100%',
                    delay: 250,
                    datatype: 'json',
                }
            }).on('select2:select', function (e) {
                $('input[name="SubCategoryName"]').val(e.params.data.text);
            });

            $('#Create').on('click', function () {
                var name = $('#Name').val();
                var type = $('#ProductType').val();
                var subcategorycode = $("#SubCategoryCode").val();
                var subcategoryname = $("#SubCategoryName").val();
                var adscore = $("#Adscore").val();
                var isValidate = false;
                var requiredArr = [
                    'Name',
                    'ProductType',
                    'SubCategoryCode',
                    'SubCategoryName'
                ];
                isValidate = ValidateEmptyRequiredFiels(requiredArr);
                if (isValidate) {
                    $.getJSON("/NextSubCategory/Save?name=" + name + "&type=" + type + "&subcategorycode=" + subcategorycode + "&subcategoryname=" + subcategoryname + "&adscore" + adscore, function (data) {
                        if (data.IsAdded == true) {
                            swal({
                                title: data.message,
                                text: "",
                                type: "success"
                            }, function () {
                                window.location.reload();
                            });
                        } else {
                            if (data.message1 != null || data.message1 != "") {
                                swal(data.message1, "", "warning");
                                $('#Name').val("");
                                $('#ProductType').val("");
                            }
                        }
                    });
                }
            });

            $(".delete-prompt").click(function () {
                var code = $(this).attr('data-id');
                $("#Code").val(code);
            });

            $(".delete-confirm").click(function () {
                var code = $("#Code").val();
                $.getJSON("/NextSubCategory/Delete", { code: code }, function (data) {
                    window.location.reload();
                });
            });
        });

    </script>
}