@model ShopNow.ViewModels.GroceryAddToCartViewModel
@{
    ViewBag.Title = "AddToCart";
}
<title>ShopNow | @ViewBag.Title</title>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-md-4">
            <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/CustomerGroceryUpload/List" class="ml-auto" target="_blank"><span class="fa fa-bars"></span> Customer Grocery Upload List</a>
        </div>
        <input type="hidden" name="GroceryId" id="GroceryId" value="@Model.GroceryId" />
        <input type="hidden" name="ShopId" id="ShopId" value="@Model.ShopId" />
        <input type="hidden" name="CustomerId" id="CustomerId" value="@Model.CustomerId" />
        <input type="hidden" name="CustomerName" id="CustomerName" value="@Model.CustomerName" />
        <input type="hidden" name="Latitude" id="Latitude" value="@Model.Latitude" />
        <input type="hidden" name="Longitude" id="Longitude" value="@Model.Longitude" />
        <input type="hidden" name="DeliveryAddress" id="DeliveryAddress" value="@Model.DeliveryAddress" />
        <div class="col-md-12 mt-1">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-2">
                                    <img alt="Image" data-toggle="modal" data-target="#myModal" class="img-thumbnail GroceryUploadImage p-1" src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ShopImagePath" onerror="this.src='/Images/noimage.png'" style="width:120px;height:120px" />
                                </div>
                                <div class="col-md-5">
                                    <label class="font-weight-bold text-secondary">@Model.ShopName</label><br />
                                    <label class="font-weight-bold text-secondary">@Model.ShopPhoneNumber</label><br />
                                    <label class="font-weight-bold text-secondary">@Model.ShopAddress</label><br />
                                </div>
                                <div class="col-md-5">
                                    <h6 class="font-weight-bold text-secondary">
                                        @if (Model.CustomerName != null)
                                        {@Model.CustomerName.ToUpper()}
                                    </h6>
                                    <p class="font-weight-bold text-secondary">@Model.CustomerPhoneNumber</p>
                                    <p class="font-weight-bold text-secondary">@Model.DeliveryAddress</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h6 class="font-weight-bold text-secondary mb-3">Grocery Upload Image(s)</h6>
                            @foreach (var im in Model.ImagePathLists)
                            {
                                <img alt="Image" data-toggle="modal" data-target="#myModal" class="img-thumbnail GroceryUploadImage p-1" src="@im.ImagePath" onerror="this.src='/Images/noimage.png'" style="width:45px;height:45px" />
                            }
                            <h6 class="font-weight-bold text-secondary mt-3">Grocery Audio</h6>
                            <audio controls="controls" src="@Model.AudioPath"></audio>
                        </div>
                    </div>
                    <h6 class="mt-3">Add Order Item(s)</h6>
                    <div class="row mt-1">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Select Product</label>
                                <select class="form-control" name="ProductId" id="select-product"></select>
                                <input type="hidden" name="ProductName" />
                                <input type="hidden" name="ItemId" />
                                <input type="hidden" name="Price" />
                                <input type="hidden" name="MRPPrice" />
                                <input type="hidden" name="Weight" />
                                <input type="hidden" name="SizeLWH" />
                                <input type="hidden" name="BrandId" />
                                <input type="hidden" name="BrandName" />
                                <input type="hidden" name="CategoryId" />
                                <input type="hidden" name="CategoryName" />
                                <input type="hidden" name="ImagePath" />
                                <input type="hidden" name="Percentage" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Quantity</label>
                                <input class="form-control" type="number" name="Quantity" min="1" oninput="validity.valid||(value=value.replace(/\D+/g, ''))" />
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <input type="button" value="Add To List" class="btn btn-primary btn-sm h-50 mt-4" id="btn-addtolist" />
                        </div>
                    </div>
                    <div class="row d-none" id="div-items">
                        <div class="col-md-12">
                            <h6>Cart Items</h6>
                            <table class="table table-bordered table-sm table-striped" id="tbl-items">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Product</th>
                                        <th>MRP</th>
                                        <th>Discount</th>
                                        <th>Unit Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <h6>Billing Details</h6>
                            <table class="table table-bordered table-sm table-striped" id="tbl-billing">
                                <tbody>
                                    <tr>
                                        <td>Items Total</td>
                                        <td>
                                            &#8377;<span class="ItemTotal">0</span>
                                            <input type="hidden" name="ItemTotal" id="ItemTotal" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Packing Charge</td>
                                        <td>
                                            &#8377;<span class="PackingCharge">0</span>
                                            <input type="hidden" name="PackingCharge" id="PackingCharge" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Convenient Charge</td>
                                        <td>
                                            &#8377;<span class="ConvenientCharge">0</span>
                                            <input type="hidden" name="ConvenientCharge" id="ConvenientCharge" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Gross Delivery Charge</td>
                                        <td>
                                            &#8377;<span class="GrossDeliveryCharge">0</span>
                                            <span class="Distance"></span>
                                            <input type="hidden" name="GrossDeliveryCharge" id="GrossDeliveryCharge" />
                                            <input type="hidden" name="Distance" id="Distance" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Shop Delivery Discount</td>
                                        <td>
                                            &#8377;<span class="ShopDeliveryDiscount">0</span>
                                            <input type="hidden" name="ShopDeliveryDiscount" id="ShopDeliveryDiscount" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Net Delivery Charge</td>
                                        <td>
                                            &#8377;<span class="NetDeliveryCharge">0</span>
                                            <input type="hidden" name="NetDeliveryCharge" id="NetDeliveryCharge" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>To Pay</td>
                                        <td>
                                            &#8377;<span class="ToPay">0</span>
                                            <input type="hidden" name="ToPay" id="ToPay" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2 mx-auto">
                            <button type="button" class="btn btn-block btn-success mr-3" id="btn-save">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Grocery Image</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <label class="text-danger">* Click Image to Open in New Window</label>
                <button id="btn-rotate" class="btn btn-sm btn-secondary float-right mb-2"><i class="fa fa-repeat" aria-hidden="true"></i> Rotate Image</button>
                <div class="clearfix"></div>
                <div class="row w-100" id="print-Prescription" style="height:auto;">
                    <img class="modal-content img-fluid w-100" id="GroceryImage" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ml-2" id="btnPrint" onclick="printDiv('print-Prescription')">Print</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            w = window.open();
            w.document.write(printContents);
            w.print();
            w.close();
        }
        $(document).ready(function () {
            var shopid = $("#ShopId").val();
            var customerid = $("#CustomerId").val();
            $('#select-product').select2({
                placeholder: "Select Product",
                width: '100%',
                ajax: {
                    url: "/CustomerGroceryUpload/GetShopProductSelect2?shopid=" + shopid,
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="ProductName"]').val(e.params.data.text);
                $('input[name="ItemId"]').val(e.params.data.itemid);
                $('input[name="Price"]').val(e.params.data.price);
                $('input[name="MRPPrice"]').val(e.params.data.mrpprice);
                $('input[name="Weight"]').val(e.params.data.weight);
                $('input[name="SizeLWH"]').val(e.params.data.size);
                $('input[name="BrandId"]').val(e.params.data.brandid);
                $('input[name="BrandName"]').val(e.params.data.brandname);
                $('input[name="CategoryId"]').val(e.params.data.categoryid);
                $('input[name="CategoryName"]').val(e.params.data.categoryname);
                $('input[name="ImagePath"]').val(e.params.data.imagepath);
                $('input[name="Quantity"]').attr({ "max": e.params.data.quantity });
                $('input[name="Percentage"]').val(e.params.data.percentage);
            });
            $('input[name="Quantity"]').on('keypress keyup', function () {
                var value = parseFloat($(this).attr('max'));
                var maximum = parseFloat($('input[name = "Quantity"]').val());
                if (value < maximum) {
                    swal("Warning!", "Only " + value + " stock available", "");
                }
            });
            var itemTotal = 0;
            var totalWeight = 0;
            var totalSize = 0;
            var itemArray = [];
            $('#btn-addtolist').on('click', function () {
                var value = parseFloat($('input[name="Quantity"]').attr('max'));
                var maximum = parseFloat($('input[name = "Quantity"]').val());
                if (value < maximum) {
                    swal("Warning!", "Only " + value + " stock available", "");
                } else {
                    var rowindex = Math.floor(1000 + Math.random() * 9000);
                    var productId = $('[name="ProductId"]').val();
                    var productName = $('[name="ProductName"]').val();
                    var itemid = $('[name="ItemId"]').val();
                    var qty = $('[name="Quantity"]').val();
                    var price = $('[name="Price"]').val();
                    var mrpprice = $('[name="MRPPrice"]').val();
                    var weight = $('[name="Weight"]').val();
                    var size = $('[name="SizeLWH"]').val();
                    var brandId = $('[name="BrandId"]').val();
                    var brandName = $('[name="BrandName"]').val();
                    var categoryId = $('[name="CategoryId"]').val();
                    var categoryName = $('[name="CategoryName"]').val();
                    var imagePath = $('[name="ImagePath"]').val();
                    var percentage = $('[name="Percentage"]').val();
                    //var pamount = parseFloat(price * percentage / 100);
                    //price = parseFloat(price - pamount).toFixed(2);
                    if (productId && qty) {
                        var total = parseFloat(price * qty).toFixed(2);
                        var item = {
                            ItemId: itemid,
                            ProductId: parseInt(productId),
                            ProductName: productName,
                            BrandId: brandId,
                            BrandName: brandName,
                            CategoryId: categoryId,
                            CategoryName: categoryName,
                            ImagePath: imagePath,
                            Quantity: qty,
                            UnitPrice: price,
                            Price: total,
                            MRPPrice: mrpprice,
                            RowIndex: rowindex
                        };
                        itemArray.push(item);
                        var $tr = '<tr><td>' + productName + '</td><td>' + mrpprice + '</td><td>' + percentage + '%</td><td>' + price + '</td><td>' + qty + '</td><td>' + total + '</td><td><a class="btn btn-sm btn-danger removeProduct" data-amount="' + total + '" data-rowindex="' + rowindex + '" data-weight="' + weight + '" data-size="' + size + '"> Remove</a></td ></tr>';
                        $('#tbl-items tbody').append($tr);
                        $('#div-items').removeClass('d-none');
                        $('[name="ProductId"]').val('').trigger('change');
                        $('[name="Quantity"]').val('');
                        //$('[name="Price"]').val('');

                        itemTotal += parseFloat(total);
                        totalWeight += parseFloat(weight);
                        totalSize += parseFloat(size);

                        $(".ItemTotal").text(itemTotal.toFixed(2));
                        $.getJSON("/CustomerGroceryUpload/GetShopCharge", { shopid: shopid, itemTotal: itemTotal, customerid: customerid, totalSize: totalSize, totalWeight: totalWeight }, function (data) {
                            $("#PackingCharge").val(data.PackingCharge);
                            $(".PackingCharge").text(data.PackingCharge);
                            $("#ConvenientCharge").val(data.ConvenientCharge);
                            $(".ConvenientCharge").text(data.ConvenientCharge);
                            $("#GrossDeliveryCharge").val(data.GrossDeliveryCharge);
                            $(".GrossDeliveryCharge").text(data.GrossDeliveryCharge.toFixed(2));
                            $(".Distance").text(' (' + data.Distance.toFixed(2) + 'Km)');
                            $("#Distance").val(data.Distance.toFixed(2));
                            $("#ShopDeliveryDiscount").val(data.ShopDeliveryDiscount);
                            $(".ShopDeliveryDiscount").text(data.ShopDeliveryDiscount.toFixed(2));
                            $("#NetDeliveryCharge").val(data.NetDeliveryCharge);
                            $(".NetDeliveryCharge").text(data.NetDeliveryCharge.toFixed(2));
                            var pack = $("#PackingCharge").val();
                            var conv = $("#ConvenientCharge").val();
                            var net = $("#NetDeliveryCharge").val();
                            var toPay = parseFloat(itemTotal) + parseFloat(pack) + parseFloat(conv) + parseFloat(net);
                            $(".ToPay").text(toPay.toFixed(0));
                            $("#ToPay").val(toPay.toFixed(0));
                        });
                    } else
                        swal('Warning', 'All fields are required!', 'warning');
                }
            });

            $(document).on('click', '.removeProduct', function () {
                var rowindex = $(this).data('rowindex');
                isItemInArray(rowindex);
                var itemAmount = $(this).data('amount');
                var itemWeight = $(this).data('weight');
                var itemSize = $(this).data('size');
                var thisRow = $(this).closest("tr");
                var count = $('#tbl-items tr').length;
                if (count == 2) {
                    $("#div-items").addClass("d-none");
                }
                thisRow.remove();
                swal("Success!", "Item Successfully Removed!", "success");
                itemTotal -= parseFloat(itemAmount);
                totalWeight -= parseFloat(itemWeight);
                totalSize -= parseFloat(itemSize);
                $(".ItemTotal").text(itemTotal.toFixed(2));
                $.getJSON("/CustomerGroceryUpload/GetShopCharge", { shopid: shopid, itemTotal: itemTotal, customerid: customerid, totalSize: totalSize, totalWeight: totalWeight }, function (data) {
                    $("#PackingCharge").val(data.PackingCharge);
                    $(".PackingCharge").text(data.PackingCharge);
                    $("#ConvenientCharge").val(data.ConvenientCharge);
                    $(".ConvenientCharge").text(data.ConvenientCharge);
                    $("#GrossDeliveryCharge").val(data.GrossDeliveryCharge);
                    $(".GrossDeliveryCharge").text(data.GrossDeliveryCharge.toFixed(2));
                    $(".Distance").text(' (' + data.Distance.toFixed(2) + 'Km)');
                    $("#Distance").val(data.Distance.toFixed(2));
                    $("#ShopDeliveryDiscount").val(data.ShopDeliveryDiscount);
                    $(".ShopDeliveryDiscount").text(data.ShopDeliveryDiscount.toFixed(2));
                    $("#NetDeliveryCharge").val(data.NetDeliveryCharge);
                    $(".NetDeliveryCharge").text(data.NetDeliveryCharge.toFixed(2));
                    var pack = $("#PackingCharge").val();
                    var conv = $("#ConvenientCharge").val();
                    var net = $("#NetDeliveryCharge").val();
                    var toPay = parseFloat(itemTotal) + parseFloat(pack) + parseFloat(conv) + parseFloat(net);
                    $(".ToPay").text(toPay.toFixed(0));
                    $("#ToPay").val(toPay.toFixed(0));
                });
            });

            $('#btn-save').on('click', function () {
                if (itemArray.length > 0) {
                    var model = {
                        OrderNumber: Math.floor(Math.random() * 1000000000),
                        shopId: $("#ShopId").val(),
                        customerId: $('#CustomerId').val(),
                        DeliveryAddress: $('#DeliveryAddress').val(),
                        ToPay: $('#ToPay').val(),
                        GrossDeliveryCharge: $('#GrossDeliveryCharge').val(),
                        ShopDeliveryDiscount: $('#ShopDeliveryDiscount').val(),
                        NetDeliveryCharge: $('#NetDeliveryCharge').val(),
                        ConvenientCharge: $('#ConvenientCharge').val(),
                        PackingCharge: $('#PackingCharge').val(),
                        Latitude: $('#Latitude').val(),
                        Longitude: $('#Longitude').val(),
                        Distance: $('#Distance').val(),
                        GroceryId: $('#GroceryId').val(),
                        ListItems: itemArray,
                    };
                    $('#btn-save').attr("disabled",true);
                    $.post('/CustomerGroceryUpload/AddToCart', model, function (data) {
                        if (data) {
                            // swal('Success', 'Order Placed successfully', 'success');
                            location.href = "List";
                        } else {
                            timeArray.length = 0;
                            $('#tbl-items tbody').empty();
                            $('#div-items').addClass('d-none');
                        }
                    });
                } else
                    swal('Warning', 'Item List should not be empty!', 'warning');
            });

            var modal = document.getElementById('myModal');
            var img = document.getElementsByClassName('GroceryUploadImage');
            var modalImg = document.getElementById("GroceryImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src.replace("/Small/", "/Large/");
                if (this.src == "") {
                    $('#myModal').hide();
                }
                else {
                    $('#myModal').modal('show');
                }
            });

            function isItemInArray(id) {
                const indx = itemArray.findIndex(v => v.RowIndex === id);
                itemArray.splice(indx, 1);
            }

            var angle = 90;
            $('#btn-rotate').on('click', function () {
                $("#GroceryImage").css({ 'transform': 'rotate(' + angle + 'deg)' });
                angle += 90;
            });
            $('#myModal').on('hidden.bs.modal', function () {
                $("#GroceryImage").css({ 'transform': '' });
            });
            $("#GroceryImage").on('click', function () {
                window.open($(this).attr('src'));
            });
        });
    </script>
}
