@model ShopNow.ViewModels.PushNotificationIndexViewModel
@using GridMvc.Html
@{
    ViewBag.Title = "Push Notification";
}
<title>ShopNow | @ViewBag.Title</title>
<link href="~/Content/Gridmvc.css" rel="stylesheet" />
<script src="~/Scripts/gridmvc.js"></script>
<div class="container-fluid">
    <div class="row mt-3 mx-auto">
        <div class="offset-md-1 col-md-6">
            <div class="card shadow h-100">
                <div class="card-body">
                    <h5 class="text-success" style="letter-spacing:1px">@ViewBag.Title</h5>
                    <form action="/PushNotification/SendBulk" method="post">
                        <div class="form-group">
                            <label class="col-form-label"><strong class="text-secondary">Choose Type</strong></label>
                            <div class="form-check-inline ml-3">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="Type" value="1" /> All Customer
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="Type" value="2" checked /> District wise
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                    <input type="radio" class="form-check-input" name="Type" value="3" /> Version update
                                </label>
                            </div>
                        </div>
                        <div class="form-group divDistrict">
                            <label class="col-form-label">Select District</label>
                            <select id="select-district" class="form-control" name="District" multiple></select>
                        </div>
                        <div class="form-group divClass">
                            <label class="col-form-label">Title</label>
                            <input type="text" name="Title" class="form-control" placeholder="Enter Title" required />
                        </div>
                        <div class="form-group divClass">
                            <label class="col-form-label">Image Url</label>
                            <input type="text" name="ImagePath" class="form-control" placeholder="Image Url" />
                        </div>
                        <div class="form-group divClass">
                            <label class="col-form-label">Message</label>
                            <textarea rows="5" name="Message" class="form-control" placeholder="Enter the notification message here.." spellcheck="true" required></textarea>
                        </div>
                        <div class="mx-auto col-6"> <input type="submit" value="Send" class="btn btn-success btn-block" /></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow h-100">
                <div class="card-body">
                    <h5 class="text-success" style="letter-spacing:1px">Customer Count</h5>
                    <div style="height:530px;overflow-y:auto;">
                        @Html.Grid(Model.ListItems).Columns(columns =>
                              {
                             columns.Add(s => s.DistrictName).Titled("District Name").Filterable(true).SetWidth(30);
                             columns.Add(s => s.Count).Titled("Count").Filterable(true).SetWidth(8);
                         }).Sortable(true)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert/sweetalert.min.js"></script>
    <link href="~/Content/sweetalert/sweetalert.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        $(document).ready(function () {
              var errormsg = "@ViewBag.ErrorMessage";
                var msg = "@ViewBag.Message";
                if (errormsg != "") {
                    swal("Notice!", errormsg, "warning")
                }
                if (msg != "") {
                    swal("Success!", msg, "success")
                }

            $('[name="Type"]').on('change', function () {
                let type = parseInt($(this).val());
                if (type == 1 || type == 3) {
                    $('.divDistrict').addClass("d-none");
                }
                if (type == 2) {
                    $('.divDistrict').removeClass("d-none");
                }
            });

            $('#select-district').select2({
                placeholder: "Search District",
                ajax: {
                    url: "/Customer/GetDistrictSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            });
            //    .on('select2:select', function (e) {
            //    $('input[name="ShopName"]').val(e.params.data.text);
            //});

        });
    </script>
}
