@model ShopNow.ViewModels.StaffCreateEditViewModel
@{
    ViewBag.Title = "Staff Details";
}
<title>ShopNow | Staff Details</title>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h5 class="mt-1" style="letter-spacing:1px">STAFF DETAILS</h5>
        </div>
        <div class="col-md-8 text-right">
            <a href="~/Staff/List" target="_blank"><span class="fa fa-bars"></span>&nbsp;Staff List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            @foreach (var item in Model.List)
            {
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="col-md-12 text-center mb-4">
                                    <a href="~/Home/ImageDenied">
                                        <img class="img-container h-100" src="@Model.ImagePath" onerror="this.src='/Images/No Photo.png'" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <p class="col-md-12 font-weight-bold"><span><i class="fa fa-user text-theme_light mr-3" aria-hidden="true"></i></span>@Model.Name</p>
                                <p class="col-md-12"><span><i class="fa fa-phone text-theme_light mr-3" aria-hidden="true"></i></span>@Model.PhoneNumber</p>
                                <p class="col-md-12"><span><i class="fa fa-building text-theme_light mr-3" aria-hidden="true"></i></span>@Model.ShopName</p>
                                <p class="col-md-12"><span><i class="fa fa-map-marker text-theme_light mr-3" aria-hidden="true"></i>@item.Address</span></p>
                                <p class="col-md-12"><span><i class="fa fa-clock-o text-theme_light mr-3" aria-hidden="true"></i>Shop Working Hours</span></p>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-sm-10 mx-auto">
                                            <div class="form-group row">
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Monday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.MondayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.MondayCloseTime</span></div>
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Tuesday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.TuesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.TuesdayCloseTime</span></div>
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Wednesday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.WednesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.WednesdayCloseTime</span></div>
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Thursday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.TuesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.TuesdayCloseTime</span></div>
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Friday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.FridayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.FridayCloseTime</span></div>
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Saturday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.SaturdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.SaturdayCloseTime</span></div>
                                                <div class="col-lg-4 text-md-left">
                                                    <label class="col-form-label text-secondary font-weight-normal">Sunday</label>
                                                </div>
                                                <div class="col-md-8 mt-2"><span>@item.SundayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.SundayCloseTime</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<!--
<div class="row">
    <div class="col-md-12 mx-auto">
        @foreach (var item in Model.List)
        {
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">



                        <div class="col-md-12">
                            <h2 class="text-center text-capitalize">
                                @if (item.Name != null)
                                {<span>@item.Name</span>}
                            </h2>
                            <h5 class="text-center text-secondary">
                                @if (item.Address != null)
                                {<span>@item.Address</span>}
                            </h5>
                        </div>
                        <div class="col-md-12"><hr style="height:3px;border-width:0;color:gray;background-color:gray"></div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <h5 class="text-success">Staff Details</h5>
                                </div>
                                <div class="col-md-4">
                                    <label><strong class="text-secondary">Staff Name:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <label class="font-weight-bold">@Model.Name</label>
                                </div>
                                <div class="col-md-4">
                                    <label><strong class="text-secondary">Phone Number:</strong></label>
                                </div>
                                <div class="col-md-8">
                                    <label class="font-weight-bold"> @Model.PhoneNumber</label>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <label><strong class="text-secondary">Photo</strong></label>
                                </div>
                                <div class="col-md-12 mt-2">
                                    <img class="img-container h-100" src="@Model.ImagePath" onerror="this.src='/Images/No Photo.png'" />
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12 text-md-left form-group row">
                                        <label class="col-form-label"><strong class="text-secondary">Opening Hours</strong></label>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-sm-10 form-group row">
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Monday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.MondayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.MondayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Tuesday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.TuesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.TuesdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Wednesday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.WednesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.WednesdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Thursday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.TuesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.TuesdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Friday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.FridayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.FridayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Saturday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.SaturdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.SaturdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Sunday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@item.SundayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@item.SundayCloseTime</span></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
-->
