@model ShopNow.ViewModels.ShopEditViewModel
@{
    ViewBag.Title = "Shop Details";
}
<title>ShopNow | Shop Details</title>
<div class="container my-0">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="~/Shop/Edit" target="_blank" class="text-warning mr-2"><span class="fa fa-pencil-square"></span>&nbsp;Shop Update</a>
            <a href="~/Shop/List" target="_blank"><span class="fa fa-bars"></span>&nbsp;Shop List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card mb-4">
                <div class="card-body row">
                    <div class="row"></div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 text-center">
                                <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalLogoImage" title="Click Here To Preview!">
                                    <img src="@Model.ImageLogoPath" class="LogoImage" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                </a>
                            </div>
                            <div class="col-md-10 mx-auto">
                                <div></div>
                                <h2 class="text-center text-capitalize">
                                    @if (Model.Name != null)
                                    {<span>@Model.Name</span>}                                    
                                @*else
                                    {<span>N/A</span>}*@
                                </h2>
                                <h5 class="text-center text-secondary">
                                    @if (Model.Address != null)
                                    {<span>@Model.Address</span>}
                                @*else
                                    {<span>N/A</span>}*@
                                </h5>
                                <h6 class="text-center text-secondary">
                                    <span>
                                        <label>
                                            @if (Model.PhoneNumber != null && Model.PhoneNumber != "")
                                            {
                                                <span>@Model.PhoneNumber</span>
                                                <span class="font-weight-bold"> &nbsp; | &nbsp;</span>
                                            }        
                                        </label>
                                    </span>
                                    <span>
                                        <label>
                                            @if (Model.OfficialEmail != null)
                                            {<span>@Model.OfficialEmail</span>}            
                                        </label>
                                    </span>
                                    <span>
                                        <label>
                                            @if (Model.Website != null && Model.Website != "")
                                            {
                                                <span class="font-weight-bold"> &nbsp; | &nbsp;</span>
                                                <a href="@Model.Website" target="_blank">@Model.Website</a>
                                            }                            
                                        </label>
                                    </span>
                                    </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12"><hr style="height:3px;border-width:0;color:gray;background-color:gray"></div>
                    <div class="col-md-7">
                        <div class="form-group row">
                            <div class="col-md-4 text-md-left">
                                <label class="col-form-label"><strong class="text-secondary">Shop Type</strong></label>
                            </div>
                            <div class="col-md-8">
                                <label>
                                    @if (Model.ShopCategoryName != null)
                                    {<span>@Model.ShopCategoryName</span>}
                                else
                                {<span class="text-warning">Not Specified</span>}
                                </label>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="col-form-label"><strong class="text-secondary">Shop Image</strong></label>
                                    </div>
                                    <div class="col-md-6">
                                        @if (Model.ImagePath != null)
                                        {
                                            <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalShopImage" title="Click Here To Preview!">
                                                <img src="@Model.ImagePath" class="img-thumbnail  ShopImage" width="150" height="150" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                @*<div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="col-form-label"><strong class="text-secondary">Shop Banner</strong></label>
                                    </div>
                                    <div class="col-md-6">
                                        @if (Model.ImageBannerPath != null)
                                        {
                                            <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalBanner" title="Click Here To Preview!">
                                                <img src="@Model.ImageBannerPath" class="img-thumbnail BannerImage" width="150" height="150" onerror="this.src='/Images/No Photo.png'" />
                                            </a>
                                        }
                                    </div>
                                </div>*@
                            </div>
                            <hr class="col-md-11 sn_theme-gradient" />
                            <div class="col-md-12">
                                <div class="row">
                                    <h5 class="col-md-12 text-success">Proprietor Details</h5>
                                    <div class="col-md-8">
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label class=""><strong class="text-secondary">Name</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    @if (Model.AadharName != null)
                                                    {<span>@Model.AadharName</span>}
                                                else
                                                {<span>N/A</span>}
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class=""><strong class="text-secondary">Mobile Number</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    @if (Model.OwnerPhoneNumber != null)
                                                    {<span>@Model.OwnerPhoneNumber</span>}
                                                else
                                                {<span>N/A</span>}
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class=""><strong class="text-secondary">Email</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    @if (Model.Email != null)
                                                    {<span>@Model.Email</span>}
                                                else
                                                {<span>N/A</span>}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        @if (Model.ImageAadharPath != null)
                                        {
                                            <label class="col-md-12"><small class="text-secondary"><i>Aadhar Image</i></small></label>
                                            <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalAadhar" title="Click Here To Preview!">
                                                <img id='img-aadhar' src="@Model.ImageAadharPath" class="img-thumbnail AadharImage text-center" width="100" height="50" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <label class="col-form-label col-md-12"><strong class="text-secondary">Opening Hours</strong></label>
                                    <div class="col-sm-10 text-center form-group row">
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Monday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.MondayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.MondayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Tuesday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.TuesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.TuesdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Wednesday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.WednesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.WednesdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Thursday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.TuesdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.TuesdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Friday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.FridayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.FridayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Saturday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.SaturdayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.SaturdayCloseTime</span></div>
                                        <div class="col-lg-4 text-md-left">
                                            <label class="col-form-label text-secondary font-weight-normal">Sunday</label>
                                        </div>
                                        <div class="col-md-8 mt-2"><span>@Model.SundayOpenTime</span>&nbsp;<span class="font-weight-bold"> - </span>&nbsp;<span>@Model.SundayCloseTime</span></div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 text-md-left">
                                <label class="col-form-label"><strong class="text-secondary">Customer Rating</strong></label>
                            </div>
                            <div class="col-md-6 mt-1">
                                <label>
                                    @if (Model.Rating != 0)
                                    {<span>@Model.Rating</span>}
                                else
                                {<span>N/A</span>}
                                </label>
                            </div>
                            <div class="col-md-6 text-md-left">
                                <label class="col-form-label"><strong class="text-secondary">Customer Review</strong></label>
                            </div>
                            <div class="col-md-6 mt-1">
                                <label>
                                    @if (Model.CustomerReview != 0)
                                    {<span>@Model.CustomerReview</span>}
                                else
                                {<span>N/A</span>}
                                </label>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>

            <div class="card mb-4">
                <div class="col-md-12 mx-auto">
                    <div class="card-body row">
                        <h5 class="col-md-12 text-success">License Details</h5>
                        <div class="col-md-12">
                            <div class="card-deck">
                                <div class="card border-theme_light bg-muted">
                                    <div class="card-body text-center mx-auto">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">FSSAI License</strong></label>
                                        <label class="col-md-12 text-center">
                                            @if (Model.FSSAINumber != null)
                                            {<span>@Model.FSSAINumber</span>}
                                        else
                                        {<span>N/A</span>}
                                        </label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalFSSAI" title="Click Here To Preview!">
                                            <img id='img-fssai' src="@Model.ImageFSSAIPath" class="img-thumbnail FSSAIImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                                <div class="card border-theme_light bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">Drug License</strong></label>
                                        <label class="col-md-12">
                                            @if (Model.DrugNumber != null)
                                            {<span>@Model.DrugNumber</span>}
                                        else
                                        {<span style="color:orangered">Not Specified</span>}
                                        </label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalDrug" title="Click Here To Preview!">
                                            <img id='img-drug' src="@Model.ImageDrugPath" class="img-thumbnail DrugImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                                <div class="card border-theme_light  bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">Establish License</strong></label>
                                        <label class="col-md-12">
                                            @if (Model.EstablishNumber != null)
                                            {<span>@Model.EstablishNumber</span>}
                                        else
                                        {<span style="color:orangered">Not Specified</span>}
                                        </label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalEstablishLicense" title="Click Here To Preview!">
                                            <img id='img-establish' src="@Model.ImageEstablishPath" class="img-thumbnail EstablishLicenseImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                                <div class="card border-theme_light bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">Other License</strong></label>
                                        <label class="col-md-12">
                                            @if (Model.OtherLicenseName != null)
                                            {<span class="text-info font-weight-bold">@Model.OtherLicenseName</span>}
                                        else
                                        {<span style="color:orangered">Not specified</span>}
                                        </label>
                                        <label class="col-md-12">
                                            @if (Model.OtherLicenseNumber != null)
                                            {<span>@Model.OtherLicenseNumber</span>}
                                        else
                                        {<span style="color:orangered">N/A</span>}
                                        </label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalOtherLicense" title="Click Here To Preview!">
                                            <img src="@Model.ImageOtherLicensePath" class="img-thumbnail OtherLicense mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="col-md-12 mx-auto">
                    <div class="card-body row">
                        <h5 class="col-md-12 text-success">Tax Details</h5>
                        <div class="col-md-6">
                            <div class="card-deck">
                                <div class="card border-theme_light bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">GSTIN</strong></label>
                                        <label class="col-md-12">
                                            @if (Model.GSTINNumber != null)
                                            {<span>@Model.GSTINNumber</span>}
                                        else
                                        {<span style="color:orangered">Not Specified</span>}
                                        </label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalGST" title="Click Here To Preview!">
                                            <img src="@Model.ImageGSTINPath" class="img-thumbnail GstImg mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                                <div class="card border-theme_light bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">PAN</strong></label>
                                        <label class="col-md-12">
                                            @if (Model.PanNumber != null)
                                            {<span>@Model.PanNumber</span>}
                                        else
                                        {<span style="color:orangered">Not Specified</span>}
                                        </label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalPan" title="Click Here To Preview!">
                                            <img src="@Model.ImagePanPath" class="img-thumbnail PanImg mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="col-md-12 mx-auto">
                    <div class="card-body row">
                        <h5 class="col-md-12 text-success">Bank Details</h5>
                        <div class="col-md-8">
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <small class="control-label col-sm-12" for="BankName"><i class="text-secondary">Bank</i></small>
                                    <label>
                                        @if (Model.BankName != null)
                                        {<span>@Model.BankName</span>}
                                    else
                                    {<span>N/A</span>}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <small class="control-label col-sm-12" for="AccountName"><i class="text-secondary">Account Name</i></small>
                                    <label>
                                        @if (Model.AccountName != null)
                                        {<span>@Model.AccountName</span>}
                                    else
                                    {<span>N/A</span>}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <small class="control-label col-sm-12" for="AccountNumber"><i class="text-secondary">Account No.</i></small>
                                    <label>
                                        @if (Model.AccountNumber != null)
                                        {<span>@Model.AccountNumber</span>}
                                    else
                                    {<span>N/A</span>}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <small class="control-label col-sm-12" for="IfscCode"><i class="text-secondary">IFSC Code</i></small>
                                    <label>
                                        @if (Model.IFSCCode != null)
                                        {<span>@Model.IFSCCode</span>}
                                    else
                                    {<span>N/A</span>}
                                    </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <small class="control-label col-sm-12" for="SwiftCode"><i class="text-secondary">SWIFT Code</i></small>
                                    <label>
                                        @if (Model.SwiftCode != null)
                                        {<span>@Model.SwiftCode</span>}
                                    else
                                    {<span>N/A</span>}
                                    </label>
                                </div>
                                <div class="col-md-6">
                                    <small class="control-label col-sm-12" for="UPIID"><i class="text-secondary">UPI ID</i></small>
                                    <label>
                                        @if (Model.UPIID != null)
                                        {<span>@Model.UPIID</span>}
                                    else
                                    {<span>N/A</span>}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card-columns form-group row col-md-12">
                                <div class="card border-success bg-muted">
                                    <div class="card-body text-center">
                                        <label class="col-md-12 text-center"><strong class="text-secondary">Bank Account</strong></label>
                                        <a href="~/Home/ImageDenied" data-toggle="modal" data-target="#myModalBankPassbook" title="Click Here To Preview!">
                                            <img id='img-account' src="@Model.ImageAccountPath" class="img-thumbnail BankPassbookImage text-center mb-2" width="300" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalLogoImage" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="LogoImage">
        </a>
    </div>
</div>

<div id="myModalShopImage" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="ShopImage">
        </a>
    </div>
</div>

<div id="myModalAadhar" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="AadharImage">
        </a>
    </div>
</div>

<div id="myModalBanner" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="BannerImage">
        </a>
    </div>
</div>

<div id="myModalFSSAI" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="FSSAIImage">
        </a>
    </div>
</div>

<div id="myModalDrug" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="DrugImage">
        </a>
    </div>
</div>

<div id="myModalEstablishLicense" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="ELImage">
        </a>
    </div>
</div>

<div id="myModalOtherLicense" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="OtherLicenseImage">
        </a>
    </div>
</div>

<div id="myModalGST" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="GSTImage">
        </a>
    </div>
</div>

<div id="myModalPan" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="PANImage">
        </a>
    </div>
</div>

<div id="myModalBankPassbook" class="modal fade">
    <div class="modal-dialog">
        <span class="close" data-dismiss="modal">&times;</span>
        <a href="~/Home/ImageDenied">
            <img class="modal-content" id="BankPassbook">
        </a>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>
        function myDistributionFunction() {
            var checkBox = document.getElementById("distributorCheck");
            if (checkBox.checked == true) {
                $('.distributor').removeClass('d-none');
            } else {
                $('.distributor').addClass('d-none');
            }
        }

        $(document).ready(function () {
            var modalLogo = document.getElementById('myModalLogoImage');
            var imgLogo= document.getElementsByClassName('LogoImage');
            var modalImgLogo= document.getElementById("LogoImage");
            $(imgLogo).click(function () {
                modalLogo.style.display = "block";
                modalImgLogo.src = this.src;               
                if (this.src == "") {
                    $('#myModalLogoImage').hide();
                }
                else {
                    $('#myModalLogoImage').modal('show');
                }
            });

            var modalShop = document.getElementById('myModalShopImage');
            var imgShop = document.getElementsByClassName('ShopImage');
            var modalImgShop = document.getElementById("ShopImage");
            $(imgShop).click(function () {
                modalShop.style.display = "block";
                modalImgShop.src = this.src;
                if (this.src == "") {
                    $('#myModalShopImage').hide();
                }
                else {
                    $('#myModalShopImage').modal('show');
                }
            });

            var modalBanner= document.getElementById('myModalBanner');
            var imgBanner = document.getElementsByClassName('BannerImage');
            var modalImgBanner = document.getElementById("BannerImage");
            $(imgBanner).click(function () {
                modalBanner.style.display = "block";
                modalImgBanner.src = this.src;
                if (this.src == "") {
                    $('#myModalBanner').hide();
                }
                else {
                    $('#myModalBanner').modal('show');
                }
            });

            var modalAadhar = document.getElementById('myModalAadhar');
            var imgAadhar = document.getElementsByClassName('AadharImage');
            var modalImgAadhar = document.getElementById("AadharImage");
            $(imgAadhar).click(function () {
                modalAadhar.style.display = "block";
                modalImgAadhar.src = this.src;
                if (this.src == "") {
                    $('#myModalAadhar').hide();
                }
                else {
                    $('#myModalAadhar').modal('show');
                }
            });

            var modalFSSAI = document.getElementById('myModalFSSAI');
            var imgFSSAI = document.getElementsByClassName('FSSAIImage');
            var modalImgFSSAI = document.getElementById("FSSAIImage");
            $(imgFSSAI).click(function () {
                modalFSSAI.style.display = "block";
                modalImgFSSAI.src = this.src;
                if (this.src == "") {
                    $('#myModalFSSAI').hide();
                }
                else {
                    $('#myModalFSSAI').modal('show');
                }
            });

            var modalDrug = document.getElementById('myModalDrug');
            var imgDrug = document.getElementsByClassName('DrugImage');
            var modalImgDrug = document.getElementById("DrugImage");
            $(imgDrug).click(function () {
                modalDrug.style.display = "block";
                modalImgDrug.src = this.src;
                if (this.src == "") {
                    $('#myModalDrug').hide();
                }
                else {
                    $('#myModalDrug').modal('show');
                }
            });

            var modalEL = document.getElementById('myModalEstablishLicense');
            var imgEL = document.getElementsByClassName('EstablishLicenseImage');
            var modalImgEL = document.getElementById("ELImage");
            $(imgEL).click(function () {
                modalEL.style.display = "block";
                modalImgEL.src = this.src;
                if (this.src == "") {
                    $('#myModalEstablishLicense').hide();
                }
                else {
                    $('#myModalEstablishLicense').modal('show');
                }
            });

            var modalOtherLicense = document.getElementById('myModalOtherLicense');
            var imgOtherLicense = document.getElementsByClassName('OtherLicense');
            var modalImgOtherLicense = document.getElementById("OtherLicenseImage");
            $(imgOtherLicense).click(function () {
                modalOtherLicense.style.display = "block";
                modalImgOtherLicense.src = this.src;
                if (this.src == "") {
                    $('#myModalOtherLicense').hide();
                }
                else {
                    $('#myModalOtherLicense').modal('show');
                }
            });

            var modalGst = document.getElementById('myModalGST');
            var imgGst = document.getElementsByClassName('GstImg');
            var modalImgGst = document.getElementById("GSTImage");
            $(imgGst).click(function () {
                modalGst.style.display = "block";
                modalImgGst.src = this.src;
                if (this.src == "") {
                    $('#myModalGST').hide();
                }
                else {
                    $('#myModalGST').modal('show');
                }
            });

            var modal = document.getElementById('myModalPan');
            var img = document.getElementsByClassName('PanImg');
            var modalImg = document.getElementById("PANImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModalPan').hide();
                }
                else {
                    $('#myModalPan').modal('show');
                }
            });
            var modal2 = document.getElementById('myModalBankPassbook');
            var img2 = document.getElementsByClassName('BankPassbookImage');
            var modalImg2 = document.getElementById("BankPassbook");
            $(img2).click(function () {
                modal2.style.display = "block";
                modalImg2.src = this.src;
                if (this.src == "") {
                    $('#myModalBankPassbook').hide();
                }
                else {
                    $('#myModalBankPassbook').modal('show');
                }
            });
            $(function () {
                var $radios = $('input:radio[name=distributorCheck]');
                if ($radios.is(':checked') === true) {
                    $('.distributor').removeClass('d-none');
                } else {
                    $('.distributor').addClass('d-none');
                }
            });

            $('input:radio[name="distributorCheck"]').change(
                function () {
                    if (this.checked && this.value == 'yes') {
                        $('.distributor').removeClass('d-none');
                    } else {
                        $('.distributor').addClass('d-none');
                    }
                });

            $('#AuthorisedBrandCode').select2({
                placeholder: "Search Staff",
                ajax: {
                    url: "/Shop/GetBrandSelect2",
                    width: '100%',
                    delay: 250,
                    dataType: 'json'
                }
            }).on('select2:select', function (e) {
                $('input[name="AuthorisedBrandName"]').val(e.params.data.text);
            });

            var phone = $('#PhoneNumber').val();
            if (phone != null) {
                $('.manualmobile').addClass('d-none');
                $('.mobile').removeClass('d-none');
            } else {
                $('.mobile').addClass('d-none');
                $('.manualmobile').removeClass('d-none');
            }
            var website = $('#Website').val();
            if (website != null) {
                $('.website').removeClass('d-none');
                $('.manualwebsite').addClass('d-none');
            } else {
                $('.website').addClass('d-none');
                $('.manualwebsite').removeClass('d-none');
            }


            $(document).on('change', '.btn-file :file', function () {
                var input = $(this),
                    label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
                input.trigger('fileselect', [label]);
            });

            $('.btn-file :file').on('fileselect', function (event, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = label;

                if (input.length) {
                    input.val(log);
                } else {
                    if (log) alert(log);
                }

            });

            function readAuthoriseURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-authorise').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#AuthorisedDistributorImage").change(function () {
                readAuthoriseURL(this);
            });

            function readOtherLicenseURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-other').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#OtherLicenseImage").change(function () {
                readOtherLicenseURL(this);
            });
            function readEstablishURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-establish').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#EstablishImage").change(function () {
                readEstablishURL(this);
            });
            function readDrugURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-drug').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#DrugImage").change(function () {
                readDrugURL(this);
            });
            function readFssaiURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-fssai').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#FSSAIImage").change(function () {
                readFssaiURL(this);
            });

            function readURLPan(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-pan').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#PanImage").change(function () {
                readURLPan(this);
            });

            function readURLGstin(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-gstin').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#GSTINImage").change(function () {
                readURLGstin(this);
            });

            function readURLAccount(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-account').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#AccountImage").change(function () {
                readURLAccount(this);
            });
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-upload').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#ShopImage").change(function () {
                readURL(this);
            });
            function readURLLogo(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-logo').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#LogoImage").change(function () {
                readURLLogo(this);
            });

            function readURLBanner(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-banner').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#BannerImage").change(function () {
                readURLBanner(this);
            });

            function readURLLicence(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-license').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#LicenseImage").change(function () {
                readURLLicence(this);
            });

            function readURLLicence(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('#img-aadhar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#AadharImage").change(function () {
                readURLLicence(this);
            });
        });
    </script>
}


