@model ShopNow.ViewModels.ShopEditViewModel
@{
    ViewBag.Title = "Shop Details";
}
<title>ShopNow | Shop Details</title>
<div class="container my-0">
    <div class="row">
        <div class="col-md-8">
            <h4 class="text-success">Shop Details</h4>
        </div>
        <div class="col-md-4 text-right">
            <a href="~/Shop/List" target="_blank"><span class="fa fa-bars"></span>&nbsp;Shop List</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card shadow">
                <div class="card-body">
                    <div class="card border-0 mb-4">
                        <div class="card-body row">
                            <div class="col-md-12 row">
                                <div class="col-md-2 mx-auto">
                                    <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalShopImage" title="Click Here To Preview!">
                                        <img src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePath" class="img-thumbnail ShopImage" width="150" height="150" onerror="this.src='/Images/noimage.png'" />
                                    </a>
                                </div>
                                <div class="col-md-10 mx-auto">
                                    <div></div>
                                    <h2 class="text-center text-capitalize">
                                        @if (Model.Name != null)
                                        {<span class="text-warning">@Model.Name</span>}
                                    </h2>
                                    <h5 class="text-center text-secondary">
                                        @if (Model.Address != null)
                                        {<span>@Model.Address</span>}
                                    </h5>
                                    <h6 class="text-center text-secondary">
                                        <span>
                                            <label>
                                                @if (Model.PhoneNumber != null)
                                                {<span>@Model.PhoneNumber</span>}
                                            </label>
                                        </span>
                                        <span class="font-weight-bold"> &nbsp;  &nbsp;</span>
                                        <span>
                                            <label>
                                                @if (Model.OfficialEmail != null)
                                                {<span>@Model.OfficialEmail</span>}
                                            </label>
                                        </span>
                                        <span class="font-weight-bold"> &nbsp;  &nbsp;</span>
                                        <span>
                                            <label>
                                                @if (Model.Website != null)
                                                {<a href="" target="_blank">@Model.Website</a>}
                                            </label>
                                        </span>
                                    </h6>
                                </div>
                            </div>
                            <div class="col-md-12"><hr style="height:3px;border-width:0;color:deepskyblue;background-color:deepskyblue"></div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2">
                                        <label class="col-form-label"><strong class="text-secondary">Shop Type</strong></label>
                                    </div>
                                    <div class="col-md-2 mt-2">
                                        <label>
                                            @if (Model.ShopCategoryName != null)
                                            {<span>@Model.ShopCategoryName</span>}
                                        else
                                        {<span class="text-warning">Not Specified</span>}
                                        </label>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <div class="col-md-2 text-right">
                                        <label class="col-form-label"><strong class="text-secondary">Logo Image</strong></label>
                                    </div>
                                    <div class="col-md-3">
                                        <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalLogoImage" title="Click Here To Preview!">
                                            <img src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageLogoPath" class="img-thumbnail LogoImage" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                        </a>
                                    </div>
                                    <div class="col-md-1"></div>
                                </div>
                                <hr class="text-secondary" />
                                <div class="form-group row mt-3">
                                    <h5 class="col-md-12 text-success">Proprietor Details</h5>
                                    <div class="col-md-8 mt-3">
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label class=""><strong class="text-secondary">Name</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    @if (Model.AadharName != null)
                                                    {<span>@Model.AadharName</span>}
                                                else
                                                {<span>N/A</span>}
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class=""><strong class="text-secondary">Mobile Number</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    @if (Model.OwnerPhoneNumber != null)
                                                    {<span>@Model.OwnerPhoneNumber</span>}
                                                else
                                                {<span>N/A</span>}
                                                </label>
                                            </div>
                                            <div class="col-md-6">
                                                <label class=""><strong class="text-secondary">Email</strong></label>
                                            </div>
                                            <div class="col-md-6">
                                                <label>
                                                    @if (Model.Email != null)
                                                    {<span>@Model.Email</span>}
                                                else
                                                {<span>N/A</span>}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <div class="card border-info bg-muted">
                                            <div class="card-body">
                                                <label class="col-md-12"><strong class="text-secondary"><i>Aadhar Image</i></strong></label>
                                                <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalAadhar" title="Click Here To Preview!">
                                                    <img id='img-aadhar' src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageAadharPath" class="img-thumbnail AadharImage" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body row">
                            <h5 class="col-md-12 my-2 text-success">License Details</h5>
                            <div class="col-md-12">
                                <div class="card-deck">
                                    <div class="card border-info bg-muted">
                                        <div class="card-body text-center mx-auto">
                                            <label class="col-md-12 text-center"><strong class="text-secondary">FSSAI License</strong></label>
                                            <label class="col-md-12 text-center">
                                                @if (Model.FSSAINumber != null)
                                                {<span>@Model.FSSAINumber</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                            <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalFSSAI" title="Click Here To Preview!">
                                                <img id='img-fssai' src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageFSSAIPath" class="img-thumbnail FSSAIImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card border-info bg-muted">
                                        <div class="card-body text-center">
                                            <label class="col-md-12 text-center"><strong class="text-secondary">Drug License</strong></label>
                                            <label class="col-md-12">
                                                @if (Model.DrugNumber != null)
                                                {<span>@Model.DrugNumber</span>}
                                            else
                                            {<span style="color:orangered">Not Specified</span>}
                                            </label>
                                            <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalDrug" title="Click Here To Preview!">
                                                <img id='img-drug' src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageDrugPath" class="img-thumbnail DrugImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card border-info bg-muted">
                                        <div class="card-body text-center">
                                            <label class="col-md-12 text-center"><strong class="text-secondary">Establish License</strong></label>
                                            <label class="col-md-12">
                                                @if (Model.EstablishNumber != null)
                                                {<span>@Model.EstablishNumber</span>}
                                            else
                                            {<span style="color:orangered">Not Specified</span>}
                                            </label>
                                            <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalEstablishLicense" title="Click Here To Preview!">
                                                <img id='img-establish' src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageEstablishPath" class="img-thumbnail EstablishLicenseImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card border-info bg-muted">
                                        <div class="card-body text-center">
                                            <label class="col-md-12 text-center"><strong class="text-secondary">Other License</strong></label>
                                            <label class="col-md-12">
                                                @if (Model.OtherLicenseName != null)
                                                {<span class="text-info font-weight-bold">@Model.OtherLicenseName</span>}
                                            else
                                            {<span style="color:orangered">Not specified</span>}
                                            </label>
                                            <label class="col-md-12">
                                                @if (Model.OtherLicenseNumber != null)
                                                {<span>@Model.OtherLicenseNumber</span>}
                                            else
                                            {<span style="color:orangered">N/A</span>}
                                            </label>
                                            <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalOtherLicense" title="Click Here To Preview!">
                                                <img src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageOtherLicensePath" class="img-thumbnail OtherLicense mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body row">
                            <h5 class="col-md-12 my-2 text-success">Tax Details</h5>
                            <div class="col-md-6">
                                <div class="card-deck">
                                    <div class="card border-info bg-muted">
                                        <div class="card-body text-center">
                                            <label class="col-md-12 text-center"><strong class="text-secondary">GSTIN</strong></label>
                                            <label class="col-md-12">
                                                @if (Model.GSTINNumber != null)
                                                {<span>@Model.GSTINNumber</span>}
                                            else
                                            {<span style="color:orangered">Not Specified</span>}
                                            </label>
                                            <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalGST" title="Click Here To Preview!">
                                                <img src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageGSTINPath" class="img-thumbnail GstImg mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card border-info bg-muted">
                                        <div class="card-body text-center">
                                            <label class="col-md-12 text-center"><strong class="text-secondary">PAN</strong></label>
                                            <label class="col-md-12">
                                                @if (Model.PanNumber != null)
                                                {<span>@Model.PanNumber</span>}
                                            else
                                            {<span style="color:orangered">Not Specified</span>}
                                            </label>
                                            <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalPan" title="Click Here To Preview!">
                                                <img src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImagePanPath" class="img-thumbnail PanImg mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="text-success my-2">Bank Details</h5>
                            <div class="row mt-3 ml-2">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <small class="control-label col-sm-12" for="BankName"><i class="text-secondary">Bank Name</i></small>
                                            <label>
                                                @if (Model.BankName != null)
                                                {<span>@Model.BankName</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="control-label col-sm-12" for="AccountName"><i class="text-secondary">Account Name</i></small>
                                            <label>
                                                @if (Model.AccountName != null)
                                                {<span>@Model.AccountName</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <small class="control-label col-sm-12" for="AccountNumber"><i class="text-secondary">Account Number</i></small>
                                            <label>
                                                @if (Model.AccountNumber != null)
                                                {<span>@Model.AccountNumber</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="control-label col-sm-12" for="IfscCode"><i class="text-secondary">IFSC Code</i></small>
                                            <label>
                                                @if (Model.IFSCCode != null)
                                                {<span>@Model.IFSCCode</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <small class="control-label col-sm-12" for="SwiftCode"><i class="text-secondary">SWIFT Code</i></small>
                                            <label>
                                                @if (Model.SwiftCode != null)
                                                {<span>@Model.SwiftCode</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <small class="control-label col-sm-12" for="UPIID"><i class="text-secondary">UPI ID</i></small>
                                            <label>
                                                @if (Model.UPIID != null)
                                                {<span>@Model.UPIID</span>}
                                            else
                                            {<span>N/A</span>}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card-columns form-group row col-md-12">
                                        <div class="card border-info bg-muted">
                                            <div class="card-body text-center">
                                                <label class="col-md-12 text-center"><strong class="text-secondary">Passbook</strong></label>
                                                <a href="~/Shop/ImageProtected" data-toggle="modal" data-target="#myModalBankPassbook" title="Click Here To Preview!">
                                                    <img src="https://s3.ap-south-1.amazonaws.com/shopnowchat.com/Medium/@Model.ImageAccountPath" class="img-thumbnail BankPassbookImage mb-2" width="100" height="100" onerror="this.src='/Images/noimage.png'" />
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModalLogoImage" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="LogoImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalShopImage" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="ShopImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalAadhar" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="AadharImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalFSSAI" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="FSSAIImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalDrug" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="DrugImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalEstablishLicense" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="ELImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalOtherLicense" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="OtherLicenseImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalGST" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="GSTImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalPan" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="PANImage">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="myModalBankPassbook" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" data-dismiss="modal">&times;</span>
            </div>
            <div class="modal-body">
                <a href="~/Home/ImageDenied">
                    <img class="modal-content" id="BankPassbook">
                </a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <!--Select2-->
    <script src="~/Scripts/select2/js/select2.js"></script>
    <link href="~/Scripts/select2/css/select2.css" rel="stylesheet" />
    <link href="~/Content/select2/select2.custom.css" rel="stylesheet" />
    <!--Select2 End-->
    <script>

        $(document).ready(function () {
            var modalLogo = document.getElementById('myModalLogoImage');
            var imgLogo = document.getElementsByClassName('LogoImage');
            var modalImgLogo = document.getElementById("LogoImage");
            $(imgLogo).click(function () {
                modalLogo.style.display = "block";
                modalImgLogo.src = this.src;
                if (this.src == "") {
                    $('#myModalLogoImage').hide();
                }
                else {
                    $('#myModalLogoImage').modal('show');
                }
            });

            var modalShop = document.getElementById('myModalShopImage');
            var imgShop = document.getElementsByClassName('ShopImage');
            var modalImgShop = document.getElementById("ShopImage");
            $(imgShop).click(function () {
                modalShop.style.display = "block";
                modalImgShop.src = this.src;
                if (this.src == "") {
                    $('#myModalShopImage').hide();
                }
                else {
                    $('#myModalShopImage').modal('show');
                }
            });

            var modalAadhar = document.getElementById('myModalAadhar');
            var imgAadhar = document.getElementsByClassName('AadharImage');
            var modalImgAadhar = document.getElementById("AadharImage");
            $(imgAadhar).click(function () {
                modalAadhar.style.display = "block";
                modalImgAadhar.src = this.src;
                if (this.src == "") {
                    $('#myModalAadhar').hide();
                }
                else {
                    $('#myModalAadhar').modal('show');
                }
            });

            var modalFSSAI = document.getElementById('myModalFSSAI');
            var imgFSSAI = document.getElementsByClassName('FSSAIImage');
            var modalImgFSSAI = document.getElementById("FSSAIImage");
            $(imgFSSAI).click(function () {
                modalFSSAI.style.display = "block";
                modalImgFSSAI.src = this.src;
                if (this.src == "") {
                    $('#myModalFSSAI').hide();
                }
                else {
                    $('#myModalFSSAI').modal('show');
                }
            });

            var modalDrug = document.getElementById('myModalDrug');
            var imgDrug = document.getElementsByClassName('DrugImage');
            var modalImgDrug = document.getElementById("DrugImage");
            $(imgDrug).click(function () {
                modalDrug.style.display = "block";
                modalImgDrug.src = this.src;
                if (this.src == "") {
                    $('#myModalDrug').hide();
                }
                else {
                    $('#myModalDrug').modal('show');
                }
            });

            var modalEL = document.getElementById('myModalEstablishLicense');
            var imgEL = document.getElementsByClassName('EstablishLicenseImage');
            var modalImgEL = document.getElementById("ELImage");
            $(imgEL).click(function () {
                modalEL.style.display = "block";
                modalImgEL.src = this.src;
                if (this.src == "") {
                    $('#myModalEstablishLicense').hide();
                }
                else {
                    $('#myModalEstablishLicense').modal('show');
                }
            });

            var modalOtherLicense = document.getElementById('myModalOtherLicense');
            var imgOtherLicense = document.getElementsByClassName('OtherLicense');
            var modalImgOtherLicense = document.getElementById("OtherLicenseImage");
            $(imgOtherLicense).click(function () {
                modalOtherLicense.style.display = "block";
                modalImgOtherLicense.src = this.src;
                if (this.src == "") {
                    $('#myModalOtherLicense').hide();
                }
                else {
                    $('#myModalOtherLicense').modal('show');
                }
            });

            var modalGst = document.getElementById('myModalGST');
            var imgGst = document.getElementsByClassName('GstImg');
            var modalImgGst = document.getElementById("GSTImage");
            $(imgGst).click(function () {
                modalGst.style.display = "block";
                modalImgGst.src = this.src;
                if (this.src == "") {
                    $('#myModalGST').hide();
                }
                else {
                    $('#myModalGST').modal('show');
                }
            });

            var modal = document.getElementById('myModalPan');
            var img = document.getElementsByClassName('PanImg');
            var modalImg = document.getElementById("PANImage");
            $(img).click(function () {
                modal.style.display = "block";
                modalImg.src = this.src;
                if (this.src == "") {
                    $('#myModalPan').hide();
                }
                else {
                    $('#myModalPan').modal('show');
                }
            });

            var modal2 = document.getElementById('myModalBankPassbook');
            var img2 = document.getElementsByClassName('BankPassbookImage');
            var modalImg2 = document.getElementById("BankPassbook");
            $(img2).click(function () {
                modal2.style.display = "block";
                modalImg2.src = this.src;
                if (this.src == "") {
                    $('#myModalBankPassbook').hide();
                }
                else {
                    $('#myModalBankPassbook').modal('show');
                }
            });
       
        });
    </script>
}


